body,html{color:#505050;line-height:1.75em;background:#fff;position:relative;font-family:"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei","Microsoft YaHei UI","Microsoft YaHei",sans-serif}
h1,h2,h3,h4,h5,h6{font-weight:400;color:#303030}
h1{font-size:3em}
h2{font-size:2.5em}
h3{font-size:2em}
h4{font-size:1.5em}
h5{font-size:1em}
h6{font-size:.75em}
a:hover{color:#ee6e50;text-decoration:none}
a img,a:active,a:focus{outline:0}
a{color:#ee6e50;outline:0}
.site-header{text-align:center;color:#fff;margin-bottom:0;padding:62px 0 62px 0;background:url(../images/headbg.png)}
.site-header h1{font-size:50px;color:#fff}
.site-header p{color:#f4f4f4;margin-bottom:15px;font-size:21px;font-weight:200}
.main-navigation{color:#fff;text-align:center;background-color:#e03b3b;border-top:1px solid #ebebeb;margin-bottom:35px;border-bottom:2px solid #e1e1e1}
.navbar-header{text-align:right}
.navbar-header i{height:56px;line-height:56px;font-size:2em;cursor:pointer}
.xs-logo h2{text-align:left;margin-top:10px}
.xs-logo h2 a{color:#303030;font-size:25px}
@media (min-width:768px){.nav-toggle-button{display:none}
}
.main-navigation .menu li{list-style:none;display:inline-block;position:relative}
.main-navigation .menu li.nav-current ,.main-navigation .menu li:hover{border-bottom:2px solid #fff;margin-bottom:-2px}
.main-navigation .menu{padding:0;margin:0;margin-bottom:2px}
.main-navigation .menu li a{color:#fff;line-height:3.3;display:block;padding:0 18px;font-size: 16px;}
.main-navigation .menu li:hover>a{text-decoration:none}
.ar-post-img a{display:block;width:100%;height:100%}
.ar-post a img{width:100%}
.ar-post .post-title{margin:0 0 5px 0;font-size:1.6em;line-height:1.6em}
.ar-post .post-title a{color:#303030}
.ar-post .post-title a:hover{color:#ee6e50}
.content-wrap{margin-top:60px;margin-bottom:50px}
@media (min-width:768px){.nav-toggle-button{display:none}
.content-wrap{margin-top:121px}
}
.ar-post{padding:30px 0 30px 0;border-bottom:1px solid #ebebeb}
.ar-post p{color:#b2b2b2}
.nopic-ar-pos p{text-indent:2em}
.ar-post-img{padding-left:10px}
.ar-post-txt{padding-right:15px;padding-left:0}
.apt h4{display:inline-block;color:#000;line-height:1em;margin-right:20px}
.apt .entit{border-bottom:1px solid #b2b2b2;height:11px;position:relative;margin-top:5px;margin-bottom:8px}
.apt .entit span{color:#b2b2b2;font-size:12px;padding-right:5px;line-height:11px;background:#fff;display:inline-block;position:absolute;bottom:-1px}
.ulist{padding-left:0}
.ulist li{padding:0 55px 0 30px;position:relative;line-height:38px;height:38px;overflow:hidden}
.ulist li .num{position:absolute;left:0;width:20px;height:20px;text-align:center;line-height:20px;top:10px;font-size:16px}
.ulist li .num{color:#ee6e50}
.ulist li .top3{background:#ee6e50;color:#fff}
.ulist li a{color:#333;font-size:1em;height:38px;display:inline-block;overflow:hidden;text-decoration:none}
.ulist li .tm{position:absolute;right:0;font-size:12px;color:#999;top:0;width:35px;line-height:38px;text-align:right}
.logo h3{text-align:center;margin:0;line-height:2em;}
.logo h3 a{color:#fff;font-size: 30px;background-color: #b63434;border-radius: 20px;-webkit-border-radius: 20px;-moz-border-radius: 20px;padding: 3px 15px; }
.first-nav{white-space:nowrap;background-color:#f3f5f6;color:#666;height:40px;line-height:40px;padding:0 50px}
.first-nav ul{margin:0}
.first-nav li{margin-right:25px}
.first-nav a{color:#666;font-size:14px;font-size:1.4rem}
.first-nav .current a{color:#ee6e50}
.bs-example .search{margin-top:3px}
.ar-post-txt p{color:#b2b2b2}
.author,.post-date{color:#b2b2b2}
.sidebar .widget{background:#fff}
.widget .title{margin-top:0;padding-bottom:7px;border-bottom:1px solid #ebebeb;margin-bottom:21px;position:relative}
.widget .tag-cloud a{border:1px solid #ebebeb;padding:2px 7px;color:#959595;line-height:1.5em;display:inline-block;margin:0 7px 7px 0;-webkit-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease}
.widget .tag-cloud a:hover{color:#fff;background:#f4645f;border:1px solid #f4645f;text-decoration:none}
.mt20{margin-top:20px}
.main-footer .widget .title{color:#fff;border-bottom:1px solid #303030}
.main-footer .widget .friend-links a{border:none}
.copyright{background:#111;font-size:13px;text-align:center;color:#555;padding-top:28px;padding-bottom:28px;border-top:1px solid #303030}
.copyright span{margin:0 .5em}
.copyright a{color:#555}
.main-footer{width:100%;background:#202020;padding:35px 0 0;color:#959595}
a.tag-cloud{border:1px solid #ebebeb;padding:2px 7px;color:#959595;line-height:1.5em;display:inline-block;margin:0 7px 7px 0;-webkit-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease}
a.tag-cloud:hover{color:#fff;background:#f4645f;border:1px solid #f4645f;text-decoration:none}
@media (min-width:768px){.z-dropdown-menu{width:750px;left:-720px;top:130%}
}
@media (min-width:992px){.z-dropdown-menu{width:970px;left:-622px;top:130%}
}
@media (min-width:1200px){.z-dropdown-menu{width:1170px;left:-1033px;top:130%}
}
#back-to-top{position:fixed;right:10px;bottom:10px;background:rgba(244,100,95,.6);color:#fff;text-align:center;border-radius:2px;z-index:1;display:none}
#back-to-top i{width:30px;height:30px;line-height:30px}
.p-header-show{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);-webkit-transition:all 900ms cubic-bezier(.19,1,.22,1);-moz-transition:all 900ms cubic-bezier(.19,1,.22,1);-o-transition:all 900ms cubic-bezier(.19,1,.22,1);transition:all 900ms cubic-bezier(.19,1,.22,1)}
.p-header{position:fixed;left:0;top:0px;z-index:10;width:100%;height:100px;color:#909090}
.p-header-hide{-webkit-transform:translateY(-41px);-ms-transform:translateY(-41px);transform:translateY(-41px);-webkit-transition:all 300ms cubic-bezier(.55,.055,.675,.19);-moz-transition:all 300ms cubic-bezier(.55,.055,.675,.19);-o-transition:all 300ms cubic-bezier(.55,.055,.675,.19);transition:all 300ms cubic-bezier(.55,.055,.675,.19)}
.z-page{text-align:center}
.pagination>li>a,.pagination>li>span{color:#f4645f}
.article-detail{margin:0 auto;background-color:#fff}
.article-detail .title h3{line-height:34px;margin-top:58px;margin-bottom:26px}
.content-page{background-color:#f8f8f8}
.whitebg{background-color:#fff}
.article-detail .subtitle span{color:#9e9e9e}
.article-detail .subtitle .time{padding-left:22px}
.article-detail .article-content{word-wrap:break-word;font-size:18px;line-height:30px;color:#5d5d5d;margin:20px 0;overflow:hidden}
.article-detail .article-content p{word-wrap:break-word;font-size:18px;line-height:30px;color:#5d5d5d;margin:20px 0}
.article-content img{width:100%;display:block;margin:0 auto;border-radius:4px}
.pagelet-detailbar .tag-list .lb{font-size:14px;color:#9e9e9e;line-height:40px}
.pagelet-detailbar .tag-list li{background:#fafafa;border:1px solid #efefef;color:#5d5d5d;font-size:14px;padding:8px 18px;margin-right:8px}
@media (max-width:767px){.main-navigation{text-align:left}
.main-navigation .menu li{display:inline-block}
.main-navigation .menu li:hover>a{color:#f4645f;text-decoration:none}
.main-navigation .menu li ul{visibility:visible;padding:0 0 0 20px;margin:0;position:relative;top:0;width:100%;opacity:1;filter:alpha(opacity=100)}
.ar-post .post-title{font-size:1.2em;height:2.3em;line-height:1.2em;overflow:hidden}
.main-navigation .menu li a{padding:0 10px}
.navbar-collapse{padding:0 5px}
a.tag-cloud{display:none}
}
.thumbnail a>img,.thumbnail>img{width:360px;height:240px}
.cnblogs_code{background-color:#f5f5f5;font-family:Courier New!important;font-size:12px!important;border:1px solid #ccc;padding:5px;overflow:auto;margin:5px 0;color:#000}
.cnblogs_code div{background-color:#f5f5f5}
.cnblogs_code_toolbar span{padding-right:5px}
.cnblogs_code span{font-family:Courier New!important;font-size:12px!important;line-height:1.5!important}
#topics a:link{color:#075DB3}
.cnblogs_code_toolbar a:active,.cnblogs_code_toolbar a:hover,.cnblogs_code_toolbar a:link,.cnblogs_code_toolbar a:link img,.cnblogs_code_toolbar a:visited,.cnblogs_code_toolbar a:visited img{background-color:#f5f5f5!important;border:none!important}
.cnblogs_code pre{font-family:Courier New!important;font-size:12px!important;word-wrap:break-word;white-space:pre-wrap}
.other-r{padding:0 30px}
.other-r li{height:30px;line-height:30px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.other-r li a{font-size:16px;color:#999}
.other-r li a:hover{font-size:16px;color:#ee6e50}
.ap-main{padding: 5px 10px;border: 1px solid #d3d3d3;}
.ap-main ul li a:hover{color: #ee6e50;}
