                {data_content}
                <div class="w-acontent">
                        <div class="ar-hd">{title}</div>
                        <div class="ar-desc">
                                <a href="<?=$domainname?>/list-{cid}.html">{catname}</a>
                                <span>{buildtime}</span>
                        </div>
                        <div class="ar-main">
                               {content}
                        </div>
                </div>
                 {/data_content}

                        <div class="click-all-show">
                            {showprvnext}
                        </div>
                        <div class="click-all-show" id="click-all-show" style="display:none">
                            <a href="javascript:;">
                                <i class="fa fa-angle-double-down"></i>
                                <span>展开全文</span>
                            </a>
                        </div>
                <div class="jg-warp">
                        <?php 
                               foreach ($this->sys_cms_content->getnextbyid($viewid,2,0)  as $key => $value) {
                        ?>
                        <div class="ar-section">
                                <a href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>">
                                        <div class="papa-img">
                                                <img src="<?=$value['headimage']?>">
                                        </div>
                                        <div class="papa-info">
                                                <span class="m-papa-title"><?=$value['title']?></span>
                                                <div class="m-article-desc clearfix">
                                                        <span class="m-article-time"><?=date('m-d H:i',strtotime($value['buildtime']))?></span>
                                                        <div class="m-article-zan">
                                                                <i class="fa  fa-thumbs-o-up"></i>
                                                                <?=$value['onclick']?>
                                                        </div>
                                                </div>
                                        </div>
                                </a>
                        </div>
                        <?php }?>  
                </div>
                <div class="w-acnp clearfix">
                        <?=$content_next?>
                        <span>你不收藏一下么</span>
                </div>
                        <!--groom star-->
                        <div class="groom-warp">
                                <div class="groom-title clearfix">
                                        <a href="<?=$domainname?>/cat-39.html">少年传送门</a>
                                        <em><i class="fa fa-hand-o-right"></i></em>
                                </div>
                                <div class="s-tab" id="s-tab">
                                        <div class="swiper-wrapper">
                                                <div class="groom-bd clearfix swiper-slide">
                                                <?php 
                                                        foreach ($this->sys_cms_content->getlistbytagid(2578,6,0,' order by rand()') as $key => $value) {
                                                 ?>
                                                        <div class="s-item-info ">
                                                                <a href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>">
                                                                        <img src="<?=$value['headimage']?>" />
                                                                        <span><?=$value['title']?></span>
                                                                </a>
                                                        </div>
                                                <?php }?>
                                                </div>
                                                <div class="groom-bd clearfix swiper-slide">
                                                <?php 
                                                        foreach ($this->sys_cms_content->getWhereList('and class_id=1 and headimage<>"" ',6,8,' order by id desc') as $key => $value) {
                                                 ?>
                                                        <div class="s-item-info ">
                                                                <a href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>">
                                                                        <img src="<?=$value['headimage']?>" />
                                                                        <span><?=$value['title']?></span>
                                                                </a>
                                                        </div>
                                                <?php }?>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <!--groom stop-->
                <div class="groom-warp">
                                <div class="groom-title clearfix">
                                        <a href="<?=$domainname?>/cat-39.html">传送门索引</a>
                                        <em><i class="fa fa-hand-o-right"></i></em>
                                </div>
                                <div class="groom-bd sy-list clearfix">
                                <?php foreach ($this->sys_cms_content->getTagsByAid($data_content[0]['id']) as $key => $value) {?>
                                    <a  href="<?=$domainname?>/tags-<?=$value['tid']?>.html" ><?=$value['tagname']?></a>
                                <?php }?>
                              <?php foreach ($this->sys_cms_content->getTagsList(10,0) as $key => $value) {?>
                                   <a  href="<?=$domainname?>/tags-<?=$value['id']?>.html" ><?=$value['name']?></a>
                              <?php }?>

                                </div>
                        </div>
        </div>
        <!--main stop-->