<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Cache-Control" content="no-transform" /> 
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta content="yes" name="apple-touch-fullscreen" />
        <meta content="telephone=no,email=no" name="format-detection" />
        <?php 
        if(isset($cid)){
        ?>
        <link rel="canonical" href="http://www.china-7.net/list-<?=$cid?>.html" >
        <?php
        }else if(isset($tid)){
        ?>
        <link rel="canonical" href="http://www.china-7.net/tags-<?=$tid?>.html" >
        <?php
        }else if(isset($classid)){
        ?>
        <link rel="canonical" href="http://www.china-7.net/cat-<?=$classid?>.html" >
        <?php
        }else if(isset($viewid)){
        ?>
        <link rel="canonical" href="http://www.china-7.net/view-<?=$viewid?>.html" >
        <?php
        }
        ?>
        <title><?=$htitle?></title>
        <meta name="keywords" content="<?=$sitekeywords?>" />
        <meta name="description" content="<?=$sitedescription?>" />
        <link href="<?=$skin?>/css/base.css" rel="stylesheet" />
        <link href="<?=$skin?>/css/font-awesome.min.css" rel="stylesheet" />
        <script src="<?=$skin?>/js/jquery-1.11.3.min.js" type="text/javascript"></script>
        <script src="<?=$skin?>/js/flexible.js"></script>
        <script src="<?=$skin?>/js/swiper.min.js"></script>
        <script type="text/javascript">
        $(document).ready(function () {
            $('img').each(function(){
                var imgsrc = this.src;
                if(imgsrc.match("http://mmbiz.qpic.cn") || imgsrc.match("qq.com") || imgsrc.match("hiphotos.baidu.com") || imgsrc.match("ph.126.net") || imgsrc.match("yujiame.com") || imgsrc.match("tuicool.com") || imgsrc.match("jirou.com") || imgsrc.match("qhimg.com") || imgsrc.match("sogoucdn.com") || imgsrc.match("gtimg.com") || imgsrc.match("pcbaby.com.cn") || imgsrc.match("sogou.com") || imgsrc.match("imgs.cc") || imgsrc.match("ckcdn.com")){
                    if(imgsrc.match("/getimg.php")){

                    }else{
                        var newurl = "/getimg.php?url="+imgsrc;
                        $(this).attr('src',newurl);
                    }

                }

            });
        });
        </script>
</head>
<body>
        <!--header star-->
        <div class="w-header">
                <div class="logo">
                        <a href="<?=$domainname?>"></a>
                </div>
                <div class="sm-nav" id="sm-nav">
                        <i class="fa fa-bars "></i>
                </div>
                <div class="bream-name">
                    <?php 
                    if(isset($cid)){
                    ?>
                        <a href="<?=$domainname?>/list-<?=$cid?>.html"><?=$catname?></a>
                    <?php
                    }else if(isset($tid)){
                    ?>
                        <a href="<?=$domainname?>/tags-<?=$tid?>.html"><?=$tagname?></a>
                    <?php
                    }else if(isset($classid)){
                    ?>
                        <a href="<?=$domainname?>/cat-<?=$classid?>.html"><?=$classname?></a>
                    <?php
                    }else if(isset($viewid)){
                    ?>
                        
                    <?php
                    }
                    ?>
                </div>
        </div>
        <!--header stop-->
        <!--main star-->
        <div class="w-main">
                <!--nav star-->
                <div class="bar-warp" id="bar-warp">
                        <div class="bar-warp-nav clearfix">
                        <?php 
                        $dindex = 0;
                        $actinon = '';
                        foreach ($this->sys_cms_category->mobileclasslist() as $key => $value) {
                            if(isset($classid)){
                                if($classid == $value['id']){
                                    $actinon = 'class="active"';
                                }else{
                                    $actinon = '';
                                }
                            }else{
                                $actinon = '';
                            }
                        ?>
                            <a  <?=$actinon?> href="<?=$domainname?>/cat-<?=$value['id']?>.html" data-index="<?=$dindex?>" >
                                <?=mb_substr($value['name'],0,2)?></a>
                        <?php 
                                $dindex++;
                        }?> 
                        </div>
                        <div class="bar-more" id="bar-more">
                                <i class="fa fa-plus"></i>
                        </div>
                </div>
                <!--nav stop-->