                <div class="ar-warp swiper-container">
                        <!--slider star-->
                        <div class="w-slider-warp">
                                <div class="swiper-wrapper w-slider-list">
                                        <?php 
                                                foreach ($this->sys_cms_content->getWhereList('and class_id=39 and headimage<>"" ',5,0,' order by id desc') as $key => $value) {
                                         ?>
                                        <div class="swiper-slide">
                                                <a href="<?=$domainname?>/view-<?=$value['id']?>.html">
                                                        <img src="<?=$value['headimage']?>" title="<?=$value['title']?>" alt="<?=$value['title']?>" />
                                                        <span class="s-title"><?=$value['title']?></span>
                                                </a>
                                        </div>
                                         <?php }?>                                        
                                </div>
                                <div class="swiper-pagination"></div>
                        </div>
                        <!--slider stop-->
                        <!--w-ar-tab star-->
                        <div class="w-ar-tab" id="w-ar-tab">
                                <div class="swiper-wrapper">
                                        <!--一屏 star-->
                                        <?php foreach ($this->sys_cms_category->mobileclasslist() as $key => $cat) {?>
                                        <div class="ar-tab-item swiper-slide">
                                                <?php 
                                                        foreach ($this->sys_cms_content->getWhereList('and class_id='.$cat['id'].' and headimage<>"" ',12,0,' order by id desc') as $key => $value) {
                                                 ?>
                                                <div class="ar-section">
                                                        <a href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>">
                                                                <div class="papa-img">
                                                                        <img src="<?=$value['headimage']?>" alt="<?=$value['title']?>"/>
                                                                </div>
                                                                <div class="papa-info">
                                                                        <span class="m-papa-title"><?=$value['title']?></span>
                                                                        <div class="m-article-desc clearfix">
                                                                                <span class="m-article-time"><?=date('m-d H:i',strtotime($value['buildtime']))?></span>
                                                                                <div class="m-article-zan">
                                                                                        <i class="fa  fa-thumbs-o-up"></i>
                                                                                        <?=$value['onclick']?>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </a>
                                                </div>
                                                <?php }?>
                                                <!--more-list star-->
                                                <a class="more-list"  href="<?=$domainname?>/cat-<?=$cat['id']?>.html" >
                                                        <i class="fa fa-hand-o-up"></i>
                                                        <span class="load-info">点击查看更多内容</span>
                                                </a>
                                                <!--more-list stop-->
                                        </div>
                                        <!--一屏 stop-->
                                        <?php }?> 
                                </div>
                        </div>
                        <!--w-ar-tab stop-->

                </div>
        </div>
        <!--main stop-->