                <div class="ar-warp swiper-container">
                        <!--w-ar-tab star-->
                        <div class="w-ar-tab">
                                <div class="swiper-wrapper">
                                        <div class="ar-tab-item swiper-slide">
                                               <?php foreach ($news as $key => $value) {?>
                                                <div class="ar-section">
                                                        <a href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>">
                                                                <div class="papa-img">
                                                                        <img src="<?=$value['headimage']?>" alt="<?=$value['title']?>" />
                                                                </div>
                                                                <div class="papa-info">
                                                                        <span class="m-papa-title"><?=$value['title']?></span>
                                                                        <div class="m-article-desc clearfix">
                                                                                <span class="m-article-time"><?=date('m-d H:i',strtotime($value['buildtime']))?></span>
                                                                                <div class="m-article-zan">
                                                                                        <i class="fa  fa-thumbs-o-up"></i>
                                                                                        <?=$value['onclick']?>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </a>
                                                </div>
                                               <?php } ?>
                                        </div>
                                </div>
                                <!--more-list star-->
                                <?php  $this->pager->mobile_show();  ?>
                                <!--more-list stop-->
                        </div>
                        <!--w-ar-tab stop-->
                        <!--groom star-->
                        <div class="groom-warp">
                                <div class="groom-title clearfix">
                                        <a href="<?=$domainname?>/cat-39.html">少年传送门</a>
                                        <em><i class="fa fa-hand-o-right"></i></em>
                                </div>
                                <div class="s-tab" id="s-tab">
                                        <div class="swiper-wrapper">
                                                <div class="groom-bd clearfix swiper-slide">
                                                <?php 
                                                        foreach ($this->sys_cms_content->getWhereList('and class_id=39 and headimage<>"" ',6,0,' order by id desc') as $key => $value) {
                                                 ?>
                                                        <div class="s-item-info ">
                                                                <a href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>">
                                                                        <img src="<?=$value['headimage']?>" alt="<?=$value['title']?>" />
                                                                        <span><?=$value['title']?></span>
                                                                </a>
                                                        </div>
                                                <?php }?>
                                                </div>
                                                <div class="groom-bd clearfix swiper-slide">
                                                <?php 
                                                        foreach ($this->sys_cms_content->getWhereList('and class_id=1 and headimage<>"" ',6,6,' order by id desc') as $key => $value) {
                                                 ?>
                                                        <div class="s-item-info ">
                                                                <a href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>">
                                                                        <img src="<?=$value['headimage']?>" alt="<?=$value['title']?>" />
                                                                        <span><?=$value['title']?></span>
                                                                </a>
                                                        </div>
                                                <?php }?>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <!--groom stop-->
                        <div class="groom-warp">
                                <div class="groom-title clearfix">
                                        <a href="<?=$domainname?>/cat-39.html">传送门索引</a>
                                        <em><i class="fa fa-hand-o-right"></i></em>
                                </div>
                                <div class="groom-bd sy-list clearfix">
                            <?php foreach ($this->sys_cms_content->getTagsList(10,0) as $key => $value) {?>
                                   <a  href="<?=$domainname?>/tags-<?=$value['id']?>.html" ><?=$value['name']?></a>
                              <?php }?>
                                </div>
                        </div>
                </div>
        </div>
        <!--main stop-->
