                <style type="text/css">
.car_info_param {
  margin: 0;
  padding: 0;
  width: 720px;
  display: inline-block;

}
.car_info_param li {
  float: left;
  border-bottom: 1px solid #e1e1e1;
}       
.car_info_param li span {
  display: inline-block;
  border-right: 1px solid #e1e1e1;
  font-size: 12px;
  line-height: 1.2;
  padding: 6px 10px;
  float: left;
}

                </style>
                <!--main star-->
                <div class="main">
                        <div class="layout ">
                                <div class="clearfix">
                                        <div class="sd_780_box fl">
                                                <div class="content_box bgColor_white">
                                                        <div class="m30"></div>
                                                        <div class="bread">
                                                                您所在位置：
                                                                <?=$mypostion?>
                                                        </div>
                                                        {data_content}
                                                        <input type="hidden" id="content_id" value="{id}">
                                                        <div class="m20"></div>
                                                        <div class="ar_title">
                                                                <h2>{title}</h2>

                                                        </div>
                                                        <div class="m20"></div>
                                                        <div class="soure c_soure">
                                                                <a class="blue">{buildtime}</a>
                                                                <a href="<?=$domainname?>/list-{cid}.html">{catname}</a>
                                                        </div>
                                                        <div class="line_bottom padt20"></div>
                                                        <div class="m10"></div>
                                                        <!--摘要 star-->
                                                        <div class="c_abstract">
                                                                <p>{description}</p>
                                                        </div>
                                                        <!--摘要 stop-->

                                                        <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"24"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
                                                        <!--正文 star-->
                                                        <div class="main_content">
                                                               {content}
                                                        </div>
                                                        <div class="m30"></div>
                                                        <div class="point_zang clearfix">
                                                                <a href="javascirpt:;" class="read_count">20155<i class="read_ico"></i>
                                                                </a>
                                                                <a href="javascirpt:;" class="read_count">20155<i class="zan_ico"></i>
                                                                </a>
                                                        </div>
                                                        <div class="m30"></div>
                                                        <div class="line_bottom padt20"></div>
                                                        <div class="m30"></div>
                                                        {/data_content}
                                                        <div class="pre_next clearfix">
                                                                <div class="pre fl">
                                                                        <span>上一篇：</span>
                                                                        <?=$content_per?>
                                                                </div>
                                                                <div class="next fr">
                                                                        <span>下一篇：</span>
                                                                        <?=$content_next?>
                                                                </div>
                                                        </div>
                                                        <!--正文 stop-->
                                                </div>
                                                <div class="m10"></div>
                                                
                                        </div>
                                        <div class="sd 400_box fr">
                                                <!--推荐文章 star-->
                                                <div class="recom_art bgColor_white">
                                                        <div class="parall">推荐文章</div>
                                                        <div class="hot_art">
                                                                 <?php foreach ($this->sys_cms_content->getWhereList('',1,0,' order by buildtime desc') as $key => $value) {?>                                                                 

                                                                <h2><a target="_blank" href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>" target="_blank"><?=$value['title']?></a></h2>
                                                                <div class="abstract">
                                                                        <p><?=$value['description']?></p>
                                                                </div>
                                                                <?php }?>
                                                        </div>
                                                        <div class="hot_art_list">
                                                                <ul class="clearfix">

                                             <?php foreach ($this->sys_cms_content->getWhereList('',4,1,' order by buildtime desc') as $key => $value) {?>
                                                                <li><a target="_blank" href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>" target="_blank"><?=$value['title']?></a></li>
                                                                 <?php }?>
                                                                </ul>
                                                        </div>
                                                </div>
                                                <!--推荐文章 stop-->

                                                <div class="m15"></div>
                                                <div class="fix" id="fix">
                                                        <!--随机文章列表 star-->
                                                        <div class="artich_box bgColor_white box_padding">
                                                                <div class="boxhd">
                                                                        <h2>您可能感兴趣的文章</h2>
                                                                </div>
                                                                <div class="boxbg">
                                                                        <div class="pic_news_list">
                         
                                                                        </div>
                                                                        <div class="txt_news_list">
                                                                                <ul>
                                                                {newest}
                                                                 <li><a href="<?=$domainname?>/view-{id}.html" title="{title}" target="_blank">{title}</a></li>
                                                                {/newest} 

                                                                                </ul>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                        <!--随机文章列表 stop-->
                                                        <div class="m15"></div>
                                                        <div class="hot_KeyWorld bgColor_white box_padding">
                                                                <div class="boxhd">
                                                                        <h2>热门关键词</h2>
                                                                </div>
                                                                <div class="boxbg" id="tags">
                                                                {hotweixin}
                                                                                <a href="<?=$domainname?>/list-{id}.html" title="{catname}" target="_blank">{catname}</a>
                                                                 {/hotweixin}
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
                <!--main stop-->
            <script type="text/javascript">
            $(document).ready(function(){
                var id  = $("#content_id").val();
                $.ajax({
                    type:'GET',
                    url:'/index.php?c=cms_index&m=viewClick&id='+id+''
                });   
            });
        </script>
                <div class="m50"></div>
