RewriteEngine On 
RewriteBase / 

ErrorDocument 404 /skin/404/404.html

RewriteRule ^(.*)index\.html$ $1/index.php?c=cms_sites&m=index
RewriteRule ^([a-z]+)(|/)$ /index.php?c=cms_sites&m=catlist&catename=$1&page=1
RewriteRule ^([a-z]+)(|/)index_([0-9]+)\.html$ /index.php?c=cms_sites&m=catlist&catename=$1&page=$3
RewriteRule ^([a-z]+)/([0-9]+)\.html$ /index.php?c=cms_sites&m=view&catename=$1&id=$2&ipage=1

#RewriteRule ^(.*)list-([0-9]+)-([0-9]+)\.html$ $1/index.php?c=cms_list&m=page&cid=$2&page=$3
#RewriteRule ^(.*)list-([0-9]+)\.html$ $1/index.php?c=cms_list&m=page&cid=$2&page=1
#RewriteRule ^(.*)list-all\.html$ $1/index.php?c=cms_list&m=allList
#RewriteRule ^(.*)view-([0-9]+).html$ $1/index.php?c=cms_content&m=index&id=$2&ipage=1
#RewriteRule ^(.*)view-([0-9]+)-([0-9]+).html$ $1/index.php?c=cms_content&m=index&id=$2&ipage=$3
#RewriteRule ^(.*)cat-([0-9]+)-([0-9]+)\.html$ $1/index.php?c=cms_list&m=catlist&cid=$2&page=$3
#RewriteRule ^(.*)list-map\.html$ $1/index.php?c=cms_list&m=mapList
#RewriteRule ^(.*)list-map-([0-9]+)\.html$ $1/index.php?c=cms_list&m=mapList&page=$2
#RewriteRule ^(.*)tags-([0-9]+)\.html$ $1/index.php?c=cms_list&m=tags&cid=$2
#RewriteRule ^(.*)tags-([0-9]+)-([0-9]+)\.html$ $1/index.php?c=cms_list&m=tags&cid=$2&page=$3

#RewriteRule ^(.*)index\.html$ $1/index.php?c=cms_index&m=index
#RewriteRule ^(.*)tags-([0-9]+)\.html$ $1/e/tags/?tagid=$2
#RewriteRule ^(.*)tags-([0-9]+)-([0-9]+)\.html$ $1/e/tags/index.php?tagid=$2&page=$3&line=25&tempid=25
#RewriteRule ^(.*)cat-([0-9]+)\.html$ $1/index.php?c=cms_list&m=catList&cid=$2

#RewriteRule ^(.*)zonghe/$ $1/index.php?c=cms_list&m=catlist&cid=1&page=1
#RewriteRule ^(.*)zonghe/index_([0-9]+)\.html$ $1/index.php?c=cms_list&m=catlist&cid=1&page=$2
#RewriteRule ^(.*)zonghe/([0-9]+)\.html$ $1/index.php?c=cms_content&m=index&id=$2&ipage=1
#RewriteRule ^(.*)zonghe/([0-9]+)-([0-9]+)\.html$ $1/index.php?c=cms_content&m=index&id=$2&ipage=$3
#RewriteRule ^(.*)zonghe/([0-9]+)/$ $1/index.php?c=cms_list&m=page&cid=$2&page=1
#RewriteRule ^(.*)zonghe/([0-9]+)/index_([0-9]+)\.html$ $1/index.php?c=cms_list&m=page&cid=$2&page=$3

#RewriteRule ^(.*)taglist/([0-9]+)/$ $1/index.php?c=cms_list&m=tags&cid=$2
#RewriteRule ^(.*)taglist/([0-9]+)/index_([0-9]+)\.html$ $1/index.php?c=cms_list&m=tags&cid=$2&page=$3
