<!-- main star -->
    <article class="main">
        <section class="section-2">
            <div class="bd">
            <?php foreach ($news as $key => $value) {?>
                <figure>
                    <a href="<?=$domainname?>/<?=$ename?>/<?=$value['id']?>.html" title="<?=$value['title']?>">
                        <img src="<?=$value['headimage']?>"  alt="<?=$value['title']?>">
                        <span><?=mb_substr($value['title'],0,20)?></span>
                    </a>
                    <div class="desc">
                        <time><i class="fa fa-calendar"></i><?=date('m-d H:i',strtotime($value['buildtime']))?></time>
                    </div>
                </figure>
            <?php } ?>
            </div>
        </section>
        <div class="page-btn-box">
              <?php  $this->pagercat->pingyin_prev($ename);  ?>
              <?php  $this->pagercat->pingyin_next($ename);  ?>
        </div>
        <section class="section-2 mt25">
            <div class="hd">
                <a href="javascript:;">
                    <i class="fa fa-child"></i> 猜你喜欢
                </a>
            </div>
            <div class="bd">
                <?php 
                foreach ($this->sys_cms_content->getWhereList('and headimage<>"" ',6,0,' order by rand()') as $key => $value) {
                ?>
                <figure>
                    <a href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>">
                        <img src="<?=$value['headimage']?>"  alt="<?=$value['title']?>">
                        <span><?=mb_substr($value['title'],0,20)?></span>
                    </a>
                </figure>
                <?php }?>
            </div>
        </section>
        <section class="section-2 mt25">
            <div class="hd">
                <a href="javascript:;">
                    <i class="fa fa-child"></i> 传送门
                </a>
            </div>
            <div class="bd">
                <?php 
                foreach ($this->sys_cms_content->getWhereList('and headimage<>"" ',6,0,' order by rand()') as $key => $value) {
                ?>
                <figure>
                    <a href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>">
                        <img src="<?=$value['headimage']?>"  alt="<?=$value['title']?>">
                        <span><?=mb_substr($value['title'],0,20)?></span>
                    </a>
                </figure>
                <?php }?>
            </div>
        </section>
    </article>
    <!-- main stop -->