<!-- main star -->
    <article class="main">
        <section class="ar-warp">
            {data_content}
            <div class="ar-title">
                {title}
            </div>
            <div class="ar-desc">
                <time>{buildtime}</time>
                <a href="<?=$domainname?>/<?=$ename?>/{cid}/"  title="{catname}">{catname}</a>
            </div>
            <div class="ar-content">
                {content}
            </div>
             {/data_content}
            <div class="ar-page">
                {showpinyinprvnext}
            </div>
        </section>
        <section class="section-2 mt25">
            <div class="hd">
                <a href="javascript:;">
                    <i class="fa fa-child"></i> 猜你喜欢
                </a>
            </div>
            <div class="bd">
                <?php 
                       foreach ($this->sys_cms_content->getnextbyid($viewid,2,0)  as $key => $value) {
                ?>
                <figure>
                    <a href="<?=$domainname?>/<?=$value['classename']?>/<?=$value['id']?>.html" title="<?=$value['title']?>">
                        <img src="<?=$value['headimage']?>"  alt="<?=$value['title']?>">
                        <span><?=mb_substr($value['title'],0,20)?></span>
                    </a>
                </figure>
                <?php }?> 
            </div>
        </section>
        <section class="section-2 mt25">
            <div class="hd">
                <a href="javascript:;">
                    <i class="fa fa-child"></i> 传送门
                </a>
            </div>
            <div class="bd">
                <?php 
                foreach ($this->sys_cms_content->getWhereList('and headimage<>"" ',6,0,' order by rand()') as $key => $value) {
                ?>
                <figure>
                    <a href="<?=$domainname?>/<?=$value['classename']?>/<?=$value['id']?>.html" title="<?=$value['title']?>">
                        <img src="<?=$value['headimage']?>"  alt="<?=$value['title']?>">
                        <span><?=mb_substr($value['title'],0,20)?></span>
                    </a>
                </figure>
                <?php }?>
            </div>
        </section>
    </article>
    <!-- main stop -->