<!-- main star -->
    <article class="main">
        <!-- slide star -->
        <section class="slide-box swiper-container">
            <div class="swiper-wrapper">
                <?php 
                        foreach ($this->sys_cms_content->getWhereList(' and isfirsttitle=1 ',3,0,' order by id desc') as $key => $value) {
                 ?>
                <div class="swiper-slide">
                        <a href="<?=$domainname?>/<?=$value['classename']?>/<?=$value['id']?>.html">
                                <img src="<?=$value['headimage']?>" title="<?=$value['title']?>" alt="<?=$value['title']?>" />
                        </a>
                </div>
                 <?php }?>
            </div>
            <div class="swiper-pagination"></div>
        </section>
        <!-- slide stop -->
        <!-- section-1 star -->
        <section class="section-1 mt25">
            <div class="hd">
                <a>
                    <i class="fa fa-reddit-alien"></i>热门推荐
                </a>
            </div>
            <div class="bd">
                <?php 
                    foreach ($this->sys_cms_content->getWhereList(' and isfirsttitle in(2,3,4) and headimage<>"" ',12,0,' order by id desc') as $key => $value) {
                ?>
                <figure>
                    <a href="<?=$domainname?>/<?=$value['classename']?>/<?=$value['id']?>.html" title="<?=$value['title']?>">
                        <img src="<?=$value['headimage']?>" alt="<?=$value['title']?>">
                        <span><?=mb_substr($value['title'],0,20)?></span>
                    </a>
                    <div class="desc">
                        <span><i class="fa fa-heart"></i><?=rand(100,10000);?></span>
                        <a href="<?=$domainname?>/<?=$value['classename']?>/<?=$value['cid']?>/" title="<?=$value['catname']?>" ><?=$value['catname']?></a>
                    </div>
                </figure>
                <?php }?>
                
            </div>
        </section>
        <!-- section-1 stop -->

        <!-- slide stop -->
         <?php foreach ($this->sys_cms_category->classlistbypid(0,4) as $key => $cat) {?>
        <!-- section-1 star -->
        <section class="section-2 mt25">
            <div class="hd">
                <a href="<?=$domainname?>/<?=$cat['ename']?>/">
                    <i class="fa fa-child"></i> <?=$cat['name']?>
                </a>
            </div>
            <div class="bd">
                <?php 
                    foreach ($this->sys_cms_content->getWhereList('and class_id='.$cat['id'].' and headimage<>"" ',12,0,' order by id desc') as $key => $value) {
                ?>
                <figure>
                    <a href="<?=$domainname?>/<?=$value['classename']?>/<?=$value['id']?>.html" title="<?=$value['title']?>">
                        <img src="<?=$value['headimage']?>" alt="<?=$value['title']?>">
                        <span><?=mb_substr($value['title'],0,20)?></span>
                    </a>
                    <div class="desc">
                        <span><i class="fa fa-heart"></i><?=rand(100,10000);?></span>
                        <a href="<?=$domainname?>/<?=$value['classename']?>/<?=$value['cid']?>/" title="<?=$value['catname']?>" ><?=$value['catname']?></a>
                    </div>
                </figure>
                <?php }?>
                
            </div>
        </section>
        <!-- section-1 stop -->
        <?php }?> 
    </article>
    <!-- main stop -->