<div class="h20"></div>
<div class="main">
<div class="bread">
<div class="layout">
<a href="<?=$domainname?>" target="_blank" title="首页">首页</a> &nbsp;>&nbsp;
<a href="<?=$pcurl?>" target="_blank" title="<?=$classname?>"><?=$classname?></a>
</div>
</div>
<div class="h20"></div>
<div class="layout clearfix">
<div class="m680_box fl">
<div class="list_title">
        <h2><?=$classname?></h2>
</div>
<div class="tab_box">
        <div class="feeds">
               <?php foreach ($news as $key => $value) {?>
                <div class="feeds_item clearfix">
                        <div class="feeds_item_pic fl">
                                <a href="<?=$domainname?>/<?=$ename?>/<?=$value['id']?>.html" title="<?=$value['title']?>">
                                        <img src="<?=$value['headimage']?>" alt="<?=$value['title']?>" />
                                </a>
                        </div>
                        <div class="feeds_item_text fr">
                                <h2><a href="<?=$domainname?>/<?=$ename?>/<?=$value['id']?>.html" title="<?=$value['title']?>" target="_blank"><?=mb_substr($value['title'],0,20)?></a></h2>
                                <p><?=mb_substr($value['description'],0,100)?><a href="<?=$domainname?>/<?=$ename?>/<?=$value['id']?>.html" title="<?=$value['title']?>" target="_blank">[详细</a>]</p>
                                <div class="feeds-item-info clearfix">
                                        <a href="<?=$domainname?>/<?=$ename?>/<?=$value['cid']?>/" title="<?=$value['catname']?>" target="_blank"><?=$value['catname']?></a>
                                        <span><?=date('m-d H:i',strtotime($value['buildtime']))?></span>
                                        <div class="tags">
                 <?php foreach ($this->sys_cms_content->getTagsByAid($value['id']) as $key => $value) {?>
                     <span class="label"><a href="<?=$domainname?>/taglist/<?=$value['tid']?>/" title="<?=$value['tagname']?>"><?=$value['tagname']?></a></span>
                <?php }?>
                                        </div>
                                </div>
                        </div>
                </div>
                <?php } ?>
        </div>
</div>
<div class="h20"></div>
<!--page star-->
<div class="page">
  <?php  $this->pagercat->pingyin_prev($ename);  ?>
  <?php  $this->pagercat->pingyin_next($ename);  ?>
</div>
<!--page stop-->
</div>
<div class="m320_box fr">
<div class="mod" id="mod_1">
        <div class="hd">
                <div class="title_box">
                        <div class="title_container">
                                <span class="title">文章排行</span>
                                <span class="sub_title">TOP ARTICLES</span>
                        </div>
                </div>
        </div>
        <div class="bd">
                <div class="tabs clearfix">
                        <span class="tab ml40 on">
                                <a href="javascript:;">日榜</a>
                        </span>
                        <span class="tab">
                                <a href="javascript:;">周榜</a>
                        </span>
                </div>
                <ul class="artical-top-num">
                        <?php 
                        $num=0;
                        foreach ($this->sys_cms_content->getWhereList('and class_id=1 and headimage<>"" ',10,0,' order by rand()') as $key => $value) {
                        $num++;
                        ?>
                        <li class="clearfix">
                                <span class="num"><?=$num?></span>
                                <p class="title">
                                        <a href="<?=$domainname?>/<?=$ename?>/<?=$value['id']?>.html" title="<?=$value['title']?>" ><?=mb_substr($value['title'],0,20)?></a>
                                </p>
                                <p class="desc"><?=mb_substr($value['description'],0,50)?></p>
                                <p class="news_soure"><a href="<?=$domainname?>/list-<?=$value['cid']?>.html" title="<?=$value['catname']?>" target="_blank"><?=$value['catname']?></a></p>
                        </li>
                        <?php }?>
                </ul>
                <ul class="artical-top-num" style="display: none;">
                        <?php 
                        $num=0;
                        foreach ($this->sys_cms_content->getWhereList('and class_id=1 and headimage<>"" ',10,0,' order by rand()') as $key => $value) {
                        $num++;
                        ?>
                        <li class="clearfix">
                                <span class="num"><?=$num?></span>
                                <p class="title">
                                        <a href="<?=$domainname?>/<?=$ename?>/<?=$value['id']?>.html" title="<?=$value['title']?>" ><?=mb_substr($value['title'],0,20)?></a>
                                </p>
                                <p class="desc"><?=mb_substr($value['description'],0,50)?></p>
                                <p class="news_soure"><a href="<?=$domainname?>/list-<?=$value['cid']?>.html" title="<?=$value['catname']?>" target="_blank"><?=$value['catname']?></a></p>
                        </li>
                        <?php }?>
                </ul>
        </div>
</div>


</div>
</div>
</div>
<div class="h20"></div>