<div class="footer">
<div class="layout">
<div class="clearfix">
<div class="m320_box fl">
<div class="logo">
<a href="http://www.8spo.com/" title="八虎体育">足球比分</a>
</div>
<div class="copyr">
<p>Copyright © 2015 日向科技  8虎体育 All Rights Reserved </p>
<p><a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">粤ICP备14097775号-1</a><script src="http://s95.cnzz.com/stat.php?id=1256707687&web_id=1256707687" language="JavaScript"></script></p>
</div>
</div>
<div class="m500_box fr">
<div class="links">
<a rel="nofollow" href="http://www.8spo.com/about.html">关于足球网</a>|
<a rel="nofollow" href="http://www.8spo.com/8spo_priv.html">隐私保护</a>|
<a rel="nofollow" href="http://www.8spo.com/8spo_ads.html">广告服务</a>|
<a rel="nofollow" href="http://www.8spo.com/8spo_jod.html">招聘信息</a>|
<a rel="nofollow" href="http://www.8spo.com/8spo_content.html">联系我们</a>
</div>
<div class="h20"></div>
<div class="comp clearfix">
<span>合作伙伴：</span>
<a href="http://www.china-7.net/jiemian/" target="_blank">
<img src="http://www.8spo.com/skin/8spo_2.0/images/hzs1.png" alt="界面新闻" />
</a>
<a href="http://www.china-7.net/life/" target="_blank">
<img src="http://www.8spo.com/skin/8spo_2.0/images/hzs2.png" alt="生活百科" />
</a>
<a href="javascript:;" target="_blank">
<img src="http://www.8spo.com/skin/8spo_2.0/images/hzs3.png" alt="188比分直播" />
</a>
<a href="javascript:;" target="_blank">
<img src="http://www.8spo.com/skin/8spo_2.0/images/hzs4.png"  alt="7M比分网" />
</a>
</div>
</div>
</div>
<div class="lphf_btm">
<ul class="clearfix">
足球比分实时提供球坛比分、体育比分、球坛现场即时比分直播、<br/>竞猜竞彩足球比分、足球赛事赛程、现场比分直播以及最新完场<br/>赛事比分结果等数据服务，更多足球比分信息尽八虎体育.
</ul>
</div>
<div class='h20'></div>
<div class="lphf_btm">
<ul class="clearfix">
<li><a href="http://www.8spo.com/"  target="_blank" title='足球即时比分'>足球即时比分</a></li>
<li><a href="http://www.999zq.com/"  target="_blank" title='999足球网'>999足球网</a></li>
<li><a href="http://www.tuiqiu.net"  target="_blank" title='足球推介'>足球推介</a></li>
<li><a href="http://www.hgty.info"  target="_blank" title='皇冠体育'>皇冠体育</a></li>
</ul>
</div>
</div>
</div>
</div>
<script src="http://www.8spo.com/skin/8spo_2.0/js/jquery-1.11.3.min.js" type="text/javascript"></script>

<script src="http://www.8spo.com/skin/8spo_2.0/js/comom.js" type="text/javascript"></script>
<script src="http://www.8spo.com/skin/8spo_2.0/js/selectivizr.js" type="text/javascript"></script>  
</body>
</html>