<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title><?=$htitle?></title>
<meta name="keywords" content="<?=$sitekeywords?>" />
<meta name="description" content="<?=$sitedescription?>" />
<meta name="baidu_ssp_verify" content="898ea527288a1f9a4a2f613e802f96e5">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="mobile-agent" content="format=html5;url=<?=$murl?>" />
<meta name="mobile-agent" content="format=xhtml;url=<?=$murl?>" />
<link rel="alternate" media="only screen and(max-width: 640px)" href="<?=$murl?>" >
<link href="http://www.8spo.com/skin/8spo_2.0/css/reset.css" rel="stylesheet" />
<link href="http://www.8spo.com/skin/8spo_2.0/css/base.css" rel="stylesheet" />
<script src="http://www.8spo.com/skin/8spo_2.0/js/prototype.js" type="text/javascript"></script>
<script src="http://www.8spo.com/skin/8spo_2.0/js/ImageSlide.js" type="text/javascript"></script>
</head>
<body>
<div class="warpper">
<!--header star-->
<div class="header">
<div class="top_header">
<div class="layout clearfix">
<span class="welcome fl">欢迎来到8虎体育</span>
<div class="small_nav fl">
<ul class="clearfix">
<li><a href="http://www.8spo.com/zuqiubifen/" title="足球比分"  target="_blank">足球比分</a></li>
<li><a href="http://www.8spo.com/zhibo/zuqiu/" title="足球直播"  target="_blank">足球直播</a></li>
<li><a href="http://bbs.8spo.com/" title="足球论坛"  target="_blank">足球社区</a></li>
<li><a href="http://www.8spo.com/zuqiubaike/" title="足球百科"  target="_blank">足球百科</a></li>
<li><a href="http://www.8spo.com/sitemap.html" title="网站地图"  target="_blank">网站地图</a></li>
</ul>
</div>
<div class="seach fr">
<script type="text/javascript">(function(){document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));var bdcs = document.createElement('script');bdcs.type = 'text/javascript';bdcs.async = true;bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=3422488270137026499' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date()/3600000);var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(bdcs, s);})();</script>                                              
</div>
</div>
</div>
<div class="ln_header">
<div class="layout clearfix">
<div class="logo fl">
<h1><a href="http://www.8spo.com/" title="八虎体育">足球即时比分</a></h1>
</div>
<div class="nav fr">
<ul class="clearfix">
<li class="fl"><a href="http://www.8spo.com/" title="首页" target="_blank">首页</a></li>
<li class="fl active"><a href="http://www.8spo.com/zonghe/" title="综合" target="_blank">综合</a></li>
<li class="fl"><a href="http://www.8spo.com/zimeiti/" title="自媒体专栏" target="_blank">自媒体专栏</a></li>
<li class="fl"><a href="http://www.8spo.com/zuqiu/" title="足球新闻" target="_blank">足球新闻</a></li>
<li class="fl"><a href="http://www.8spo.com/lanqiu/" title="篮球新闻" target="_blank">篮球新闻</a></li>
<li class="fl"><a href="http://www.8spo.com/video/" title="视频录像" target="_blank">视频录像</a></li>
<li class="fl"><a href="http://www.8spo.com/down/" title="赛事下载" target="_blank">赛事下载</a></li>
<li class="fl"><a href="http://www.8spo.com/gear/" title="运动装备" target="_blank">运动装备</a></li>
<li class="fl"><a href="http://www.8spo.com/zhibo/" title="赛事直播" target="_blank">赛事直播</a></li>
</ul>
</div>
</div>
</div>
</div>
<!--header stop-->