/*********样式文件作者by 切图狂魔 
注:没有水平的勿改基础布局，否则呵呵*********/

/*CSS全局样式重置*/
/*修改于2014-08-10*/

* {
    font-size: 14px;
    letter-spacing: normal;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

body {
    background: #f2f2f2;
    color: #464545;
    font-size: 14px;
    font-family: Verdana, Microsoft Yahei, Helvetica, sans-serif;
}

td, th, caption {
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

a {
    color: #555;
    text-decoration: none;
}

    a:hover {
        color: #A00002;
    }

img {
    border: none;
}

ol, ul, li {
    list-style: none;
}

input, textarea, select, button {
    font: 14px Verdana,Helvetica,Arial,sans-serif;
}

table {
    border-collapse: collapse;
}

html {
    overflow-y: scroll;
}
/* css common */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

p {
    word-wrap: break-word;
}

.clearfix {
    *zoom: 1;
}

.out {
    font-size: 0px;
    letter-spacing: -8px;
    *letter-spacing: normal;
}

.in {
    display: inline-block;
    vertical-align: top;
}

.in {
    *display: inline;
    zoom: 1;
}

.layout {
    width: 980px;
    margin: 0 auto;
}

.layoutBox {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.m10 {
    height: 10px;
}

.m20 {
    height: 20px;
}

.m30 {
    height: 30px;
}

.martop10 {
    margin-top: 10px;
}

.martop20 {
    margin-top: 20px;
}

.marleft10 {
    margin-left: 10px;
}

.marleft30 {
    margin-left: 30px;
}

.header {
    height: 139px;
    background-color: #2598ce;
}

.headerTop {
    height: 100px;
}

    .headerTop .logo {
        line-height: 100px;
    }

.logo a {
    line-height: 100px;
    display: block;
    font-size: 33px;
    font-weight: 700;
    color: #fff;
    min-width: 100px;
    max-width: 520px;
    overflow: hidden;
    height: 100px;
}

.seach {
    float: right;
    width: 400px;
    height: 30px;
    overflow: hidden;
    margin-top: 35px;
}

.nav {
    height: 39px;
    background: url(../images/nav.gif);
}

    .nav ul li {
        height: 29px;
        line-height: 29px;
        border-right: 1px #2C2C2C solid;
        padding: 5px 15px 4px;
        box-shadow: 1px 0 1px #3E3E3E;
    }

        .nav ul li a {
            color: #fff;
        }

        .nav ul li.current {
            background-color: #2598ce;
        }

.Box_707 {
    width: 707px;
}

.weixinBox_685 {
    width: 705px;
}

.ztitle {
    height: 36px;
    background: url(../images/titleBg.gif);
    line-height: 36px;
}

.padlr10 {
    padding: 0 10px;
}

.padb20 {
    padding-bottom: 20px;
}

.ztitle h2 {
    font-size: 14px;
    color: #2598ce;
}

.weixinIcoBlock li {
    width: 228px;
    height: 70px;
    margin-top: 20px;
}

    .weixinIcoBlock li a.pic {
        width: 70px;
        height: 70px;
        overflow: hidden;
    }

        .weixinIcoBlock li a.pic img {
            width: 70px;
            height: 70px;
        }

    .weixinIcoBlock li a.txt {
        width: 140px;
        overflow: hidden;
        height: 70px;
    }

        .weixinIcoBlock li a.txt h2 {
            height: 35px;
            line-height: 35px;
            font-weight: 600;
            overflow: hidden;
        }

        .weixinIcoBlock li a.txt span {
            height: 20px;
            line-height: 20px;
            display: block;
            font-size: 8px;
        }

.boxDashed {
    border: 1px dashed #ddd;
}

.weixinBox_323 {
    width: 343px;
}

.marbottom10 {
    margin-bottom: 10px;
}

.newList li {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    margin-top: 10px;
}

    .newList li a.in {
        width: 270px;
        height: 20px;
        overflow: hidden;
    }

    .newList li span.time {
        padding-left: 10px;
        text-align: right;
    }

.marleft15 {
    margin-left: 15px;
}

.h636 {
    height: 636px;
}

.weixinBox_240 {
    width: 260px;
}

.weixinbox960 {
    width: 980px;
}

.newListMuch li {
    width: 240px;
}

    .newListMuch li a {
        display: block;
        width: 230px;
        overflow: hidden;
        height: 20px;
    }

.fLineBody {
    width: 960px;
}

.fribox {
    line-height: 1.8;
}

    .fribox a {
        padding-right: 20px;
    }

.footer {
    text-align: center;
}

.zbg {
    background-color: #f2f2f2;
}

.weixinbox665 {
    width: 705px;
}

.weixinbox665 img {
    max-width:665px;
}

.padlr20 {
    padding: 0px 20px 0px 20px;
}

.newArticleHd h3 {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 600;
}

.introduce {
    height: 90px;
    width: 665px;
    margin-top: 20px;
}

    .introduce .serveNumPic {
        width: 90px;
        height: 90px;
        overflow: hidden;
    }

        .introduce .serveNumPic img {
            width: 90px;
            height: 90px;
        }

    .introduce .serverCt {
        width: 565px;
        height: 90px;
        overflow: hidden;
        padding-left: 10px;
    }

.serverCt h3 {
    height: 30px;
    font-size: 18px;
    overflow: hidden;
    font-weight: 700;
}

.serverCt p {
    height: 19px;
    line-height: 18px;
    font-size: 12px;
    overflow: hidden;
}

.smallNewList {
    padding-bottom: 30px;
}

    .smallNewList li {
        margin-top: 15px;
    }

        .smallNewList li h2 a {
            display: block;
            font-size: 18px;
            font-weight: 600;
            height: 37px;
            line-height: 37px;
        }

            .smallNewList li h2 a:hover {
                color: #2598ce;
            }

.smallTxt {
    min-height: 21px;
    max-height: 63px;
    line-height: 21px;
    overflow: hidden;
    margin-top: 5px;
}

.preNext {
    height: 40px;
    margin: 20px auto;
    text-align: center;
}

    .preNext a, .preNext span {
        display: block;
        height: 33px;
        min-width: 13px;
        color: #000;
        line-height: 34px;
        font-size: 14px;
        border: 1px solid #c1c1c1;
        margin: 0px 5px 0px 5px;
        padding: 0px 10px 0px 10px;
    }

        .preNext a.current {
            background-color: #c1c1c1;
            color: #fff;
        }

.pnUl li {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
}

.m50 {
    height: 50px;
}

.zContent .ctitle {
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    overflow: hidden;
    line-height: 50px;
}

.bottomBorder {
    border-bottom: 1px dashed #ddd;
}

.zContent .ct {
    margin-top: 30px;
    line-height: 1.8;
}

.perNext {
    margin-top: 50px;
    color: #358af3;
}

    .perNext .per, .perNext .next {
        height: 30px;
        line-height: 30px;
        overflow: hidden;
        font-size: 14px;
        font-weight: 700;
    }

        .perNext .per a, .perNext .next a {
            color: #358af3;
            font-size: 14px;
            font-weight: 700;
        }

            .perNext .per a:hover, .perNext .next a:hover {
                color: #f00;
            }

.loveSee {
    padding-bottom: 20px;
}

.ztitle h3 {
    font-size: 14px;
    font-weight: 600;
}

.loveListBlock ul li {
    width: 332px;
    height: 30px;
    line-height: 30px;
}

    .loveListBlock ul li a {
        display: block;
        width: 315px;
        overflow: hidden;
        color: #358af3;
        height: 30px;
    }

        .loveListBlock ul li a:hover {
            color: #ff6a00;
        }
.weixinBox_707 {
	width:707px;
}
.m3{
    height:3px;
}