<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><?=$htitle?></title>
    <meta name="keywords" content="<?=$sitekeywords?>" />
    <meta name="description" content="<?=$sitedescription?>" />
    <link href="<?=$skin?>/css/reset.css" rel="stylesheet" />
    <link href="<?=$skin?>/css/base.css" rel="stylesheet" />
    <script src="<?=$skin?>/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var urlstr = location.href;
            var urlstatus = false;
            $("#nav_first li").each(function () {
                if ((urlstr + '/').indexOf($(this).find('a').attr('href')) > -1 && $(this).find('a').attr('href') != '') {
                    $(this).addClass("current").siblings().removeClass("current");
                    urlstatus = true;
                }
            });
        });
    </script>
</head>
<body>
    <div class="page">
        <!--head star-->
        <div class="head">
            <div class="layout logoBody out">
                <div class="logo in">
                     <a href="<?=$domainname?>" title="<?=$sitename?>"><?=$sitename?></a>
                </div>
                <div class="seach in">
                    <div class="control out">
                    <?=$search?>
                    </div>
                </div>
            </div>
            <div class="navBody">
                <div class="layout nav">
                    <ul class="out" id="nav_first">
                        <li class="current in"><a href="<?=$domainname?>">首页</a></li>
                        <?php foreach ($this->sys_cms_category->classlistbypid(1,8) as $key => $value) {?>
                            <li class="in"><a href="<?=$domainname?>/cat-<?=$value['id']?>.html" ><?=$value['name']?></a></li>
                        <?php }?>
                        <li class="in"><a href="<?=$domainname?>/cat-2.html" >新闻</a></li>
                        <li class="in"><a href="<?=$domainname?>/list-all.html" >公号大全</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--head stop-->
        <script type="text/javascript">
        $(document).ready(function () {

            $('img').each(function(){
                var imgsrc = this.src;
                if(imgsrc.match("http://mmbiz.qpic.cn")){
                    var newurl = "/getimg.php?url="+imgsrc;
                    $(this).attr('src',newurl);
                }
            });
        });
        </script>