<!--main star-->
        <div class="layout siteMain out">
            <div class="breadCrumb">
                您的位置：
                    <?=$mypostion?>
            </div>
            <!--article star-->
            <div class="listLeft in">
                <div class="introduce out">
                {infoweixin}
                <input type="hidden" id="cat_id" name="cat_id" value="{id}" >
                    <div class="serveNumPic in">
                        <img src="{logourl}" alt="{catname}" />
                    </div>
                    <div class="serverCt in">
                        <ul>
                            <li>
                                 <h1>{catname}</h1>
                            </li>
                            <li>
                                 <h2>{weixinhao}</h2>
                            </li>
                            <li class="ct"><span>功能介绍：</span><span>{description}</span></li>
                            <li class="ct"><span>新浪认证：</span><span>{wxrz}</span></li>
                        </ul>
                    </div>
                {/infoweixin}
                </div>
                <div class="title">
                    <h2>最新文章</h2>
                </div>
                <div class="listCt">
                    <ul class="ctUl">
                        {news}
                            <li>
                                <h2><a href="<?=$domainname?>/view-{id}.html">{title}</a></h2>
                                <span>{description}....</span><a href="<?=$domainname?>/view-{id}.html" target="_blank">[阅读全文]</a>
                            </li>
                        {/news}
                       
                    </ul>
                    <!--page star-->
                    <div class="preNext">
                        <ul class="pnUl out">
                            <?php  $this->pager->show();  ?> 
                        </ul>
                    </div>
                    <!--page stop-->
                </div>
            </div>
            <!-- article stop-->
            <div class="listRight in">
                <!--new messages star-->
                <div class="weixinFw">
                    <div class="weixinFwBody">
                        <div class="title">
                            <h2>最新文章</h2>
                        </div>
                        <div class="txtList in">
                            <ul>
                            {newest}
                                <li class="out"><em class="in">·</em><a class="in" href="<?=$domainname?>/view-{id}.html" title="{title}">{title}</a></li>
                            {/newest}
                            </ul>
                        </div>
                    </div>
                </div>
                <!--new messages stop-->
                <div class="m20"></div>
                <!--hot weixin num star-->
                <div class="weixinFw">
                    <div class="weixinFwBody">
                        <div class="title">
                            <h2>热门公众号</h2>
                        </div>
                        <div class="picList">
                            <ul class="out">
                                {hotweixin}
                                 <li class="in">
                                    <a class="pic"  href="<?=$domainname?>/list-{id}.html" title="{catname}">
                                         <img src="{logourl}" alt="{catname}" />
                                    </a>
                                    <a class="txt" href="javascript:;" title="冠军体育">
                                        <h2>{catname}</h2>
                                    </a>
                                </li>
                                {/hotweixin}
                            </ul>
                        </div>
                    </div>
                </div>
                <!--hot weixin num stop-->
            </div>
        </div>
        <!--main stop-->
        <div class="m20"></div>
                <script type="text/javascript">
    $(document).ready(function(){
        var id  = $("#cat_id").val();
        $.ajax({
            type:'GET',
            url:'/index.php?c=cms_index&m=catClick&id='+id+''
        });

    });
</script>