<!--main star-->
  <div class="m30"></div>
        <div class="siteMain">
            <div class="layout hyFwTxt">

                        <?php foreach ($this->sys_cms_category->classlistbypid(1,'','id desc',0) as $key => $value) {?>
                            <div class="title">
                                <h2><a href="<?=$domainname?>/cat-<?=$value['id']?>.html" ><?=$value['name']?>公众号</a></h2>
                            </div>
                            <div class="m30"></div>
                            <div class="fwBox">
                                <ul class="PicSer out">
                                    <?php foreach ($this->sys_cms_category->catlistbyid($value['id']) as $key => $list) {?>
                                    <li class="in">
                                        <a class="pic" href="<?=$domainname?>/list-<?=$list['id']?>.html" title="<?=$list['catname']?>">
                                            <img src="<?=$list['logourl']?>" alt="<?=$list['catname']?>" />
                                        </a>
                                        <a class="txt " href="<?=$domainname?>/list-<?=$list['id']?>.html" title="<?=$list['catname']?>">
                                            <h2><?=$list['catname']?></h2>
                                        </a>
                                    </li>
                                    <?php }?>

                                </ul>
                            </div>
                        <?php }?>




            </div>
        </div>
        <!--main stop-->
        <div class="m20"></div>