{%extends file="base_content.html"%}
{%block name="breadcrumb"%}
<li><a href="index.php?c=mulu_site">目录站</a></li>
<li class="active">设置</li>
{%/block%}

{%block name="content"%}

<script src="{%dirname(__FILE__)%}/skin/weixin/js/jquery-1.8.3.min.js"></script>

<form action="index.php?c=mulu_site&m=do_upload" enctype="multipart/form-data" class="form-horizontal" id="validation-form1" method="post" role="form">
    <div class="space-2"></div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="uploadfilename">选择标题文本:</label>
        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
              <input type="file" name="userfile" id="userfile" size="20" class="col-xs-3 col-sm-5" />
              <input type="submit" value="上传"   style="width:120px" class="btn-success">
              <div class="space-2"></div>
              <input class="col-xs-12 col-sm-6" type="text" name="uploadfilename" id="uploadfilename" readonly="readonly" value="{%$fullpath|default:''%}" text="{%$fullpath|default:''%}">
            </div>
        </div>
    </div>
</form>

<div class="space-2"></div>
<form  action="index.php?c=mulu_site" class="form-horizontal" id="validation-form" method="post" role="form">
    {%include file="inc_form_result.html"%}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="foldername">文件夹名称:</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                <input type="text" name="foldername" id="foldername" class="col-xs-12 col-sm-6"
                        value="" />
                <input  type="hidden" name="filename" id="filename" value="{%$fullpath|default:''%}" text="{%$fullpath|default:''%}">
            </div>
        </div>
    </div>

    <div class="space-2"></div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="sitename">站点名称:</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                <textarea name="sitename" id="sitename" class="col-xs-12 col-sm-6">{%$entity.sitename|default:''%}</textarea>
            </div>
        </div>
    </div>

    <div class="space-2"></div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="domain">域名:</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                <input type="text" name="domain" id="weidomainxinhao" class="col-xs-12 col-sm-6"
                        value="{%$entity.domain|default:''%}" />
            </div>
        </div>
    </div>

    <div class="space-2"></div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="hittle">首页标题:</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                <input type="text" name="hittle" id="weidomainxinhao" class="col-xs-12 col-sm-6"
                        value="{%$entity.hittle|default:''%}" />
            </div>
        </div>
    </div>

    <div class="space-2"></div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="keyword">关键词:</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                <textarea name="keyword" id="keyword" class="col-xs-12 col-sm-6">{%$entity.keyword|default:''%}</textarea>
            </div>
        </div>
    </div>

        <div class="space-2"></div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="description">描述:</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                <textarea name="description" id="description" class="col-xs-12 col-sm-6">{%$entity.description|default:''%}</textarea>
            </div>
        </div>
    </div>

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="ace-icon fa fa-check bigger-110"></i>
                提交
            </button>

            &nbsp; &nbsp; &nbsp;
            <a class="btn" href="index.php?c=mulu_site">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                返回
            </a>
        </div>
    </div>
</form>
<div id="ue_content" style="display:none">
  {%stripslashes($entity.content)|default:''%}
</div>
<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例

  $(document).ready(function(){
    var ue_content = $('#ue_content').html();
    var ue = UE.getEditor('content');
      ue.ready( function( editor ) {
       ue.setContent(ue_content);
      } );

  });

  function setCatname(obj){
    var selindex = obj.selectedIndex;
    var catname= obj.options[selindex].text;
    $("#catname").val(catname);
  }
   
</script>

{%/block%}

{%block name="js"%}
<script>
      $(function(){

          jQuery.validator.addMethod("filename", function (value, element) {
              return this.optional(element) || /^[_a-zA-Z0-9]+$/.test(value);
          }, "账号只能包含数字，字母，下划线");
          $('#validation-form').validate({
              errorElement: 'div',
              errorClass: 'help-block',
              focusInvalid: false,
              rules: {
                  foldername: {
                      required: true,
                      foldername: 'required'
                  },
                  filename: {
                      required: true,
                      filename: 'required'
                  }
              },

              messages: {
                  foldername: {
                      required: "请输入文件夹名"
                  }
              },



              highlight: function (e) {
                  $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
              },

              success: function (e) {
                  $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
                  $(e).remove();
              },

              errorPlacement: function (error, element) {
                  if(element.is(':checkbox') || element.is(':radio')) {
                      var controls = element.closest('div[class*="col-"]');
                      if(controls.find(':checkbox,:radio').length > 1) controls.append(error);
                      else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                  }
                  else if(element.is('.select2')) {
                      error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                  }
                  else if(element.is('.chosen-select')) {
                      error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                  }
                  else error.insertAfter(element.parent());
              }


          });

          $('#validation-form1').validate({
              errorElement: 'div',
              errorClass: 'help-block',
              focusInvalid: false,
              rules: {
                  userfile: {
                      required: true,
                      userfile: 'required'
                  }
              },

              messages: {
                  userfile: {
                      required: "请先选择上传文件"
                  }
              },



              highlight: function (e) {
                  $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
              },

              success: function (e) {
                  $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
                  $(e).remove();
              },

              errorPlacement: function (error, element) {
                  if(element.is(':checkbox') || element.is(':radio')) {
                      var controls = element.closest('div[class*="col-"]');
                      if(controls.find(':checkbox,:radio').length > 1) controls.append(error);
                      else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                  }
                  else if(element.is('.select2')) {
                      error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                  }
                  else if(element.is('.chosen-select')) {
                      error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                  }
                  else error.insertAfter(element.parent());
              }


          });

      });
</script>
{%/block%}