{%extends file="base_content.html"%}
{%block name="breadcrumb"%}
<li><a href="index.php?c=cms_contentMan">内容管理</a></li>
<li class="active">编辑</li>
{%/block%}

{%block name="content"%}

<script src="{%dirname(__FILE__)%}/skin/weixin/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{%dirname(__FILE__)%}/resources/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="{%dirname(__FILE__)%}/resources/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="{%dirname(__FILE__)%}/resources/ueditor/lang/zh-cn/zh-cn.js"></script>

<form class="form-horizontal" id="validation-form" method="post" role="form">
    {%include file="inc_form_result.html"%}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="title">标题:</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                <input type="text" name="title" id="title" class="col-xs-12 col-sm-6"
                        value="{%$entity.title|default:''%}" />
            </div>
        </div>
    </div>

    <div class="space-2"></div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="title">标题图片:</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                <input type="text" name="headimage" id="headimage" class="col-xs-12 col-sm-6"
                        value="{%$entity.headimage|default:''%}" />
            </div><img src="{%$entity.headimage|default:''%}">
        </div>
    </div>


    <div class="space-2"></div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="cid">所属栏目:</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                <select name="cid" id="cid" class="col-xs-12 col-sm-6" onchange="setCatname(this);">
                    {%html_options options=$group_list selected=$entity.cid%}
                </select>
                <input type="hidden" id="catname" name="catname" value="{%$entity.catname|default:''%}">
            </div>
        </div>
    </div>


    <div class="hr hr-dotted"></div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="content">内容:</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
            <script id="content" type="text/plain" style="width:1024px;height:500px;"></script>

            </div>
        </div>
    </div>

    <div class="space-2"></div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="newsdate">时间</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                <input type="text" id="newsdate" name="newsdate" class="col-xs-12 col-sm-6"
                       value="{%date('Y-m-d',$entity.newsdate)|default:''%}" />
            </div>
        </div>
    </div>

    <div class="space-2"></div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="openid">开放号</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                <input type="text" id="openid" name="openid" class="col-xs-12 col-sm-6"
                       value="{%$entity.openid|default:''%}"  />
            </div>
        </div>
    </div>

    <div class="space-2"></div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="description">描述</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                <input type="text" id="description" name="description" class="col-xs-12 col-sm-6"
                       value="{%$entity.description|default:''%}"  />
            </div>
        </div>
    </div>

    



    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="ace-icon fa fa-check bigger-110"></i>
                提交
            </button>

            &nbsp; &nbsp; &nbsp;
            <a class="btn" href="index.php?c=cms_contentMan">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                返回
            </a>
        </div>
    </div>
</form>
<div id="ue_content" style="display:none">
  {%stripslashes($entity.content)|default:''%}
</div>
<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例

  $(document).ready(function(){
    var ue_content = $('#ue_content').html();
    var ue = UE.getEditor('content');
      ue.ready( function( editor ) {
       ue.setContent(ue_content);
      } );

  });

  function setCatname(obj){
    var selindex = obj.selectedIndex;
    var catname= obj.options[selindex].text;
    $("#catname").val(catname);
  }
   
</script>

{%/block%}

{%block name="js"%}
<script>
      $(function(){

          jQuery.validator.addMethod("username", function (value, element) {
              return this.optional(element) || /^[_a-zA-Z0-9]+$/.test(value);
          }, "账号只能包含数字，字母，下划线");
          $('#validation-form').validate({
              errorElement: 'div',
              errorClass: 'help-block',
              focusInvalid: false,
              rules: {
                  email: {
                      required: true,
                      email:true
                  },
                  password: {
                  {%if $smarty.request.m=='add'%}required: true,{%/if%}
                      minlength: 6,
                      maxlength: 15
                  },

                  username: {
                      required: true,
                      minlength: 3,
                      maxlength: 15,
                      username: 'required'
                  }
                  ,

                  truename: {
                      required: true,
                      minlength: 2,
                      maxlength: 15
                  }
              },

              messages: {
                  email: {
                      required: "请输入邮箱",
                      email: "请输入正确邮箱格式"
                  },
                  password: {
                      required: "请输入密码",
                      minlength: "密码需要6-12个字符",
                      maxlength: "密码需要6-15个字符"
                  },
                  username: {
                      required: "请输入账号",
                      minlength: "账号需要3-15个字符",
                      maxlength: "账号需要3-15个字符"
                  },
                  truename: {
                      required: "请输入姓名",
                      minlength: "姓名需要2-15个字符",
                      maxlength: "姓名需要2-15个字符"
                  }
              },



              highlight: function (e) {
                  $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
              },

              success: function (e) {
                  $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
                  $(e).remove();
              },

              errorPlacement: function (error, element) {
                  if(element.is(':checkbox') || element.is(':radio')) {
                      var controls = element.closest('div[class*="col-"]');
                      if(controls.find(':checkbox,:radio').length > 1) controls.append(error);
                      else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                  }
                  else if(element.is('.select2')) {
                      error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                  }
                  else if(element.is('.chosen-select')) {
                      error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                  }
                  else error.insertAfter(element.parent());
              }


          });
      });
</script>
{%/block%}