{%extends file="base_content.html"%}
{%block name="breadcrumb"%}
<li><a href="index.php?c=sys_category">栏目管理</a></li>
<li class="active">编辑</li>
{%/block%}

{%block name="content"%}




<script src="/resources/uploadify/jquery-1.8.3.min.js"></script>




<form class="form-horizontal" id="validation-form" method="post" role="form">
    {%include file="inc_form_result.html"%}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="catname">栏目名称:</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                <input type="text" name="catname" id="catname" class="col-xs-12 col-sm-6"
                        value="{%$entity.catname|default:''%}" />
            </div>
        </div>
    </div>


    <div class="space-2"></div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="keyword">所属行业:</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                <select name="class_id" id="class_id" class="col-xs-12 col-sm-6">
                    {%html_options options=$bigcat_list selected=$entity.class_id%}
                </select>
            </div>
        </div>
    </div>




    <div class="space-2"></div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="keyword">关键词:</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                <input type="text" name="keyword" id="keyword" class="col-xs-12 col-sm-6"
                        value="{%$entity.keyword|default:''%}" />
            </div>
        </div>
    </div>

    <div class="space-2"></div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="weixinhao">微信号:</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                <input type="text" name="weixinhao" id="weixinhao" class="col-xs-12 col-sm-6"
                        value="{%$entity.weixinhao|default:''%}" />
            </div>
        </div>
    </div>

    <div class="space-2"></div>
    <div class="form-group">
        <label class="control-label col-xs-1 col-sm-3 no-padding-right" for="logourl">LOGO:</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">

                <input type="text" name="logourl" id="logourl" class="col-xs-12 col-sm-6"
                        value="{%$entity.logourl|default:''%}" />
                
            </div><img src="{%$entity.logourl|default:''%}">
        </div>
    </div>



    <div class="hr hr-dotted"></div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="description">描述:</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                <textarea name="description" id="description" class="col-xs-12 col-sm-6">{%$entity.description|default:''%}</textarea>
            </div>
        </div>
    </div>

    <div class="space-2"></div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="wxrz">wxrz:</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                <textarea name="wxrz" id="wxrz" class="col-xs-12 col-sm-6">{%$entity.wxrz|default:''%}</textarea>
            </div>
        </div>
    </div>

    <div class="space-2"></div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="openid">openid</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                <input type="text" id="openid" name="openid" class="col-xs-12 col-sm-6"
                       value="{%$entity.openid|default:''%}" />
            </div>
        </div>
    </div>

    <div class="space-2"></div>
    <div class="form-group">
        <label class="control-label col-xs-1 col-sm-3 no-padding-right" for="2weima">二维码:</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">

                <input type="text" name="2weima" id="2weima" class="col-xs-12 col-sm-6"
                        value="{%$entity.2weima|default:''%}" />
                
            </div><img src="{%$entity.2weima|default:''%}">
        </div>
    </div>

    <div class="space-2"></div>
    <div class="form-group" style="display:none">
        <label class="control-label col-xs-1 col-sm-3 no-padding-right" for="upload_img">栏目图片:</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                <input id="upload_img" name="upload_img" type="file" value="" multiple="true">
            </div><img id="showcatimg" src="{%$entity.catimg|default:''%}">
        </div>
    </div>


    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="ace-icon fa fa-check bigger-110"></i>
                提交
            </button>

            &nbsp; &nbsp; &nbsp;
            <a class="btn" href="index.php?c=cms_contentMan">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                返回
            </a>
        </div>
    </div>
    <input type="hidden" id="catimg" name="catimg" value="">
</form>
<div id="ue_content" style="display:none">
  {%stripslashes($entity.content)|default:''%}
</div>
<link rel="stylesheet" type="text/css" href="/resources/uploadify/uploadify.css">
<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例

  $(document).ready(function(){

    /*var ue_content = $('#ue_content').html();
    var ue = UE.getEditor('content');
      ue.ready( function( editor ) {
       ue.setContent(ue_content);
      } );*/

     //上传图片
    // $("#upload_img").uploadify({
    //     'formData'     : {
    //       'timestamp' : '{%$timestamp%}',
    //       'token'     : '{%$token%}'
    //     },
    //     'multi':false,
    //     'swf'              : '/resources/uploadify/uploadify.swf',
    //     'uploader'         : '/resources/uploadify/uploadify.php',
    //     'onUploadComplete' : function(file) {
    //         $("#catimg").val('/upload/cms/'+file.name);
    //         $("#showcatimg").attr("src",'/upload/cms/'+file.name);
    //     }
    // });

  });

  function setCatname(obj){
    var selindex = obj.selectedIndex;
    var catname= obj.options[selindex].text;
    $("#catname").val(catname);
  }
   
</script>

{%/block%}

{%block name="js"%}
<script>
      $(function(){

          jQuery.validator.addMethod("username", function (value, element) {
              return this.optional(element) || /^[_a-zA-Z0-9]+$/.test(value);
          }, "账号只能包含数字，字母，下划线");
          $('#validation-form').validate({
              errorElement: 'div',
              errorClass: 'help-block',
              focusInvalid: false,
              rules: {
                  email: {
                      required: true,
                      email:true
                  },
                  password: {
                  {%if $smarty.request.m=='add'%}required: true,{%/if%}
                      minlength: 6,
                      maxlength: 15
                  },

                  username: {
                      required: true,
                      minlength: 3,
                      maxlength: 15,
                      username: 'required'
                  }
                  ,

                  truename: {
                      required: true,
                      minlength: 2,
                      maxlength: 15
                  }
              },

              messages: {
                  email: {
                      required: "请输入邮箱",
                      email: "请输入正确邮箱格式"
                  },
                  password: {
                      required: "请输入密码",
                      minlength: "密码需要6-12个字符",
                      maxlength: "密码需要6-15个字符"
                  },
                  username: {
                      required: "请输入账号",
                      minlength: "账号需要3-15个字符",
                      maxlength: "账号需要3-15个字符"
                  },
                  truename: {
                      required: "请输入姓名",
                      minlength: "姓名需要2-15个字符",
                      maxlength: "姓名需要2-15个字符"
                  }
              },



              highlight: function (e) {
                  $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
              },

              success: function (e) {
                  $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
                  $(e).remove();
              },

              errorPlacement: function (error, element) {
                  if(element.is(':checkbox') || element.is(':radio')) {
                      var controls = element.closest('div[class*="col-"]');
                      if(controls.find(':checkbox,:radio').length > 1) controls.append(error);
                      else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                  }
                  else if(element.is('.select2')) {
                      error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                  }
                  else if(element.is('.chosen-select')) {
                      error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                  }
                  else error.insertAfter(element.parent());
              }


          });
      });
</script>
{%/block%}