{%extends file="base_content.html"%}
{%block name="breadcrumb"%}
<li><a href="index.php?c=cms_setting">站点设置</a></li>
<li class="active">编辑</li>
{%/block%}

{%block name="content"%}

<script src="{%dirname(__FILE__)%}/skin/weixin/js/jquery-1.8.3.min.js"></script>


<form class="form-horizontal" id="validation-form" method="post" role="form">
    {%include file="inc_form_result.html"%}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="domainname">站点域名:</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                <input type="text" name="domainname" id="domainname" class="col-xs-12 col-sm-6"
                        value="{%$setting.domainname|default:''%}" />
            </div>例： http://www.sunnycms.com
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="pcdomain">PC域名:</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                <input type="text" name="pcdomain" id="pcdomain" class="col-xs-12 col-sm-6"
                        value="{%$setting.pcdomain|default:''%}" />
            </div>例： http://www.sunnycms.com
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="mdomain">手机端域名:</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                <input type="text" name="mdomain" id="mdomain" class="col-xs-12 col-sm-6"
                        value="{%$setting.mdomain|default:''%}" />
            </div>例： http://m.sunnycms.com
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="urltype">URL结构:</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                <input type="text" name="urltype" id="urltype" class="col-xs-12 col-sm-6"
                        value="{%$setting.urltype|default:'0'%}" />
            </div>0: http://www.sunnycms.com/cat-1.html   1: http://www.sunnycms.com/xinwen/
        </div>
    </div>


    <div class="space-2"></div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="skin">皮肤:</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                <input type="text" name="skin" id="skin" class="col-xs-12 col-sm-6"
                        value="{%$setting.skin|default:''%}" />
            </div>
        </div>
    </div>

    <div class="space-2"></div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="sitename">站点名称:</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                <input type="text" name="sitename" id="sitename" class="col-xs-12 col-sm-6"
                        value="{%$setting.sitename|default:''%}" />
            </div>
        </div>
    </div>

    <div class="space-2"></div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="indextitle">首页标题:</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                <input type="text" name="indextitle" id="indextitle" class="col-xs-12 col-sm-6"
                        value="{%$setting.indextitle|default:''%}" />
            </div>
        </div>
    </div>

    <div class="space-2"></div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="keywords">关键词:</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                <input type="text" name="keywords" id="keywords" class="col-xs-12 col-sm-6"
                        value="{%$setting.keywords|default:''%}" />
            </div>
        </div>
    </div>



    <div class="hr hr-dotted"></div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="description">描述:</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                <textarea name="description" id="description" class="col-xs-12 col-sm-6">{%$setting.description|default:''%}</textarea>
            </div>
        </div>
    </div>

    <div class="space-2"></div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="beian">备案:</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                <textarea name="beian" id="beian" class="col-xs-12 col-sm-6">{%$setting.beian|default:''%}</textarea>
            </div>
        </div>
    </div>

    <div class="space-2"></div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="zhanzhangtong">站长统计</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
             <textarea name="zhanzhangtong" id="zhanzhangtong" class="col-xs-12 col-sm-6">{%$setting.zhanzhangtong|default:''%}</textarea>
            </div>
        </div>
    </div>

    <div class="space-2"></div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="bottom">底部信息</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
             <textarea name="bottom" id="bottom" class="col-xs-12 col-sm-6">{%$setting.bottom|default:''%}</textarea>
            </div>
        </div>
    </div>

    <div class="space-2"></div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="search">搜索框</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
             <textarea name="search" id="search" class="col-xs-12 col-sm-6">{%$setting.search|default:''%}</textarea>
            </div>
        </div>
    </div>
    



    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="ace-icon fa fa-check bigger-110"></i>
                提交
            </button>

            &nbsp; &nbsp; &nbsp;
            <a class="btn" href="index.php?c=cms_contentMan">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                返回
            </a>
        </div>
    </div>
</form>



{%/block%}

{%block name="js"%}
<script>
      $(function(){

          jQuery.validator.addMethod("username", function (value, element) {
              return this.optional(element) || /^[_a-zA-Z0-9]+$/.test(value);
          }, "账号只能包含数字，字母，下划线");
          $('#validation-form').validate({
              errorElement: 'div',
              errorClass: 'help-block',
              focusInvalid: false,
              rules: {
                  email: {
                      required: true,
                      email:true
                  },
                  password: {
                  {%if $smarty.request.m=='add'%}required: true,{%/if%}
                      minlength: 6,
                      maxlength: 15
                  },

                  username: {
                      required: true,
                      minlength: 3,
                      maxlength: 15,
                      username: 'required'
                  }
                  ,

                  truename: {
                      required: true,
                      minlength: 2,
                      maxlength: 15
                  }
              },

              messages: {
                  email: {
                      required: "请输入邮箱",
                      email: "请输入正确邮箱格式"
                  },
                  password: {
                      required: "请输入密码",
                      minlength: "密码需要6-12个字符",
                      maxlength: "密码需要6-15个字符"
                  },
                  username: {
                      required: "请输入账号",
                      minlength: "账号需要3-15个字符",
                      maxlength: "账号需要3-15个字符"
                  },
                  truename: {
                      required: "请输入姓名",
                      minlength: "姓名需要2-15个字符",
                      maxlength: "姓名需要2-15个字符"
                  }
              },



              highlight: function (e) {
                  $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
              },

              success: function (e) {
                  $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
                  $(e).remove();
              },

              errorPlacement: function (error, element) {
                  if(element.is(':checkbox') || element.is(':radio')) {
                      var controls = element.closest('div[class*="col-"]');
                      if(controls.find(':checkbox,:radio').length > 1) controls.append(error);
                      else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                  }
                  else if(element.is('.select2')) {
                      error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                  }
                  else if(element.is('.chosen-select')) {
                      error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                  }
                  else error.insertAfter(element.parent());
              }


          });
      });
</script>
{%/block%}