@charset "ufns-8";
html{overflow-y:scroll;background:#fff;color:#222;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html *{outline:0;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:transparent;}
body{position:relative;overflow:hidden;}
article,aside,blockquote,body,button,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul{margin:0;padding:0;}
input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
abbr,acronym{border:0;font-variant:normal;}
del{text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var{font-weight:500;font-style:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-weight:500;font-size:100%;}
q:after,q:before{content:'';}
sub,sup{position:relative;vertical-align:baseline;font-size:75%;line-height:0;}
sup{top:-.5em;}
sub{bottom:-.25em;}
a:hover{text-decoration:none;}
a,ins{color:#222;text-decoration:none;}
*,:after,:before{box-sizing:border-box;margin:0;padding:0;}
.clearfix:after{clear:both;display:block;visibility:hidden;height:0;content:".";}
.fns-warpper{position:relative;overflow:hidden;padding-top:1.133333rem;width:100%;-webkit-transition:-webkit-transform .4s;-moz-transition:-moz-transform .4s;transition:transform .4s;}
.fns-warpper-active{-webkit-transform:translateX(3.466667rem);-moz-transform:translateX(3.466667rem);transform:translateX(3.466667rem);}
.fns-header{position:absolute;top:0;left:0;z-index:100;width:100%;height:1.133333rem;border-bottom:.013333rem solid #dfdfdf;background-color:#fff;line-height:1.133333rem;}
.fns-item-warp{position:relative;width:100%;height:1.133333rem;line-height:1.133333rem;}
.fns-item-warp .fns-item{text-align:center;}
.fns-item-warp .fns-item a{display:inline-block;padding:0 .48rem;color:#9c9c9c;vertical-align:top;font-size:.4rem;}
.fns-item-warp .fns-item a.active{color:#00ae05;}
.fns-item-warp .fns-mn,.fns-item-warp .fns-seach{position:absolute;top:0;left:0;width:1.133333rem;height:1.133333rem;text-align:center;}
.fns-item-warp .fns-seach{right:0;left:auto;}
.fns-item-warp .fns-mn i,.fns-item-warp .fns-seach i{color:#666;vertical-align:middle;font-size:.666667rem;}
.section-warp-1{margin-bottom:.4rem;}
.section-warp-1 .sec-hd{width:100%;height:.8rem;text-align:center;}
.section-warp-1 .sec-hd a{display:inline-block;margin-top:.133333rem;padding:0 .466667rem;height:.666667rem;-webkit-border-radius:.266667rem;-moz-border-radius:.266667rem;border-radius:.266667rem;background-color:#ceffcd;color:#538f4d;font-size:.346667rem;line-height:.666667rem;}
.section-warp-1 li{float:left;margin-top:.293333rem;margin-left:.293333rem;width:4.533333rem;}
.section-warp-1 li .sec-item1{display:block;width:4.533333rem;}
.section-warp-1 li .sec-item1 img{width:4.533333rem;height:4.533333rem;}
.section-warp-1 li .sec-item1 span{display:block;overflow:hidden;width:100%;height:.733333rem;color:#616161;text-overflow:ellipsis;white-space:nowrap;font-size:.453333rem;line-height:.866667rem;}
.section-warp-1 li .sec-item2{display:block;width:100%;height:.6rem;line-height:.6rem;}
.section-warp-1 li .sec-item2 span{padding-right:.266667rem;color:#83db81;font-size:.373333rem;}
.section-warp-1 li .sec-item2 em{color:#878787;font-size:.373333rem;}
.section-warp-2{padding-top:.133333rem;padding-bottom:.133333rem;width:100%;background-color:#e2e2e2;}
.section-warp-2 li{float:left;margin-bottom:.066667rem;margin-left:.133333rem;width:2.33rem;height:2.33rem;}
.section-warp-2 li a,.section-warp-2 li a img{display:block;width:2.33rem;height:2.33rem;}
.fns-footer{position:relative;margin-top:.4rem;padding-left:.266667rem;width:100%;height:1.466667rem;background:linear-gradient(left,#dfd 7%,#e3ffbb 74%);background:-o-linear-gradient(left,#dfd 7%,#e3ffbb 74%);background:-ms-linear-gradient(left,#dfd 7%,#e3ffbb 74%);background:-moz-linear-gradient(left,#dfd 7%,#e3ffbb 74%);background:-webkit-linear-gradient(left,#dfd 7%,#e3ffbb 74%);}
.fns-footer .s1{padding-top:.2rem;color:#61b628;font-size:.48rem;line-height:.6rem;}
.fns-footer .s2{color:#32cedc;font-size:.32rem;line-height:.533333rem;}
.fns-fg{position:absolute;top:.333333rem;right:.266667rem;width:.8rem;height:.8rem;color:#61b628;text-align:center;font-size:.533333rem;line-height:.8rem;}
.fns-jznav{position:fixed;top:0;left:0;display:none;width:3.466667rem;height:100%;background-color:#393939;text-align:left;}
.fns-jznav .fns-jznav-title{height:1.133333rem;color:#c3c3c3;text-align:center;font-size:.467rem;line-height:1.067rem;}
.fns-jznav .fns-jznav-title a{display:block;width:100%;height:1.067rem;color:#c3c3c3;font-size:.467rem;}
.fns-jznav .fns-jz-section{margin-top:.266667rem;}
.fns-jznav .fns-jz-section a{display:block;width:100%;height:.933333rem;border-bottom:.013333rem solid #000;color:#c3c3c3;text-align:center;font-size:.467rem;line-height:.933333rem;}
.fns-jznav .fns-jz-section a.active{background-color:#24c121;color:#fff;}
.fns-page{margin-top:.4rem;width:100%;height:.8rem;}
.fns-page a{display:block;width:100%;height:.8rem;background:linear-gradient(left,#dfd 7%,#e3ffbb 74%);background:-o-linear-gradient(left,#dfd 7%,#e3ffbb 74%);background:-ms-linear-gradient(left,#dfd 7%,#e3ffbb 74%);background:-moz-linear-gradient(left,#dfd 7%,#e3ffbb 74%);background:-webkit-linear-gradient(left,#dfd 7%,#e3ffbb 74%);color:#61b628;text-align:center;font-size:.506667rem;line-height:.8rem;}
.fns-page a i{color:#61b628;font-size:.506667rem;}
.fns-module-warp .title{padding-left:.266667rem;width:100%;height:.8rem;color:#538f4d;font-size:.426667rem;line-height:.8rem;}
.fns-module-warp .title a{display:inline-block;height:.8rem;color:#538f4d;font-size:.426667rem;line-height:.8rem;}
.fns-module-warp .section-2 .section-item{display:inline-block;margin-top:.226667rem;width:3.066667rem;}
.fns-module-warp .section-2 .section-item:nth-child(3n+1){margin-left:.266667rem;}
.fns-module-warp .section-2 .section-item a{position:relative;display:block;width:3.066667rem;text-align:left;}
.fns-module-warp .section-2 .section-item a .fns-img{overflow:hidden;width:3.066667rem;height:3.066667rem;}
.fns-module-warp .section-2 .section-item a .fns-img img{width:3.066667rem;height:3.066667rem;}
.fns-module-warp .section-2 .section-item a .fns-info{width:3.066667rem;}
.fns-module-warp .section-2 .section-item a .fns-info .fns-info-title{display:block;overflow:hidden;padding-top:.15rem;width:100%;height:.986667rem;color:#333;font-size:.32rem;line-height:.4rem;}
.fns-module-warp .section-2 .section-item a .fns-info .fns-info-desc{display:block;overflow:hidden;height:.48rem;color:#8998a1;font-size:.32rem;line-height:.48rem;}
.fns-ar-main{margin-top:.4rem;padding:.266667rem 0.066667rem;}
.fns-ar-main .fns-ar-title{color:#333;font-size:.506667rem;line-height:.666667rem;}
.fns-ar-main .fns-ar-desc{height:.666667rem;color:#999;font-size:.346667rem;line-height:.666667rem;}
.fns-ar-main .fns-ar-desc a{padding-right:.266667rem;color:#999;font-size:.346667rem;}
.fns-ar-main .fns-content{overflow:hidden;padding-top:.266667rem;padding-bottom:.266667rem;width:100%;max-height:40rem;color:#fff!important;font-size:.48rem!important;line-height:.666667rem;}
.fns-ar-main .fns-content table{width:100%!important;}
.fns-ar-main .fns-content p{color:#333;word-wrap:break-word;font-size:.48rem!important;line-height:.666667rem!important;}
.fns-ar-main .fns-content p span{font-size:.48rem!important;line-height:.666667rem!important;}
.fns-ar-main .fns-content img{float:none!important;display:block;display:block;margin:.38rem 0;width:100%!important;}
.fns-ar-main .fns-content a{color:#333!important;font-size:.48rem!important;}