/*inline-block布局*/
/*inline-block布局的外盒子*/
.out {
    font-size: 0px;
    letter-spacing: -8px; /*兼容Safari浏览器，负值对其他浏览器无效*/
    *letter-spacing: normal; /* reset IE < 8 */
}
/*inline-block布局的里盒子*/
.in {
    display: inline-block;
    vertical-align: top; /*所有并列盒子项顶部对齐*/
}
/*兼容IE6 7*/
.in {
    *display: inline;
    zoom: 1;
}

.martop10 {
    margin-top: 10px;
}

.martop20 {
    margin-top: 20px;
}

.marleft10 {
    margin-left: 10px;
}

.marleft20 {
    margin-left: 20px;
}

.marleft14 {
    margin-left: 14px;
}

.layout {
    width: 1000px;
    margin: auto;
}

.m10 {
    height: 10px;
}

.m20 {
    height: 20px;
}

.m30 {
    height: 30px;
}

.logoBody {
    height: 68px;
}

    .logoBody .logo {
        width: 550px;
        height: 68px;
    }

        .logoBody .logo a {
            display: block;
            width: 550px;
            height: 68px;
            overflow: hidden;
            font-size: 30px;
            font-weight: 800;
            line-height: 68px;
            color: #f1335c;
        }

.navBody {
    background-color: #1c1c1c;
    height: 47px;
}

.nav {
    height: 47px;
}

    .nav ul li {
        width: 80px;
        height: 47px;
        text-align: center;
        line-height: 47px;
    }

        .nav ul li a {
            color: #fff;
        }

        .nav ul li.current {
            background: url(../images/nav_current.png);
        }

.hyFwTxt .title h2 {
    width: 122px;
    height: 39px;
    line-height: 39px;
    border-bottom: 1px solid #bcbcbc;
    color: #f1335c;
    font-size: 18px;
}

.weixinList {
    width: 322px;
    height: 370px;
    border: 1px solid #eaeaea;
    background-color: #fbfafa;
}

    .weixinList ul {
        width: 302px;
        height: 370px;
        margin: 0 auto;
    }

        .weixinList ul li {
            width: 302px;
            height: 37px;
            line-height: 37px;
            overflow: hidden;
        }

            .weixinList ul li em {
                width: 12px;
                height: 37px;
                text-align: center;
                line-height: 37px;
            }

            .weixinList ul li a {
                width: 290px;
                height: 37px;
                overflow: hidden;
            }

.hyFwPic {
    background-color: #000;
}

.fwPicBox {
    background-color: #fff;
}

.hyFwPic .title h2 {
    height: 80px;
    color: #fff;
    line-height: 80px;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}

.fwPicBox ul li {
    width: 250px;
    height: 93px;
}

    .fwPicBox ul li a.pic {
        width: 73px;
        height: 73px;
        margin: 11px 11px 11px 11px;
    }

        .fwPicBox ul li a.pic img {
            width: 73px;
            height: 73px;
        }

    .fwPicBox ul li a.txt {
        width: 142px;
        height: 73px;
        margin: 11px 0px 11px 0px;
        cursor: pointer;
        overflow: hidden;
    }

        .fwPicBox ul li a.txt h2 {
            width: 142px;
            height: 25px;
            overflow: hidden;
            font-size: 14px;
            font-weight: 700;
            line-height: 25px;
            padding-top: 10px;
        }

    .fwPicBox ul li:hover {
        background-color: #dcdcdc;
    }

.fwBox ul.numSer {
}

    .fwBox ul.numSer li {
        width: 166px;
        height: 29px;
        line-height: 29px;
    }

.friendLink {
    background-color: #fff;
    border-top: 1px solid #c1c1c1;
}

    .friendLink .friendLinkBody {
        height: 76px;
    }

.friendLinkBody h2 {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #000;
}

.friendLinkBody a {
    font-size: 14px;
    padding-right: 20px;
}

.footer {
    background-color: #fff;
    border: 1px solid #c1c1c1;
}

.footerBody {
    /*height: 120px;*/
}

    .footerBody .top1 {
        height: 50px;
        text-align: center;
        line-height: 50px;
    }

        .footerBody .top1 a {
            font-size: 14px;
        }

.breadCrumb {
    height: 54px;
    overflow: hidden;
    line-height: 54px;
}

    .breadCrumb a {
        color: #f1335c;
    }

.siteMain .listLeft {
    width: 640px;
    /*border: 1px solid #eaeaea;*/
}

.listLeftBox {
    width: 640px;
    border: 1px solid #eaeaea;
}

.listLeft .title h1 {
    width: 640px;
    height: 45px;
    font-size: 20px;
    font-weight: 800;
    line-height: 45px;
    border-bottom: 1px solid #c1c1c1;
    overflow: hidden;
    text-align: center;
}

.listLeft .source {
    width: 640px;
    margin: 0 auto;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.listLeft .content {
    width: 620px;
    margin: 0 auto;
    margin-bottom: 50px;
}

    .listLeft .content img {
        max-width: 620px;
    }

    .listLeft .content p, .listLeft .content span, .listLeft .content a, .listLeft .content strong {
        font-size: 14px;
    }

.CtpreNext {
    width: 620px;
    height: 64px;
    margin: 20px auto;
}

    .CtpreNext span {
        width: 72px;
        height: 30px;
        line-height: 30px;
        color: #000;
        font-size: 18px;
    }

    .CtpreNext a {
        line-height: 32px;
        font-size: 15px;
        text-decoration: none;
        color: #0d5db5;
    }

    .CtpreNext a {
        color: #ea6363;
    }

        .CtpreNext a:hover {
            color: #ea6363;
        }

.siteMain .listRight {
    width: 324px;
    margin-left: 34px;
}

.weixinFw {
    width: 324px;
}

    .weixinFw .title {
        width: 324px;
    }

        .weixinFw .title h2 {
            width: 310px;
            height: 21px;
            line-height: 21px;
            border-left: 4px solid #f1335c;
            margin: 17px 0px 17px 0px;
            text-indent: 10px;
            margin-left: 1px;
        }

    .weixinFw .picList {
        width: 322px;
        height: 589px;
        border: 1px solid #eaeaea;
    }

.picList ul li {
    width: 322px;
}

    .picList ul li a.pic {
        width: 73px;
        height: 73px;
        margin: 11px 11px 11px 11px;
    }

        .picList ul li a.pic img {
            width: 73px;
            height: 73px;
        }

    .picList ul li a.txt {
        width: 225px;
        height: 73px;
        margin: 11px 0px 11px 0px;
        cursor: pointer;
    }

        .picList ul li a.txt h2 {
            width: 225px;
            height: 25px;
            overflow: hidden;
            font-size: 14px;
            font-weight: 700;
            line-height: 25px;
            padding-top: 10px;
        }

.introduce {
    width: 580px;
    height: 191px;
    margin: 0 auto;
}

    .introduce .serveNumPic {
        width: 73px;
        height: 73px;
        margin: 50px 0px 0px 0px;
    }

.serveNumPic img {
    width: 73px;
    height: 73px;
}

.introduce .serverCt {
    width: 495px;
    margin-left: 10px;
    margin-top: 50px;
}

.serverCt ul li h1 {
    font-size: 18px;
    font-weight: 700;
}

.serverCt ul li h2 {
    font-size: 14px;
    padding-bottom: 10px;
}

.serverCt ul li span {
    font-size: 14px;
    color: #808080;
}

.serverCt ul li.ct {
    height: 20px;
    overflow: hidden;
    line-height: 20px;
    margin-bottom: 5px;
}

.listLeft .title {
    width: 580px;
    margin: 0 auto;
}

    .listLeft .title h2 {
        height: 35px;
        font-size: 18px;
        font-weight: 800;
    }

.listCt {
    width: 580px;
    margin: 0 auto;
}

.listLeft .listCt ul.ctUl li {
    width: 580px;
    height: 160px;
    border-top: 1px solid #c1c1c1;
    overflow: hidden;
}

.listLeft .listCt ul li h2 a {
    display: block;
    height: 50px;
    font-size: 18px;
    font-weight: 800;
    line-height: 58px;
    color: #000;
}

    .listLeft .listCt ul li h2 a:hover {
        color: #f1335c;
    }

.listLeft .listCt ul li span {
    line-height: 20px;
    color: #808080;
}

.preNext {
    width: 580px;
    height: 40px;
    margin: 20px auto;
    text-align: center;
}

.pnUl li {
    display: inline-block;
    vertical-align: top;
}

.pnUl li {
    *display: inline;
    zoom: 1;
}

.preNext a, .preNext span {
    display: block;
    height: 33px;
    min-width: 13px;
    color: #000;
    line-height: 34px;
    font-size: 14px;
    border: 1px solid #c1c1c1;
    margin: 0px 5px 0px 5px;
    padding: 0px 10px 0px 10px;
}

    .preNext a.current {
        background-color: #c1c1c1;
        color: #fff;
    }

    .preNext a.pre, .preNext a.next {
        display: block;
        width: 78px;
    }
