.out{letter-spacing:-8px;font-size:0;}
.in{display:inline-block;vertical-align:top;}
.in{zoom:1;}
.martop10{margin-top:10px;}
.martop20{margin-top:20px;}
.marleft10{margin-left:10px;}
.marleft15{margin-left:15px;}
.marbottom10{margin-bottom:10px;}
.marleft20{margin-left:20px;}
.marleft25{margin-left:25px;}
.marleft68{margin-left:68px;}
.padleft15{padding-left:15px;}
.layout{margin:0 auto;width:1030px;}
.m5{height:5px;}
.m10{height:10px;}
.m15{height:15px;}
.m20{height:20px;}
.clearfix:after{clear:both;display:block;visibility:hidden;height:0;content:".";}
.content img{max-width:700px;}
.bL1{border-left:1px solid #ddd;}
.bT1{border-bottom:1px solid #ddd;}
.fl{float:left;}
.fr{float:right;}
.header{padding-top:32px;}
.logo{margin-right:30px;width:135px;height:40px;background:url(../images/logo.png) no-repeat;}
.logo a{display:block;height:40px;text-indent:-9999px;}
.search{width:600px;height:50px;}
.query-box{width:489px;border-top:1px solid #979797;border-bottom:1px solid #BCBCBC;border-left:1px solid #979797;background-color:#fff;}
.q-border{padding:0 10px;height:39px;border-top:1px solid #E5E5E5;border-left:1px solid #E5E5E5;}
.query{margin:0;padding:10px 0 5px;width:100%;outline:0;border:0;background-color:#fff;color:#333;font:16px arial,sans-serif;}
.sbtn input{width:110px;height:40px;outline:0;border:solid 1px #3ea73e;border-radius:0 2px 2px 0;background-color:#4fb84f;color:#fff;font:15px 'microsoft yahei',sans-serif;cursor:pointer;}
.slide,.slide li{width:728px;height:280px;background-color:#fbfbfb;}
.slide{position:relative;overflow:hidden;border:1px #ededed solid;}
.slide li{position:absolute;display:none;overflow:hidden;}
.slide li.current{display:block;}
.slide li .image{position:absolute;top:-2px;left:-2px;}
.slide li .text{position:relative;bottom:0;float:right;overflow:hidden;margin:15px 10px 0 0;padding:6px 0;width:288px;height:auto;background:0;background-color:rgba(0,0,0,.6);text-indent:0;filter:none;}
.slide li .text a{float:left;color:#fff;font-size:14px;line-height:17px;}
.slide li img{width:400px;height:282px;}
.slide li .text .title a{float:none;color:#000;text-indent:0;font-weight:700;font-size:16px;font-family:"微软雅黑","宋体";line-height:22px;}
.slide li .text p{clear:both;overflow:hidden;margin-top:4px;max-height:120px;color:#888;text-indent:0;font-size:12px;line-height:20px;}
.slide .triggers{position:absolute;right:0;bottom:10px;left:0;z-index:1;padding:0 0 8px;width:400px;height:38px;text-align:center;}
.slide .triggers a{float:none;display:inline-block;overflow:hidden;margin:0 3px 0 0;width:62px;height:42px;border-radius:1px;background:0;color:#000;text-align:center;font-size:11px;line-height:12px;-webkit-text-size-adjust:none;}
.slide .triggers a:hover{text-decoration:none;}
.slide .triggers a img{width:58px;height:38px;border:1px #999 solid;vertical-align:middle;opacity:.6;}
.slide .triggers a.current img{border:2px #2fac00 solid;opacity:1;}
.slide .icon-dot{position:absolute;right:20px;bottom:20px;display:inline-block;}
.slide .icon-dot a{display:inline-block;overflow:hidden;margin:0 2px;width:9px;height:9px;background-image:url(../images/nav.png);background-position:-1px -1px;background-repeat:no-repeat;}
.slide .icon-dot a.current{background-position:-1px -12px;}
.slide .link-watch{position:absolute;top:110px;display:none;width:30px;height:44px;background:url(../images/arrow.png) no-repeat 0 -57px;cursor:pointer;filter:alpha(opacity=60);}
.slide .link-watch.pre{left:0;}
.slide .link-watch.next{right:0;left:368px;background-position:right -57px;}
.slide .link-watch.down{background-position-y:-2px;}
.main-left{width:728px;}
.main-right{margin-left:22px;width:280px;}
.slide ul.contents{height:280px;}
.slide li .image a img{width:400px;height:282px;}
.slide .triggers a img{width:58px;height:38px;}
.nav-box{border-bottom:1px solid #229d44;background:#1eb848;}
.nav-box li{width:10%;height:38px;line-height:38px;}
.nav-box li a:hover,.nav-box li.current a{background-color:#229d44;}
.nav-box li a{display:block;color:#fff;text-align:center;text-decoration:none;}
.container-list{background-color:#fff;}
.container-list li{padding:25px 20px 28px 0;border-bottom:1px solid #f2f2f2;}
.weixin-img{position:relative;z-index:60;margin:0 16px 0 16px;width:67px;height:120px;text-align:center;}
.weixin-img a{position:relative;display:block;height:85px;color:#666;}
.weixin-img .ico-bg{position:absolute;left:5px;z-index:1000;display:block;width:57px;height:57px;background:url(../images/bg_mark.png) 0 0 no-repeat;}
.weixin-img .ico-im{position:absolute;left:5px;}
.weixin-img .ico-im,.weixin-img .ico-im img{width:57px;height:57px;}
.weixin-img .weixin-num{position:absolute;bottom:0;overflow:hidden;margin-bottom:5px;height:17px;color:#666;font-size:13px;line-height:17px;}
.weixin-img .fxf{position:relative;}
.weixin-img .fxf a{left:5px;display:block;padding-left:21px;width:32px;height:18px;background:#e2f7e7 url(../images/ico_spr.gif) 8px -247px no-repeat;color:#229d44;text-align:left;text-decoration:none;font-size:12px;line-height:18px;}
.weixin-news-info{padding:0 16px 0 0;width:483px;}
.weixin-news-info h3{overflow:hidden;margin-bottom:10px;height:22px;line-height:22px;}
.weixin-news-info h3 a{font-weight:600;font-size:19px;}
.weixin-news-info .m-txt{overflow:hidden;line-height:22px;}
.weixin-news-info .m-txt a{color:#979797;text-decoration:none;}
.weixin-news-info .m-txt a:hover{color:#666;}
.weixin-news-info .other{margin-top:10px;color:#BCBCBC;}
.weixin-news-info .other .time{padding-left:20px;}
.xixi-box{padding:0 20px 10px;border:1px solid #eaece9;background:#fff;}
.xixi-box .hd{position:relative;}
.xixi-box .hd h3{position:relative;padding:15px 0 9px 0;border-bottom:2px solid #ececec;color:#000;font-weight:400;font-size:16px;font-family:"微软雅黑";line-height:20px;}
.xixi-box .hd span{position:absolute;top:44px;left:0;overflow:hidden;width:65px;height:2px;background:#53bc53;}
.xixi-box .bd{position:relative;}
.xixi-box .bd p.txt{width:140px;}
.xixi-box .bd p.txt a{display:block;overflow:hidden;height:38px;line-height:19px;}
.xixi-box .bd p.pic,.xixi-box .bd p.pic a img{width:80px;}
.xixi-box .bd p.pic{margin-left:17px;}
.xixi-box .bd p.pic a{display:block;overflow:hidden;height:60px;}
.xixi-box ul li{padding:15px 0 15px 0;border-bottom:1px solid #f2f2f2;}
.weixin-news-img{width:110px;height:110px;}
.weixin-news-img a{display:block;overflow:hidden;}
.weixin-news-img a img{height:110px;}
.erweima{position:relative;top:-125px;left:75px;width:330px;height:256px;background:url(../images/bg_wxbox2.gif) no-repeat;}
.erweima .phone{margin-top:8px;margin-right:3px;width:152px;height:252px;background:url(../images/img_ph.png) no-repeat;}
.erweima .erweima-img{margin-top:47px;margin-left:19px;width:140px;height:140px;}
.erweima .erweima-img img{width:140px;}
.erweima .erweima-img em{position:absolute;top:101px;left:71px;display:block;width:34px;height:34px;}
.erweima .erweima-img em img{width:34px;height:34px;}
.footer{padding:0 0 20px 0;}
.footer p{background-color:#fff;text-align:center;line-height:1.8;}
#nav{z-index:9999;width:728px;}
.page{height:40px;border:1px dashed #00ff21;text-align:center;}
.page .page-nav{letter-spacing:-8px;font-size:0;}
.container-list .page .page-nav li{display:inline-block;margin-top:5px;margin-right:5px;padding:0;height:28px;min-width:27px;border:1px solid #229d44;vertical-align:top;line-height:28px;}
.page .page-nav li a{display:block;}
.page .page-nav li a.current{background-color:#229d44;color:#fff;}
.page .page-nav li a{padding:0 10px 0 10px;}
.weixin-list-news-info h6{font-size:16px;}
.m-list-txt em,.m-list-txt span{display:block;margin-top:5px;color:#828181;font-size:12px;}
.m-list-txt em{color:#000;}
.weixin-list-news-info{padding-left:20px;width:558px;}
.content .ct-title h2{margin-bottom:14px;padding:10px;border-bottom:1px solid #e7e7eb;text-align:center;font-weight:600;font-size:24px;}
.content .ct-soure em,.content .ct-soure span{margin-right:20px;color:grey;font-size:12px;}
.content .ct-soure span a{color:#3343f2;}
.content .pre-next p{line-height:1.8;}
.content{line-height:1.6;}
.tagbox{margin-top:20px;}
.tagbox a{display:inline-block;margin:0 7px 7px 0;padding:2px 7px;border:1px solid #ebebeb;color:#959595;line-height:1.5em;-webkit-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease;}
.tagbox a:hover{border:1px solid #229d44;background:#229d44;color:#fff;text-decoration:none;}
.ct-content-main img{display:block;margin:20px auto;max-width:100%;min-width:650px;}
.ct-content-main p{font-size:16px;line-height:1.8;}
.ct-content-main,.ct-soure,.ct-title{background-color:#fff;}
.ct-soure{padding:20px;}
.ct-content-main{padding:25px;}
.pre-next{padding:20px;border:1px dashed #999;line-height:2;}
.ct-content-main pre{display:block;margin:0 auto;padding:25px;width:610px;white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;}
.other-nav-main{background-color:#fff;}
.otm-item-left{padding-right:30px;width:105px;text-align:right;line-height:25px;}
.otm-item-right{width:895px;}
.otm-item-right a{display:inline-block;overflow:hidden;padding:0 4px;width:115px;height:30px;line-height:30px;}
.border-bottom-gray{border-bottom:1px solid #e3e3e3;}
.otm-item{padding-top:20px;padding-bottom:20px;}
.nh-pic-warp{width: 100%;}
.nh-pic-warp a{width: 175px;height: 125px;margin-right: 9px;margin-bottom: 9px;}
.nh-pic-warp a:nth-child(4n){margin-right: 0px;}
.nh-pic-warp a img{display: block;width: 175px;height: 125px;}