/*CSS全局样式重置*/
/*修改于2014-08-10*/

* {
        font-size: 14px;
        letter-spacing: normal;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
        margin: 0;
        padding: 0;
}

body {
        background: #f5f5f5 !important;
        color: #464545 !important;
         font-family: Verdana, Microsoft Yahei, Helvetica, sans-serif !important;
}

td, th, caption {
        font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
        font-weight: normal;
        font-size: 100%;
}

address, caption, cite, code, dfn, em, strong, th, var {
        font-style: normal;
        font-weight: normal;
}

a {
        color: #555;
        text-decoration: none;
}

        a:hover {
                color:#c80204;
                 text-decoration:underline;
        }

img {
        border: none;
}

ol, ul, li {
        list-style: none;
}

input, textarea, select, button {
        font: 14px Verdana,Helvetica,Arial,sans-serif;
}

table {
        border-collapse: collapse;
}

html {
        overflow-y: scroll;
}

p {
        word-wrap: break-word;
}
