/*inline-block布局*/
/*inline-block布局的外盒子*/
.out {
    font-size: 0px;
    letter-spacing: -8px; /*兼容Safari浏览器，负值对其他浏览器无效*/
    *letter-spacing: normal; /* reset IE < 8 */
}
/*inline-block布局的里盒子*/
.in {
    display: inline-block;
    vertical-align: top; /*所有并列盒子项顶部对齐*/
}
/*兼容IE6 7*/
.in {
    *display: inline;
    zoom: 1;
}

.martop10 {
    margin-top: 10px;
}

.martop20 {
    margin-top: 20px;
}

.marleft10 {
    margin-left: 10px;
}

.marleft20 {
    margin-left: 20px;
}

.layout {
    width: 1000px;
    margin: auto;
}

.m10 {
    height: 10px;
}

.m20 {
    height: 20px;
}

.m30 {
    height: 30px;
}

.logoBody .logo {
    width: 500px;
    height: 70px;
    line-height: 70px;
}

.logo a {
    display: block;
    width: 500px;
    height: 70px;
    font-size: 30px;
    font-weight: 800;
    color: #2a9302;
}

.navBody {
    height: 23px;
    border-bottom: 2px solid #2a9302;
}

.nav {
    height: 23px;
}

    .nav ul li {
        width: 68px;
        height: 23px;
        line-height: 23px;
        background-color: #2a9302;
        text-align: center;
        margin-right: 10px;
    }

        .nav ul li a {
            color: #fff;
        }

        .nav ul li.current a {
            color: #ffff00;
        }

.siteMain .left {
    width: 640px;
}

.siteMain .right {
    width: 340px;
    margin-left: 20px;
}

.weixinFw {
    width: 620px;
}

    .weixinFw .title {
        width: 620px;
        height: 46px;
        line-height: 46px;
        border-bottom: 2px solid #2a9302;
        font-size: 18px;
    }

.fwListFw {
    width: 620px;
}

    .fwListFw .list {
        width: 290px;
        height: 290px;
    }

        .fwListFw .list ul li {
            width: 290px;
            height: 29px;
            overflow: hidden;
            line-height: 29px;
        }

            .fwListFw .list ul li em {
                width: 15px;
                height: 29px;
            }

            .fwListFw .list ul li a {
                width: 273px;
                height: 29px;
                overflow: hidden;
            }

.line {
    width: 0px;
    height: 250px;
    border-left: 1px dotted #808080;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin: 20px 19px 20px 19px;
}

.fwPicListFw {
    width: 620px;
}

    .fwPicListFw ul li {
        width: 155px;
        cursor: pointer;
    }

        .fwPicListFw ul li a.pic {
            display: block;
            width: 73px;
            height: 73px;
            margin: 11px 11px 11px 0px;
        }

        .fwPicListFw ul li a.txt {
            display: block;
            width: 140px;
            height: 56px;
            /*margin: 0px 11px 11px 0px;*/
            overflow: hidden;
        }

        .fwPicListFw ul li a.pic img {
            width: 73px;
            height: 73px;
        }

        .fwPicListFw ul li a.txt h2 {
            height: 33px;
            line-height: 33px;
            font-weight: 700;
        }

        .fwPicListFw ul li a.pic span {
            display: block;
            height: 23px;
        }

.friendLink {
    background-color: #fff;
    border-top: 1px solid #c1c1c1;
}

    .friendLink .friendLinkBody {
        height: 76px;
    }

.friendLinkBody h2 {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #000;
}

.friendLinkBody a {
    font-size: 14px;
    padding-right: 20px;
}

.footer {
    background-color: #fff;
    border: 1px solid #c1c1c1;
}

.footerBody {
    /*height: 120px;*/
}

    .footerBody .top1 {
        height: 50px;
        text-align: center;
        line-height: 50px;
    }

        .footerBody .top1 a {
            font-size: 14px;
        }

.serFw {
    width: 340px;
}

    .serFw .title {
        width: 340px;
    }

        .serFw .title h2 {
            width: 320px;
            height: 46px;
            margin: 0 auto;
            border-bottom: 2px solid #2a9302;
            font-size: 18px;
            line-height: 41px;
        }

    .serFw .serList {
        width: 320px;
        margin: 0 auto;
    }

.serList li {
    width: 155px;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    overflow: hidden;
}

.fwPicListFw ul li:hover {
    background-color: #dcdcdc;
}

.breadCrumb {
    height: 40px;
    overflow: hidden;
    line-height: 40px;
}

    .breadCrumb a {
        color: #767676;
    }

.siteMain .listLeft {
    width: 640px;
    background-color: #fff;
}

.introduce {
    width: 580px;
    height: 191px;
    margin: 0 auto;
}

    .introduce .serveNumPic {
        width: 73px;
        height: 73px;
        margin: 50px 0px 0px 0px;
    }

.serveNumPic img {
    width: 73px;
    height: 73px;
}

.introduce .serverCt {
    width: 497px;
    margin-left: 10px;
    margin-top: 50px;
}

.serverCt ul li h1 {
    font-size: 18px;
    font-weight: 700;
}

.serverCt ul li h2 {
    font-size: 14px;
    padding-bottom: 10px;
}

.serverCt ul li span {
    font-size: 14px;
    color: #808080;
}

.serverCt ul li.ct {
    height: 20px;
    overflow: hidden;
    line-height: 20px;
    margin-bottom: 5px;
}

.listLeft .title {
    width: 580px;
    margin: 0 auto;
}

    .listLeft .title h2 {
        height: 35px;
        font-size: 18px;
        font-weight: 800;
    }

.listCt {
    width: 580px;
    margin: 0 auto;
}

.listLeft .listCt ul.ctUl li {
    width: 580px;
    height: 160px;
    border-top: 1px solid #c1c1c1;
    overflow: hidden;
}

.listLeft .listCt ul li h2 a {
    display: block;
    height: 50px;
    font-size: 18px;
    font-weight: 800;
    line-height: 58px;
    color: #000;
}

    .listLeft .listCt ul li h2 a:hover {
        color: #2a9302;
    }

.listLeft .listCt ul li span {
    line-height: 20px;
    color: #808080;
}

.preNext {
    width: 580px;
    height: 40px;
    margin: 20px auto;
    text-align: center;
}

.pnUl li {
    display: inline-block;
    vertical-align: top;
}

.pnUl li {
    *display: inline;
    zoom: 1;
}

.preNext a, .preNext span {
    display: block;
    height: 33px;
    min-width: 13px;
    color: #000;
    line-height: 34px;
    font-size: 14px;
    border: 1px solid #c1c1c1;
    margin: 0px 5px 0px 5px;
    padding: 0px 10px 0px 10px;
}

    .preNext a.current {
        background-color: #c1c1c1;
        color: #fff;
    }

    .preNext a.pre, .preNext a.next {
        display: block;
        width: 78px;
    }

.siteMain .listRight {
    width: 340px;
    margin-left: 20px;
    background-color: #fff;
}

.weixinFw {
    width: 340px;
}

    .weixinFw .weixinFwBody {
        width: 320px;
        margin: 0 auto;
    }

.weixinFwBody .title {
    width: 320px;
    height: 43px;
}

    .weixinFwBody .title h2 {
        width: 320px;
        height: 41px;
        font-size: 14px;
        color: #2a9302;
        line-height: 41px;
        text-indent: 4px;
    }

.weixinFwBody .txtList {
    width: 320px;
    /*height: 575px;*/
}

    .weixinFwBody .txtList ul li {
        width: 320px;
        height: 28px;
    }

        .weixinFwBody .txtList ul li i {
            width: 7px;
            height: 28px;
            line-height: 28px;
            font-size: 14px;
        }

        .weixinFwBody .txtList ul li a {
            width: 300px;
            height: 28px;
            line-height: 28px;
            font-size: 14px;
            overflow: hidden;
        }

.picList ul li {
    width: 155px;
    cursor: pointer;
    margin-left: 5px;
}

    .picList ul li:hover {
        background-color: #ebeaea;
    }

    .picList ul li a.pic {
        display: block;
        width: 73px;
        height: 73px;
        margin: 11px 11px 11px 0px;
    }

    .picList ul li a.txt {
        display: block;
        width: 140px;
        height: 56px;
        /* margin: 0px 11px 11px 0px; */
        overflow: hidden;
    }

    .picList ul li a.pic img {
        width: 73px;
        height: 73px;
    }

    .picList ul li a.txt h2 {
        height: 33px;
        line-height: 33px;
        font-weight: 700;
    }

.listLeft .title h1 {
    width: 580px;
    height: 50px;
    font-size: 20px;
    font-weight: 800;
    line-height: 50px;
    border-bottom: 1px solid #c1c1c1;
    overflow: hidden;
    text-align: center;
}

.listLeft .source {
    width: 580px;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

    .listLeft .source span {
        height: 30px;
        margin-right: 10px;
    }

.listLeft .content {
    width: 580px;
    margin: 0 auto;
    margin-bottom: 50px;
}

    .listLeft .content img {
        max-width: 580px;
    }

    .listLeft .content p, .listLeft .content span, .listLeft .content a, .listLeft .content strong {
        font-size: 14px;
    }

.CtpreNext {
    width: 580px;
    height: 64px;
    margin: 20px auto;
}

    .CtpreNext span {
        width: 72px;
        height: 30px;
        line-height: 30px;
        color: #000;
        font-size: 18px;
    }

    .CtpreNext a {
        line-height: 32px;
        font-size: 15px;
        text-decoration: none;
        color: #0d5db5;
    }

        .CtpreNext a:hover {
            color: #ea6363;
        }

.numSer li {
    height: 30px;
    line-height: 30px;
    width: 165px;
    overflow: hidden;
}

.PicSer li {
    width: 164px;
    cursor: pointer;
}

    .PicSer li:hover {
        background-color: #eae7e7;
    }

    .PicSer li a.pic {
        display: block;
        width: 73px;
        height: 73px;
        margin: 11px 11px 11px 0px;
    }

    .PicSer li a.txt {
        display: block;
        width: 140px;
        height: 56px;
        /*margin: 0px 11px 11px 0px;*/
        overflow: hidden;
    }

    .PicSer li a.pic img {
        width: 73px;
        height: 73px;
    }

    .PicSer li a.txt h2 {
        height: 33px;
        line-height: 33px;
        font-weight: 700;
    }

    .PicSer li a.pic span {
        display: block;
        height: 23px;
    }
