<!--main star-->
        <div class="layout siteMain out">
            <!--article star-->
            <div class="listLeft in">
                <div class="breadCrumb">
                    您的位置：
                    <?=$mypostion?>
                </div>
                <div class="listLeftBox">
                {data_content}
                <input type="hidden" id="content_id" name="content_id" value="{id}" >
                    <div class="title">
                        <h1>{title}</h1>
                    </div>
                    <!--source star-->
                    <div class="source out">
                        <span class="in">{buildtime}</span>
                        <span class="in">{catname}</span>
                    </div>
                    <!--source stop-->
                    <div class="m10"></div>
                    <!-- content star-->
                    <div class="content">
                        {content}
                    </div>
                     {/data_content}
                    <div class="CtpreNext">
                        <div>
                            <span class="in">上一篇：</span>
                            <!--上一篇-->
                            <?=$content_per?>
                        </div>
                        <div>
                            <span class="in">下一篇：</span>
                            <!--下一篇-->
                            <?=$content_next?>
                        </div>
                    </div>
                    <!-- content stop-->
                </div>
            </div>
            <!-- article stop-->
            <div class="listRight in">
                <!--new messages star-->
                <div class="weixinFw">
                    <div class="title">
                        <h2>最新文章</h2>
                    </div>
                    <div class="weixinList in">
                        <ul>
                            {newest}
                                <li class="out"><em class="in">·</em><a class="in" href="<?=$domainname?>/view-{id}.html" title="{title}" target="_blank">{title}</a></li>
                            {/newest}
                        </ul>
                    </div>
                </div>
                <!--new messages stop-->
                <div class="m20"></div>
                <!--hot weixin num star-->
                <div class="weixinFw">
                    <div class="weixinFwBody">
                        <div class="title">
                            <h2>热门公众号</h2>
                        </div>
                        <div class="picList">
                            <ul>
                                {hotweixin}
                                 <li class="out">
                                    <a class="pic in" href="<?=$domainname?>/list-{id}.html" title="{catname}">
                                        <img src="{logourl}" alt="{catname}" />
                                    </a>
                                    <a class="txt in" href="<?=$domainname?>/list-{id}.html" title="{catname}">
                                        <h2>{catname}</h2>
                                        <span>微信号：</span><span>{weixinhao}</span>
                                    </a>
                                </li>
                                {/hotweixin}
                            </ul>
                        </div>
                    </div>
                </div>
                <!--hot weixin num stop-->
            </div>
        </div>
        <!--main stop-->
<script type="text/javascript">
    $(document).ready(function(){
        var id  = $("#content_id").val();
        $.ajax({
            type:'GET',
            url:'/index.php?c=cms_index&m=viewClick&id='+id+''
        });

        var imgobj = $(".content img");
        $.each(imgobj,function (key){
            var datasrc = $(this).attr("data-src");
            if(datasrc == undefined){

            }else{
                $(this).attr("src",datasrc);
            }
        });
        
    });
</script>