        <div class="m20"></div>
        <!--main star-->
        <div class="siteMain">
            <div class="layout hyFwTxt">
                <div class="title">
                    <h2>最新资讯</h2>
                </div>
                <div class="m30"></div>
                <div class="fwBox out">
                    <div class="weixinList in">
                        <ul>
                            <?php foreach ($this->sys_cms_content->getNewList(10) as $key => $value) {?>
                            <li class="out"><em class="in">·</em><a class="in"  href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>"><?=$value['title']?></a></li>
                            <?php }?>
                            
                        </ul>
                    </div>
                    <div class="weixinList marleft14 in">
                        <ul>
                            <?php foreach ($this->sys_cms_content->getNewList(10,10) as $key => $value) {?>
                            <li class="out"><em class="in">·</em><a class="in"  href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>"><?=$value['title']?></a></li>
                            <?php }?>
                        </ul>
                    </div>
                    <div class="weixinList marleft14 in">
                        <ul>
                            <?php foreach ($this->sys_cms_content->getNewList(10,20) as $key => $value) {?>
                            <li class="out"><em class="in">·</em><a class="in"  href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>"><?=$value['title']?></a></li>
                            <?php }?>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="m30"></div>
            <div class="hyFwPic">
                <div class="layout title">
                    <h2>热门微信公众号大全</h2>
                </div>
                <div class="layout fwPicBox">
                    <ul class="out">
                         {hotweixin}
                            <li class="in">
                                <a class="pic in" href="<?=$domainname?>/list-{id}.html" title="{catname}">
                                    <img src="{logourl}" alt="{catname}" />
                                </a>
                                <a class="txt in" href="<?=$domainname?>/list-{id}.html" title="{catname}">
                                    <h2>{catname}</h2>
                                    <span>微信号：</span><span>{weixinhao}</span>
                                </a>
                            </li>
                          {/hotweixin}
                    </ul>
                </div>
                <div class="m30"></div>
            </div>
            <div class="m30"></div>
            <div class="layout hyFwTxt">
                <div class="title">
                    <h2>公众号排行版</h2>
                </div>
                <div class="m30"></div>
                <div class="fwBox">
                    <ul class="numSer out">
                                            {senweixin}
                            <li class="in"><a href="<?=$domainname?>/list-{id}.html" title="{catname}">{catname}</a></li>
                        {/senweixin}
                       
                    </ul>
                </div>
            </div>
        </div>
        <!--main stop-->
        <div class="m20"></div>
        <div class="friendLink">
            <div class="layout friendLinkBody">
                <h2><a style="padding-right: 0px"> 友情链接</a></h2>
                {linklist}
                    <a href="{url}" target="_blank">{name}</a>
                {/linklist}
            </div>
        </div>