<!--main star-->
        <div class="siteMain">
            <div class="layout hyFwTxt">
                <div class="title">
                    <h2>公众号排行版</h2>
                </div>
                <div class="m30"></div>
                <div class="fwBox">
                    <ul class="numSer out">
                        {allweixin}
                            <li class="in"><a class="in" href="<?=$domainname?>/list-{id}.html" title="{catname}">{catname}</a></li>
                        {/allweixin}
                        
                    </ul>
                </div>
            </div>
        </div>
        <!--main stop-->
        <div class="m20"></div>