        <div class="martop20"></div>
        <!--main star-->
        <div class="layout siteMain out">
            <div class="weixinFwI">
                <div class="weixinFwIBody">
                    <div class="title">
                        <h2>最新资讯</h2>
                    </div>
                    <div class="moreTxtList">
                        <ul class="out">
                            {newest}
                                <li class="in">
                                    <i class="in">·</i>
                                    <a class="in" href="<?=$domainname?>/view-{id}.html" title="{title}" target="_blank" >{title}</a>
                                </li>
                            {/newest}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="m20"></div>
            <div class="weixinFwI">
                <div class="weixinFwIBody">
                    <div class="title">
                        <h2>热门公众号大全</h2>
                    </div>
                    <div class="weixinPicList">
                        <ul class="out">
                              {hotweixin}
                                <li class="in">
                                    <a class="pic in" href="<?=$domainname?>/list-{id}.html" title="{catname}">
                                        <img src="{logourl}" alt="{catname}" />
                                    </a>
                                    <a class="txt in" href="<?=$domainname?>/list-{id}.html" title="{catname}">
                                        <h2>{catname}</h2>
                                        <span>微信号：</span><span>{weixinhao}</span>
                                    </a>
                                </li>
                              {/hotweixin}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="m20"></div>
            <div class="weixinFwI">
                <div class="weixinFwIBody">
                    <div class="title">
                        <h2>公众号排行榜</h2>
                    </div>
                    <div class="seniorityList">
                        <ul class="out">
                        {senweixin}
                            <li class="in"><a href="<?=$domainname?>/list-{id}.html" title="{catname}">{catname}</a></li>
                        {/senweixin}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="martop20"></div>
        <div class="friendLink">
            <div class="layout friendLinkBody">
                <h2><a style="padding-right: 0px"> 友情链接</a></h2>
                {linklist}
                    <a href="{url}" target="_blank">{name}</a>
                {/linklist}
            </div>
        </div>
