<!--内容开始-->
<div class="ind_Box clearfix">
    <div class="banner float">
    	<?=$ad_content?>
    </div>
    <div class="dangqian float">
    		<p>您的位置：<?=$mypostion?></p>
    	</div>
    <div class="ind_Box_f float">
        {data_content}
        <input type="hidden" id="content_id" name="content_id" value="{id}" >
        <!--Box left-->
        <div class="box_lt fl">
			<h1>{title}</h1>
			<p class="news_time">{buildtime} {catname}</p>
            <p>
            	{content}
            </p>
        {/data_content}
            <div class="fanpian float">
                  <p>上一篇：<?=$content_per?></p>
                  <p>下一篇：<?=$content_next?></p>
            </div>
        </div>
        <!--Box left end-->
        <!--Box right-->
      <div class="box_rt fl">
			<div class="box_rt_b fl">
            	<div class="box_rt_b_t fl">最新资讯</div>
                <div class="box_rt_b_f float">
                	<ul>
                    <?php foreach ($this->sys_cms_content->getNewList(10) as $key => $value) {?>             
                            <li><a href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>"><?=$value['title']?></a></li>
                    <?php }?>
                    </ul>
              </div>
			</div>
			<div class="box_rt_b fl">
            	<div class="box_rt_b_t fl">热门公众号</div>
                <div class="box_rt_wx float">
                	<ul>
                                     <?php foreach ($this->sys_cms_category->hotWeixinList(10,'id desc') as $key => $value) {?>    
                <li>
                    <a href="<?=$domainname?>/list-<?=$value['id']?>.html" title="<?=$value['catname']?>">
                        <img src="<?=$value['logourl']?>" alt="<?=$value['catname']?>" width="90" height="90" />
                        <div class="fl">
                            <p><?=$value['catname']?></p>
                            <p class="txt_wxh">微信号：<?=$value['weixinhao']?></p>
                        </div>
                    </a>
                </li>
             <?php }?>
                    </ul>
              </div>
			</div>
        </div>
        <!--Box right end-->
    </div>
</div>
<!--内容结束-->
<script type="text/javascript">
    $(document).ready(function(){
        var id  = $("#content_id").val();
        $.ajax({
            type:'GET',
            url:'/index.php?c=cms_index&m=viewClick&id='+id+''
        });

        var imgobj = $(".content img");
        $.each(imgobj,function (key){
            var datasrc = $(this).attr("data-src");
            if(datasrc == undefined){

            }else{
                $(this).attr("src",datasrc);
            }
        });
        
    });
</script>