<!--内容开始-->
<div class="ind_Box clearfix">
    <div class="banner float">
    	<?=$ad_category?>
    </div>
    <div class="dangqian float">
    		<p>您的位置：<?=$mypostion?></p>
    	</div>
    <div class="ind_Box_f float">
        <!--Box left-->
        <div class="box_lt fl">

            {maplist}
                <div class="wxBox add_bor fl">
                <div class="wxBox_lt fl">
                    <a href="<?=$domainname?>/list-{id}.html" title="{catname}">
                        <img src="{logourl}" alt="{catname}" width="90" height="90" />
                    </a>
                </div>
               <div class="wxBox_rt">
                    <ul>
                        <li class="wxname">{catname}</li>
                        <li>{weixinhao}</li>
                        <li>功能介绍：{description}</li>
                        <li>微信认证：{wxrz}</li>
                    </ul>
               </div>
            </div>
            {/maplist}


            <div class="fenye float"> 
            <?php  $this->pager->show();  ?>
		</div>
        </div>
        <!--Box left end-->
        <!--Box right-->
      <div class="box_rt fl">
			<div class="box_rt_b fl">
            	<div class="box_rt_b_t fl">最新资讯</div>
                <div class="box_rt_b_f float">
                	<ul>
                <?php foreach ($this->sys_cms_content->getNewList(20) as $key => $value) {?>             
                        <li><a href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>"><?=$value['title']?></a></li>
                <?php }?>
                    </ul>
              </div>
			</div>
			<div class="box_rt_b fl">
            	<div class="box_rt_b_t fl">热门公众号</div>
                <div class="box_rt_wx float">
             <?php foreach ($this->sys_cms_category->hotWeixinList(10,'id desc') as $key => $value) {?>    
                <li>
                    <a href="<?=$domainname?>/list-<?=$value['id']?>.html" title="<?=$value['catname']?>">
                        <img src="<?=$value['logourl']?>" alt="<?=$value['catname']?>" width="90" height="90" />
                        <div class="fl">
                            <p><?=$value['catname']?></p>
                            <p class="txt_wxh">微信号：<?=$value['weixinhao']?></p>
                        </div>
                    </a>
                </li>
             <?php }?>

                    </ul>
              </div>
			</div>
        </div>
        <!--Box right end-->
    </div>
</div>
<!--内容结束-->