<div class="m15"></div>
                <!--main star-->
                <script src="<?=$skin?>/js/prototype.js"></script>
                <script src="<?=$skin?>/js/ImageSlide.js"></script>
                <div class="main">
                        <div class="layout zhenFw out">
                                <div class="main-left in">
                                        <!--slide star-->
                                        <div id="focusImage" class="slide">
                                                <ul class="contents">

             <?php foreach ($this->sys_cms_content->getFirsttitleList(5) as $key => $value) {
                 $current = $key==0 ? "current" : "";
                ?>
                                                         <li class="<?=$current?>">
                                                                <div class="image">
                                                                        <a href="<?=$domainname?>/view-<?=$value['id']?>.html" target="_blank">
                                                                                <img src="<?=$value['headimage']?>" title="<?=$value['title']?>" /></a>
                                                                </div>
                                                                <div class="text">
                                                                        <span class="title"><a target="_blank" href="<?=$domainname?>/view-<?=$value['id']?>.html"  title="<?=$value['title']?>"><?=$value['title']?></a></span>
                                                                        <p><?=$value['description']?></p>
                                                                </div>
                                                        </li>


                <?php }?>

                                                </ul>

                                                <div class="triggers">
                                                 <?php foreach ($this->sys_cms_content->getFirsttitleList(5) as $key => $value) {
                 $current = $key==0 ? "current" : "";
                ?>
                                                       <a target="_blank" href="<?=$domainname?>/view-<?=$value['id']?>.html">
                                                                                <img src="<?=$value['headimage']?>" title="<?=$value['title']?>" /></a>
                <?php }?>
                                                       
                                                </div>

                                                <div class="icon-dot">
                                                        <a  class="cur current"></a>
                                                        <a></a>
                                                        <a></a>
                                                        <a></a>
                                                        <a></a>
                                                </div>

                                                <span class="link-watch pre down"></span>
                                                <span class="link-watch next down"></span>

                                        </div>
                                        <script type="text/javascript">
                                                new ImageSlide({
                                                        project: "#focusImage",
                                                        content: ".contents li",
                                                        tigger: ".triggers a",
                                                        dot: ".icon-dot a",
                                                        watch: ".link-watch",
                                                        auto: !0,
                                                        hide: !0
                                                })
                                        </script>
                                        <!--slide stop-->
                                        <div class="m15"></div>
                                        <div class="main-container">
                                                <div class="nav" id="nav">
                                                        <ul class="nav-box out">
                                                                <li class="in current"><a target="_blank" href="<?=$domainname?>" title="热门">热门</a></li>
                        <?php foreach ($this->sys_cms_category->classlistbypid(0,20,'sort asc') as $key => $value) {?>
                            <li class="in"><a target="_blank" href="<?=$domainname?>/cat-<?=$value['id']?>.html" ><?=$value['name']?></a></li>
                        <?php }?>

                         
                                                        </ul>
                                                        <script type="text/javascript">
                                                                $("#nav").smartFloat();
                                                        </script>
                                                </div>
                                                <div class="container-list">
                                                        <ul class="su-bd">
             <?php foreach ($this->sys_cms_content->getWhereList('and isrecommend=1',20,0,' order by id desc') as $key => $value) {?>             
                                                                <li class="out">
                                                                        <div class="weixin-img in">
                                                                                <a target="_blank" href="<?=$domainname?>/list-<?=$value['cid']?>.html" title="<?=$value['catname']?>">
                                                                                        <span class="ico-bg"></span>
                                                                                        <p class="ico-im">
                                                                                                <img src="<?=$value['logourl']?>" />
                                                                                        </p>
                                                                                        <p class="weixin-num"><?=$value['catname']?></p>
                                                                                </a>
                                                                                <div class="fxf">
                                                                                        <a target="_blank" href="<?=$domainname?>/list-<?=$value['cid']?>.html" onclick="return false;">关注</a>
                                                                                        <div class="erweima clearfix" style="display: none;">
                                                                                                <div class="erweima-img fl">
                                                                                                        <em>
                                                                                                                <img src="<?=$value['logourl']?>" /></em>
                                                                                                        <img src="<?=$value['2weima']?>" />
                                                                                                </div>
                                                                                                <div class="phone fr"></div>
                                                                                        </div>
                                                                                </div>
                                                                        </div>
                                                                        <div class="weixin-news-info in">
                                                                                <h3><a target="_blank" href="<?=$domainname?>/view-<?=$value['id']?>.html"><?=$value['title']?></a></h3>
                                                                                <p class="m-txt">
                                                                                        <a target="_blank" href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>" target="_blank"><?=$value['description']?></a>
                                                                                </p>
                                                                                <p class="other">
                                                                                        <span>阅读:</span>
                                                                                        <i><?=$value['onclick']?></i>
                                                                                        <em class="time"><?=$value['buildtime']?></em>
                                                                                </p>
                                                                        </div>
                                                                        <div class="weixin-news-img in">
                                                                                <a target="_blank" href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>">
                                                                                        <img src="<?=$value['headimage']?>" />
                                                                                </a>
                                                                        </div>
                                                                </li>
                                                                <?php }?>
                                                        </ul>
                                                </div>
                                                <script type="text/javascript">
                                                        $(".fxf a").hover(function () {
                                                                $(this).next().show();
                                                        }, function () {
                                                                $(this).next().hide();
                                                        });
                                                </script>
                                        </div>
                                </div>
                                <div class="main-right in">
                                        <div class="xixi-box">
                                                <div class="hd">
                                                        <h3>最热收藏</h3>
                                                        <span></span>
                                                </div>
                                                <div class="bd">
                                                        <ul>
                <?php foreach ($this->sys_cms_content->getWhereList('and isrecommend=2',10,0,' order by id desc') as $key => $value) {?>
                                                                <li class="out">
                                                                        <p class="txt in">
                                                                                <a target="_blank" href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>" target="_blank"><?=$value['title']?></a>
                                                                                <i class="time"><?=date('m-d H:i',strtotime($value['buildtime']))?></i>
                                                                        </p>
                                                                        <p class="pic in">
                                                                                <a target="_blank" href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>" target="_blank">
                                                                                        <img src="<?=$value['headimage']?>" />
                                                                                </a>
                                                                        </p>
                                                                </li>
                                                                 <?php }?>
                                                        </ul>

                                                </div>
                                        </div>
                                        <div class="m15"></div>
                                        <div class="xixi-box">
                                                <div class="hd">
                                                        <h3>最新内容</h3>
                                                        <span></span>
                                                </div>
                                                <div class="bd">
                                                        <ul>
                                        <?php foreach ($this->sys_cms_content->getNewList(10,0,'id desc') as $key => $value) {
                ?>
                                                                <li class="out">
                                                                        <p class="txt in">
                                                                                <a target="_blank" href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>" target="_blank"><?=$value['title']?></a>
                                                                                <i class="time"><?=date('m-d H:i',strtotime($value['buildtime']))?></i>
                                                                        </p>
                                                                        <p class="pic in">
                                                                                <a target="_blank" href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>" target="_blank">
                                                                                        <img src="<?=$value['headimage']?>" />
                                                                                </a>
                                                                        </p>
                                                                </li>
                                                                 <?php }?>
                                                        </ul>

                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
                <!--main stop-->