<!--底部-->
<div class="ind_footbg">
	<div class="ind_foot">
    		<div class="yqlj">
            	<span>友情链接：</span>
            		<?php foreach ($this->sys_cms_link->linklist('all') as $key => $value) {?>
            			<a href="<?=$value['url']?>" target="_blank"><?=$value['name']?></a>
            		<?php }?>
            </div>
            <div class="foot_menu">
                <a href="#">关于我们</a>
        	</div>
        <div class="ind_foot_f">
					<?=$bottom?>
					<?=$zhanzhangtong?>	
        </div>
    </div>
</div>
<!--底部-->
</body>
</html>