<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="<?=$sitekeywords?>" />
<meta name="description" content="<?=$sitedescription?>" />
<title><?=$htitle?></title>
<link rel="stylesheet" type="text/css" href="<?=$skin?>/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="<?=$skin?>/css/style3.css"/>
<script type="text/javascript" src="<?=$skin?>/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="<?=$skin?>/js/ad_gundong.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var urlstr = location.href;
        var urlstatus = false;
        $("#nav_first li").each(function () {
            if ((urlstr + '/').indexOf($(this).find('a').attr('href')) > -1 && $(this).find('a').attr('href') != '') {
                $(this).addClass("shouyeLi active").siblings().removeClass("shouyeLi active");
                urlstatus = true;
            }
        });
    });
</script>
</head>
<body class="body01">
<!--头部-->
<div class="header">
	<!--Logo-->
	<div class="header_t clearfix">
    	<div class="logo fl"><a href="<?=$domainname?>" title"<?=$sitename?>"><img src="<?=$skin?>/images/logo_02.jpg" width="266" height="90" /></a></div>
	</div>
	<!--Logo end-->
    <!--导航开始-->
  <div class="navBg">
    	<div class="nav">
			<ul id="nav_first">
       	 		<li class="shouyeLi"><div class="fl"><img src="<?=$skin?>/images/ico_05.gif" width="9" height="43" /></div><div class="fl"><a href="<?=$domainname?>">首页</a></div><div class="fl"><img src="<?=$skin?>/images/ico_07.gif" width="9" height="43" /></div></li>
       	 		<li><div class="fl"><img src="<?=$skin?>/images/ico_05.gif" width="9" height="43" /></div>
       	 		<div class="fl"><a href="<?=$domainname?>/list-map.html">公众号地图</a></div>
       	 		<div class="fl"><img src="<?=$skin?>/images/ico_07.gif" width="9" height="43" /></div></li>
            </ul>
      </div>
  </div>
    <!--导航结束-->
</div>
<!--头部end-->
        <script type="text/javascript">
        $(document).ready(function () {

            $('img').each(function(){
                var imgsrc = this.src;
                if(imgsrc.match("http://mmbiz.qpic.cn")){
                    var newurl = "/getimg.php?url="+imgsrc;
                    $(this).attr('src',newurl);
                }
            });
        });
        </script>