<div class="banner">
	<?=$ad_index?>
</div>
<!--内容开始-->
<div class="ind_Box">
	<!--左边-->
    <div class="ind_Box_lt fl">
    	<div class="ind_Box_nav fl">
        	<div class="ind_Box_nav01 fl">
                	<span>类型：</span>
            	<ul>
                	<li><a href="#">公众号</a></li>
                	<li><a href="#">最新资讯</a></li>
                </ul>
            </div>
            <div class="ind_Box_nav01 ind_Box_nav01_nobor fl">
                	<span>其他：</span>
            	<ul>
                	<li><a href="#">相关资讯</a></li>
                	<li><a href="#">最多人看</a></li>
                </ul>
            </div>
        </div>
    <div class="ind_Box_list fl">
    	<ul>
    			<?php foreach ($this->sys_cms_category->hotWeixinList(15,'rand()') as $key => $value) {?>    
            	<li>
                	<div class="ind_conLi_lt fl"><a href="<?=$domainname?>/list-<?=$value['id']?>.html" title="<?=$value['catname']?>"><img src="<?=$value['logourl']?>" alt="<?=$value['catname']?>" width="96" height="94" /></a></div>
                	<div class="ind_conLi_m ind_conLi_m_2 fl">
                    	<p class="ind_conLi_m0 ind_conLi_m0_1"><a href="<?=$domainname?>/list-<?=$value['id']?>.html"><?=$value['catname']?></a></p>
                    	<p class="ind_conLi_m1">微信号：<?=$value['weixinhao']?></p>
                    	<p class="ind_conLi_m2">介绍：<span><?=$value['description']?></span></p>
                    </div>
           	  </li>
                <?php foreach ($this->sys_cms_content->getContentByCid($value['id'],2) as $key2 => $value2) {?>
                <li><a href="<?=$domainname?>/view-<?=$value2['id']?>.html" title="<?=$value2['title']?>"><?=$value2['title']?></a></li>
                <?php }?>
           	  <?php }?>
            </ul>
    </div>
    <div class="clear"></div>
    </div>
    <!--左边end-->
    <!--右边-->
    <div class="ind_Box_rt fl clearfix">
    	<div class="new_wx float">
       	  <div class="float">
            	<div class="green fl">&nbsp;</div>
                <div class="new_wx_title fl"><a href="#">最新公众号</a></div>
          </div>
          <div class="new_wx_f float">
          	<ul>
          		<?php foreach ($this->sys_cms_category->hotWeixinList(6,'id desc') as $key => $value) {?>  
          		<li><a href="<?=$domainname?>/list-<?=$value['id']?>.html" title="<?=$value['catname']?>"><img src="<?=$value['logourl']?>" width="80" height="72" /><span>微信号：<?=$value['weixinhao']?></span></a></li>
          		<?php }?>
            </ul>
          </div>
        </div>
        <div class="new_wx float">
       	  <div class="float">
            	<div class="green fl">&nbsp;</div>
                <div class="new_wx_title fl"><a href="#">最新资讯</a></div>
          </div>
          <div class="new_wx_f new_xc float">
          	<ul>
          		<?php foreach ($this->sys_cms_content->getNewList(10) as $key => $value) {?>
          		<li><a href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>"><?=$value['title']?></a></li>
          		<?php }?>
            </ul>
            <div class="clear"></div>
          </div>
        </div>
        <div class="new_wx float">
         <div id="elFix">
       	  <div class="float">
            	<div class="green fl">&nbsp;</div>
                <div class="new_wx_title fl"><a href="#">大家都爱看</a></div>
          </div>
          <div class="new_wx_f float">
          	<p>广告</p>
          </div>
          </div>
        </div>
    </div>
    <!--右边end-->
<div class="clear"></div>
</div>
<!--内容结束-->