<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="baidu_union_verify" content="fd33ffab167a6ca903299d09e727974c">
    <title>
        <?=$htitle?>
    </title>
    <meta name="keywords" content="<?=$sitekeywords?>" />
    <meta name="description" content="<?=$sitedescription?>" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="mobile-agent" content="format=html5;url=<?=$murl?>" />
    <meta name="mobile-agent" content="format=xhtml;url=<?=$murl?>" />
    <link rel="alternate" media="only screen and(max-width: 640px)" href="<?=$murl?>">
    <link href="<?=$skin?>/css/reset.css" rel="stylesheet" />
    <link href="<?=$skin?>/css/base.css" rel="stylesheet" />
    <script src="<?=$skin?>/js/jquery-1.11.1.js"></script>
    <script src="<?=$skin?>/js/fixed.js"></script>
    <script type="text/javascript">
    var mobileAgent = new Array("iphone", "ipod", "ipad", "android", "mobile", "blackberry", "webos", "incognito", "webmate", "bada", "nokia", "lg", "ucweb", "skyfire");
    var browser = navigator.userAgent.toLowerCase();
    var isMobile = false;
    for (var i = 0; i < mobileAgent.length; i++) {
        if (browser.indexOf(mobileAgent[i]) != -1) {
            isMobile = true;
            location.href = 'http://m.china-7.net/<?=$murl?>';
            break;
        }
    }
    </script>
</head>
<body>
    <div class="zhenPage">
        <!--header star-->
        <div class="header">
            <div class="layout zhenFw out">
                <div class="logo in">
                    <a href="<?=$domainname?>" title="<?=$sitename?>"></a>
                </div>
                <div class="search in">
                </div>
            </div>
        </div>
        <script type="text/javascript">
        $(document).ready(function() {
            $('img').each(function() {
                var imgsrc = this.src;
                if (imgsrc.match("http://mmbiz.qpic.cn") || imgsrc.match("photo.store.qq.com") || imgsrc.match("hiphotos.baidu.com") || imgsrc.match("ph.126.net") || imgsrc.match("yujiame.com") || imgsrc.match("tuicool.com") || imgsrc.match("jirou.com") || imgsrc.match("qhimg.com") || imgsrc.match("sogoucdn.com")) {
                    if (imgsrc.match("/getimg.php")) {

                    } else {
                        var newurl = "/getimg.php?url=" + imgsrc;
                        $(this).attr('src', newurl);
                    }

                }

            });
        });
        </script>
        <!--header stop-->
        <div class="m15"></div>
                <!--main star-->
                <div class="main">
                        <div class="layout zhenFw out">
                                <div class="main-left in">
                                        <div class="main-container">
                                                <div class="nav" id="nav">
                                                        <ul class="nav-box out">
                                                        <li class="in current"><a href="<?=$domainname?>" title="热门">热门</a></li>
                                 <?php foreach ($this->sys_cms_sites->getcatlist(10,0) as $key => $value) {?>
                                <li class="in">
                                    <a target="_blank" href="<?=$pcurl?>/<?=$value['catename']?>/">
                                        <?=$value['catname']?>
                                    </a>
                                </li>
                                <?php }?>
                                    <script type="text/javascript">
         $("#nav").smartFloat();
        $(document).ready(function () {
            var urlstr = location.href;
            var urlstatus = false;
            $("#nav_first li").each(function () {
                if ((urlstr + '/').indexOf($(this).find('a').attr('href')) > -1 && $(this).find('a').attr('href') != '') {
                    $(this).addClass("current").siblings().removeClass("current");
                    urlstatus = true;
                }
            });
        });
                                                        </script>
                                                        </ul>
                                                </div>
                                                <div class="m20"></div>
                                                <div class="content">
                                                  <input type="hidden" id="content_id" value="{id}">
                                                        <div class="ct-title">
                                                                <h2><?=$data_content['title']?></h2>
<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone"></a><a href="#" class="bds_tsina" data-cmd="tsina"></a><a href="#" class="bds_tqq" data-cmd="tqq"></a><a href="#" class="bds_renren" data-cmd="renren"></a><a href="#" class="bds_weixin" data-cmd="weixin"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
                                                        </div>
                                                        <div class="ct-soure">
                                                                <em>时间：<?=$data_content['buildtime']?></em>
                                                                <span>公众号：<a href="<?=$pcurl?>/<?=$catename?>/"><?=$data_content['catname']?></a></span>
                                                        </div>
                                                        <div class="ct-content-main">
                                                                <p><?=$data_content['content']?></p>
                                                                
                                                        </div>

 <div class='clearfix' style='width:100%; margin:0 auto;background-color:#fff;'>
    <div class='fl' style='width:336px;'>
<script type="text/javascript">
var cpro_id="u2493488";
(window["cproStyleApi"] = window["cproStyleApi"] || {})[cpro_id]={at:"3",rsi0:"336",rsi1:"280",pat:"6",tn:"baiduCustNativeAD",rss1:"#FFFFFF",conBW:"1",adp:"1",ptt:"0",titFF:"%E5%BE%AE%E8%BD%AF%E9%9B%85%E9%BB%91",titFS:"14",rss2:"#000000",titSU:"0",ptbg:"90",piw:"0",pih:"0",ptp:"0"}
</script>
<script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>

    </div>

</div>
                           
<div class="m20"></div>
                                                        <div class="pre-next">
                                                                <p>上一篇：<?=$content_per?></p>
                                                                <p>下一篇：<?=$content_next?></a></p>
                                                        </div>

                                                </div>
                                        </div>
                                </div>
                                <div class="main-right in">
                                        <div class="xixi-box">
                                                <div class="hd">
                                                        <h3><a target="_blank" href="<?=$domainname?>/cat-31.html" title="热搜榜" >热搜榜</a></h3>
                                                        <span></span>
                                                </div>
                                                <div class="bd tagbox out">
                         <?php foreach ($this->sys_cms_sites->getWhereList('',10,5,' order by id desc') as $key => $value) {?>
                        <a target="_blank" href="<?=$pcurl?>/<?=$value['catename']?>/<?=$value['id']?>.html" class="in">
                            <?=$value['title']?>
                        </a>
                        <?php }?>
                                                </div>
                                        </div>
                                        <div class="xixi-box">
                                                <div class="hd">
                                                        <h3>最新内容</h3>
                                                        <span></span>
                                                </div>
                                                <div class="bd">
                                                        <ul>
                         <?php foreach ($this->sys_cms_sites->getWhereList('',10,0,' order by id desc') as $key => $value) {?>
                                                                <li class="out">
                                                                        <p class="txt in">
                                                                                <a target="_blank" href="<?=$pcurl?>/<?=$value['catename']?>/<?=$value['id']?>.html" title="<?=$value['title']?>" target="_blank"><?=$value['title']?></a>
                                                                                <i class="time"><?=date('m-d H:i',strtotime($value['buildtime']))?></i>
                                                                        </p>
                                                                        <p class="pic in">
                                                                                <a target="_blank" href="<?=$pcurl?>/<?=$value['catename']?>/<?=$value['id']?>.html" title="<?=$value['title']?>" target="_blank">
                                                                                        <img src="<?=$value['headimage']?>" />
                                                                                </a>
                                                                        </p>
                                                                </li>
                                         <?php }?>
                                                        </ul>

                                                </div>
                                        </div>
                                        <div class="xixi-box">
                                                <div class="hd">
                                                        <h3><a target="_blank" href="<?=$domainname?>/cat-21.html" title="两性健康" >两性健康</a></h3>
                                                        <span></span>
                                                </div>
                                                <div class="bd">
                                                        <ul>
                                                         <?php foreach ($this->sys_cms_sites->getWhereList('',10,10,' order by id desc') as $key => $value) {?>
                                                                <li class="out">
                                                                        <p class="txt in">
                                                                                <a target="_blank" href="<?=$pcurl?>/<?=$value['catename']?>/<?=$value['id']?>.html" title="<?=$value['title']?>" target="_blank"><?=$value['title']?></a>
                                                                                <i class="time"><?=date('m-d H:i',strtotime($value['buildtime']))?></i>
                                                                        </p>
                                                                        <p class="pic in">
                                                                                <a target="_blank" href="<?=$pcurl?>/<?=$value['catename']?>/<?=$value['id']?>.html" title="<?=$value['title']?>" target="_blank">
                                                                                        <img src="<?=$value['headimage']?>" />
                                                                                </a>
                                                                        </p>
                                                                </li>
                                                                 <?php }?>
                                                        </ul>

                                                </div>
                                        </div>
                                        <div class="m15"></div>
                                        <div class="xixi-box">
                                                <div class="hd">
                                                        <h3>其他内容</h3>
                                                        <span></span>
                                                </div>
                                                <div class="bd">
                                                        <ul>
                                                                <?php foreach ($this->sys_cms_sites->getOutList('',10,0,' order by id desc') as $key => $value) {?>
                                                                <li class="out">
                                                                        <p class="txt in">
                                                                                <a href="<?=$pcurl?>/<?=$value['catename']?>/<?=$value['id']?>.html" title="{title}" target="_blank"><?=$value['title']?></a>
                                                                                <i class="time"><?=$value['buildtime']?></i>
                                                                        </p>
                                                                        <p class="pic in">
                                                                                <a href="<?=$pcurl?>/<?=$value['catename']?>/<?=$value['id']?>.html" title="{title}" target="_blank">
                                                                                        <img src="<?=$value['headimage']?>" />
                                                                                </a>
                                                                        </p>
                                                                </li>
                                                                 <?php }?>
                                                        </ul>

                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
                <!--main stop-->

        <style type="text/css">
        .rich_media_content {
            min-height: 10px;
        }
        
        form {
            display: block !important;
        }
        </style>
        <!--otherNav star-->
        <div class="m15"></div>
        <div class="other-nav">
            <div class="layout zhenFw other-nav-main">
                <div class="otm-item out border-bottom-gray">
                    <div class="otm-item-left in">
                        <span>热门分类</span>
                    </div>
                    <div class="otm-item-right in">
                        <?php foreach ($this->sys_cms_sites->getWhereList('',10,5,' order by id desc') as $key => $value) {?>
                        <a target="_blank" href="<?=$pcurl?>/<?=$value['catename']?>/<?=$value['id']?>.html" >
                            <?=$value['title']?>
                        </a>
                        <?php }?>
                    </div>
                </div>
                <div class="otm-item out border-bottom-gray">
                    <div class="otm-item-left in">
                        <span>热门公众号</span>
                    </div>
                    <div class="otm-item-right in">
                        <?php foreach ($this->sys_cms_sites->getWhereList('',10,5,' order by id desc') as $key => $value) {?>
                        <a target="_blank" href="<?=$pcurl?>/<?=$value['catename']?>/<?=$value['id']?>.html" >
                            <?=$value['title']?>
                        </a>
                        <?php }?>
                    </div>
                </div>
            </div>
        </div>
        <!--otherNav stop-->
        <div class="m20"></div>
        <!--footer star-->
        <div class="footer">
            <div class="layout zhenFw">
                <p>© 2015</p>
            </div>
        </div>
        <!--footer stop-->
    </div>
</body>

</html>