<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="baidu_union_verify" content="fd33ffab167a6ca903299d09e727974c">
        <title><?=$htitle?></title>
        <meta name="keywords" content="<?=$sitekeywords?>" />
        <meta name="description" content="<?=$sitedescription?>" />
        <meta http-equiv="Cache-Control" content="no-transform" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <meta name="mobile-agent" content="format=html5;url=http://m.china-7.net/<?=$murl?>" />
        <meta name="mobile-agent" content="format=xhtml;url=http://m.china-7.net/<?=$murl?>" />
        <link rel="alternate" media="only screen and(max-width: 640px)" href="http://m.china-7.net/<?=$murl?>" >
        <link href="<?=$skin?>/css/reset.css" rel="stylesheet" />
        <link href="<?=$skin?>/css/base.css" rel="stylesheet" />
        <script src="<?=$skin?>/js/jquery-1.11.1.js"></script>
        <script src="<?=$skin?>/js/fixed.js"></script>
                <script type="text/javascript">
                var mobileAgent = new Array("iphone", "ipod", "ipad", "android", "mobile", "blackberry", "webos", "incognito", "webmate", "bada", "nokia", "lg", "ucweb", "skyfire");
                var browser = navigator.userAgent.toLowerCase();
                var isMobile = false;
                for (var i = 0; i < mobileAgent.length; i++) {
                        if (browser.indexOf(mobileAgent[i]) != -1) {
                                isMobile = true;
                                location.href = 'http://m.china-7.net/<?=$murl?>';
                                break;
                        }
                }
        </script>
</head>
<body>
        <div class="zhenPage">
                <!--header star-->
                <div class="header">
                        <div class="layout zhenFw out">
                                <div class="logo in">
                                        <a href="<?=$domainname?>" title="<?=$sitename?>"></a>
                                </div>
                                <div class="search in">
                                <?=$search?>

                                </div>
                        </div>
                </div>

        <script type="text/javascript">
        $(document).ready(function () {
            $('img').each(function(){
                var imgsrc = this.src;
                if(imgsrc.match("http://mmbiz.qpic.cn") || imgsrc.match("photo.store.qq.com") || imgsrc.match("hiphotos.baidu.com") || imgsrc.match("ph.126.net") || imgsrc.match("yujiame.com") || imgsrc.match("tuicool.com") || imgsrc.match("jirou.com") || imgsrc.match("qhimg.com") || imgsrc.match("sogoucdn.com")){
                    if(imgsrc.match("/getimg.php")){

                    }else{
                        var newurl = "/getimg.php?url="+imgsrc;
                        $(this).attr('src',newurl);
                    }

                }

            });
        });
        </script>
        <!--header stop-->