        <footer class="main-footer">
                <div class="container">
                        <div class="row">
                                <div class="col-sm-12">
                                        <div class="widget">
                                                <h4 class="title">合作伙伴</h4>
                                                <div class="content tag-cloud friend-links">
                        <?php foreach ($this->sys_cms_category->footerCat(20) as $key => $value) {?>
                             <a target="_blank" href="<?=$domainname?>/list-<?=$value['id']?>.html" ><?=$value['catname']?></a>
                        <?php }?>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </footer>
        <div class="copyright">
                <div class="container">
                        <div class="row">
                                <div class="col-sm-12">
                                        <span>Copyright © <a href="<?=$domainname?>"><?=$sitename?></a></span> | 
                                        <span><a href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备15093802号</a></span>
                                </div>
                        </div>
                </div>
        </div>
        <a href="#" id="back-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a>
</body>
</html>