<section class="content-wrap">
<div class="container">
        <div class="row">
                <main class="col-md-8 main-content">  
                        {news}                        
                        <article class="ar-post row">
                                <div class="ar-post-img col-sm-4 col-xs-5">
                                       <a target="_blank" href="<?=$domainname?>/view-{id}.html" title="{title}">
                                                <img src="{headimage}" alt="{title}"/>
                                        </a>
                                </div>
                                <div class="ar-post-txt col-sm-8 col-xs-7">
                                        <h2 class="post-title">
                                                <a href="<?=$domainname?>/view-{id}.html" title="{title}" target="_blank">{title}</a>
                                        </h2>
                                        <p class="hidden-xs">{description}....<a href="<?=$domainname?>/view-{id}.html" target="_blank">查看</a></p>
                                        <div class="post-meta">
                                                <span class="author">栏目：<a href="<?=$domainname?>/list-{cid}.html">{catname}</a></span> •
                                                <time class="post-date">{buildtime}</time>
                                                 <a href="<?=$domainname?>/list-{cid}.html" class="tag-cloud">{catname}</a>
                                        </div>
                                </div>
                        </article>
                        {/news}
                        
                        <!--分页-->
                <nav class="z-page">
                     <?php  $this->pager->show();  ?> 
                        
                </nav>
                </main>
                <aside class="col-md-3 col-md-offset-1 sidebar mt20">
                        <div class="ap">
                                <div class="apt">
                                        <h4>最新文章</h4>
                                        <p class="entit"><span>NEW ARTICLE</span></p>
                                </div>
                                <div class="apc">
                                        <ul class="ulist">
                                                <?php 
                                                $topnum = 0;
                                                foreach ($this->sys_cms_content->getNewList(10,10,'id desc') as $key => $value) {
                                                $topnum = $topnum + 1;
                                                $topclass = $topnum > 3 ? 'top3' : ''; 
                                                ?>

                                                <li>
                                                        <span class="num <?=$topclass?>"><?=$topnum?></span>
                                                        <a target="_blank" href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>" target="_blank"><?=$value['title']?></a>
                                                        <span class="tm"><?=date('m-d H:i',strtotime($value['buildtime']))?></span>
                                                </li>
                                                <?php }?>
                                        </ul>
                                </div>
                        </div>
                        <div class="widget mt20">
                                <h4 class="title">标签云</h4>
                                <div class="content tag-cloud">
                <?php foreach ($this->sys_cms_category->footerCat(20) as $key => $value) {?>
                     <a target="_blank" href="<?=$domainname?>/list-<?=$value['id']?>.html" ><?=$value['catname']?></a>
                <?php }?>
                                </div>
                        </div>

                </aside>
        </div>
</div>
</section>