<footer id="dibu">

  <!--about-->
  <div class="bottom">
   <a href="<?=$domainname?>">askcha.com</a>
   <?=$beian?> 

  <!--bottom-->
  <div class="scroll" id="scroll" style="display:none;"> ︿ </div>
  <script type="text/javascript">
	$(function(){
		showScroll();
		function showScroll(){
			$(window).scroll( function() { 
				var scrollValue=$(window).scrollTop();
				scrollValue > 500 ? $('div[class=scroll]').fadeIn():$('div[class=scroll]').fadeOut();
			} );	
			$('#scroll').click(function(){
				$("html,body").animate({scrollTop:0},200);	
			});	
		}
	})
	</script> 
</footer>
<!--dibu-->
</body></html>