<!--header-web-->
<div id="main">

     <div id="container">

<?php foreach ($news as $key => $value) {?>
       <section class="list">
          <span class="titleimg">
              <a href="<?=$domainname?>/view-<?=$value['id']?>.html" target="_blank">
                <img width="270" height="165" src="<?=$value['headimage']?>" class="attachment-thumbnail wp-post-image" alt="<?=$value['title']?>" />
              </a> 
          </span>
        <a href="<?=$domainname?>/view-<?=$value['id']?>.html#comments" class="up" >1</a>
        <div class="mecc">
        <h2 class="mecctitle">
          <a href="<?=$domainname?>/view-<?=$value['id']?>.html" target="_blank">
          <?=$value['title']?>
          </a>
        </h2>
        <address class="meccaddress">
        <time><?=date('m-d H:i',strtotime($value['buildtime']))?></time>-
        <a href="<?=$domainname?>/list-<?=$value['cid']?>.html" rel="<?=$value['catname']?>"><?=$value['catname']?></a>- 阅<?=$value['onclick']?>
        </address>
        <p><?=mb_substr($value['description'],0,100)?>
        </p>
      </div>
      <div class="clear"></div>
    </section>
    <div class="clear"></div>
<?php } ?>
    <!--list-->
        <div class="pagenavi">
          <?php  $this->pager->show();  ?> 
      </div>
        <!--Page End-->
    	<nav class="navigation">
	  	  <div class="nav-previous"><?php  $this->pager->mobile_show();  ?> </div>
				</nav><!-- .navigation -->
	    <!--phonepage--> 
  </div>
  <!--Container-->
  <aside id="sitebar"> 
  <!--erweima-->
  <div class="sitebar_list">
      <div class="wptag"> 
      <span class="tagtitle">热词 ...</span>
      <div class="tagg">
        <ul id="menu-tag" class="menu">
          <?php foreach ($this->sys_cms_content->getTagsList(60,0) as $key => $value) {?>
               <li class="menu-item="><a  href="<?=$domainname?>/tags-<?=$value['id']?>.html" ><?=$value['name']?></a></li>
          <?php }?>
        </ul>
      </div>
    </div>
    <div class="wptag"> 
      <span class="tagtitle">热门标签 ...</span>
      <div class="tagg">
        <ul id="menu-tag" class="menu">
          <?php foreach ($this->sys_cms_category->footerCat(20) as $key => $value) {?>
               <li class="menu-item="><a  href="<?=$domainname?>/list-<?=$value['id']?>.html" ><?=$value['catname']?></a></li>
          <?php }?>
          </ul>
        </div>
    </div>
  </div>
      <div class="widget-tab">
    <input type="radio" name="widget-tab" id="new" checked="checked"/>
    <input type="radio" name="widget-tab" id="hot"/>
    <div class="widget-title">
      <ul>
        <li class="new">
          <label for="new">热评文章</label>
        </li>
        <li class="hot">
          <label for="hot">最新文章</label>
        </li>
      </ul>
    </div>
    <div class="widget-box">
      <ul class="new-list">
          <?php foreach ($this->sys_cms_content->getNewList(10,0,'id desc') as $key => $value) { ?>
           <li><a href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>" target="_blank">
           <?=$value['title']?></a></li>
          <?php }?>
       </ul>
      <ul class="hot-list">
          <?php foreach ($this->sys_cms_content->getNewList(10,10,'id desc') as $key => $value) { ?>
           <li><a href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>" target="_blank">
           <?=$value['title']?></a></li>
           <?php } ?>
      </ul>
    </div>
  </div>
  </aside>
  <div class="clear"></div>
</div>
<!--main-->