<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="<?=$skin?>/css/base.css" rel="stylesheet" />
    <title><?=$htitle?></title>
    <meta name="keywords" content="<?=$sitekeywords?>" />
    <meta name="description" content="<?=$sitedescription?>" />
    <script src="<?=$skin?>/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var urlstr = location.href;
            var urlstatus = false;
            $("#nav_first li").each(function () {
                if ((urlstr + '/').indexOf($(this).find('a').attr('href')) > -1 && $(this).find('a').attr('href') != '') {
                    $(this).addClass("current").siblings().removeClass("current");
                    urlstatus = true;
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('img').each(function(){
                var imgsrc = this.src;
                if(imgsrc.match("http://mmbiz.qpic.cn")){
                    var newurl = "/getimg.php?url="+imgsrc;
                    $(this).attr('src',newurl);
                }
            });
        });
        </script>
</head>
<body>
    <div class="page">
        <!--header star-->
        <div class="header">
            <div class="layout headerTop out">
                <div class="logo in">
                    <a href="<?=$domainname?>" title="<?=$sitename?>"><?=$sitename?></a>
                </div>
                <!--搜索 star-->
                <div class="clearfix seach"></div>
                <!--搜索 stop-->
            </div>
            <div class="nav">
                <div class="layout navBody">
                    <ul class="out" id="nav_first">
                        <li class="current in"><a href="<?=$domainname?>">首页</a></li>
                        <li class="in"><a href="<?=$domainname?>/list-all.html">公众号</a></li>
                    </ul>
                </div>
            </div>
        </div>