    <div class="layout banner"><?=$config_site['ad_category']?></div>
 <div class="m3"></div>
  <!--main star-->
        <div class="main">
            <div class="layout out">
                <div class="weixinbox665 boxDashed  in">
                    <div class="ztitle padlr20">
                        您的位置： <?=$mypostion?>
                    </div>
                    <div class="zbg padlr20">
                        <div class="introduce out">
                            {infoweixin}
                            <input type="hidden" id="cat_id" name="cat_id" value="{id}" >
                            <div class="serveNumPic in">
                                <img src="{logourl}" alt="{catname}" />
                            </div>
                            <div class="serverCt  in">
                                <h3>{catname}</h3>
                                <p>{weixinhao}</p>
                                <p>功能介绍：{description}</p>
                                <p>微信认证：{wxrz}</p>
                            </div>
                            {/infoweixin}
                        </div>
                        <div class="m3"></div>
                        <div class="layout banner"><?=$config_site['ad_category2']?></div>
                        <div class="newArticleHd padlr20">
                            <h3>最新文章</h3>
                            <ul class="smallNewList">
                                {news}
                                <li>
                                    <h2><a href="<?=$domainname?>/view-{id}.html" title="{title}">{title}</a></h2>
                                    <p class="smallTxt">{description}<a href="<?=$domainname?>/view-{id}.html">[阅读全文]</a></p>
                                </li>
                                {/news}
                            </ul>
                        </div>
                        <div class="m3"></div>
                        <div class="layout banner"><?=$config_site['ad_category2']?></div>
                        <div class="preNext">
                            <ul class="pnUl out">
                                <ul class="page-nav inline-block">
                                    <?php  $this->pager->show();  ?> 
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="weixinBox_240 marleft10 boxDashed  in">
                <div class="layout banner"><?=$config_site['ad_category3']?></div>
                <div class="m3"></div>
                    <div class="ztitle padlr10">
                        <h2>最新公众号</h2>
                    </div>
                    <div class="zbg padlr10">
                        <ul class="weixinIcoBlock">
                        <?php foreach ($this->sys_cms_category->hotWeixinList(10,'id desc') as $key => $value) {?>    
                            <li class="in">
                                <a class="pic in" href="<?=$domainname?>/list-<?=$value['id']?>.html" title="<?=$value['catname']?>">
                                    <img src="<?=$value['logourl']?>" alt="<?=$value['catname']?>">
                                </a>
                                <a class="txt in" href="<?=$domainname?>/list-<?=$value['id']?>.html" title="<?=$value['catname']?>">
                                    <h2><?=$value['catname']?></h2>
                                    <span>微信号：<?=$value['weixinhao']?></span>
                                </a>
                            </li>
                        <?php }?>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!--main stop-->
<script type="text/javascript">
    $(document).ready(function(){
        var id  = $("#cat_id").val();
        $.ajax({
            type:'GET',
            url:'/index.php?c=cms_index&m=catClick&id='+id+''
        });

    });
</script>