<div class="layout">
                <div class="layout banner"><?=$config_site['ad_content4']?></div>
                <div class="m3"></div>
                <div class="weixinbox960 boxDashed padlr10 padb20">
                    <div class="ztitle">
                        <h2>公众号号排行榜</h2>
                    </div>
                    <div class="zbg">
                        <ul class="newList newListMuch out">
                         {allweixin}
                            <li class="in"><a href="<?=$domainname?>/list-{id}.html" title="{catname}">{catname}</a></li>
                          {/allweixin}
                        </ul>
                    </div>
                </div>
                <div class="layout banner"><?=$config_site['ad_content5']?></div>
                <div class="m3"></div>
</div>