<!--main star-->
                <section class="conter marauto">
                        <script type="text/javascript">loading('33%', 1000)</script>
                        <div id="container">
                                <div id="content" role="main" style="width: 96%">
                                        <div class="mbx">
                                                <i class="icon-home icon-large" style="font-size: 14px;"></i>
                                                 <?=$mypostion?>
                                        </div>
                                         {data_content}
                                        <div  class="post type-post status-publish format-standard has-post-thumbnail hentry category-yyal">
                                                <div class="c-top2" id="post-55">
                                                        <div class="datetime">
                                                                2016<br />
                                                                03-03
                                                        </div>
                                                        <header class="tit">
                                                                <h1 class="entry-title">{title}</h1>
                                                                <aside class="entry-meta iititle2">
                                                                        <span>
                                                                                <i class="icon-user icon-large"></i>
                                                                                <a href="<?=$domainname?>" title="由<?=$sitename?>发布" rel="author"><?=$sitename?></a>

                                                                        </span>
                                                                        <span>
                                                                                <i class="icon-folder-open icon-large"></i>
                                                                                <a href="javascript:;" rel="category tag">{source}</a>

                                                                        </span>
                                                                        <span>
                                                                                <i class="icon-eye-open icon-large"></i>
                                                                                围观<i id="number"> {onclick}</i> 次
                                                                        </span>
                                                                        <span>
                                                                                <i class="icon-comment-alt icon-large"></i>
                                                                                <a href="javascript:;" class="ds-thread-count">留下评论</a>
                                                                        </span>
                                                                        <span>
                                                                                <i class="icon-pencil icon-large"></i>
                                                                                编辑日期：<time>{buildtime}</time>
                                                                        </span>
                                                                        <span>
                                                                                <i class="icon-zoom-in icon-large"></i>
                                                                                字体：
                                                                                <a href="javascript:;" onclick="checkFontSize(18)">大</a>
                                                                                <a href="javascript:;" onclick="checkFontSize(16)">中</a>
                                                                                <a href="javascript:;" onclick="checkFontSize(14)">小</a>
                                                                        </span>
                                                                </aside>
                                                        </header>
                                                        <div class="cls"></div>
                                                </div>
                                                <!-- .entry-meta -->

                                                <article class="entry-content">
                                                        <div class="ad_1">
                                                                <a target="_blank" href="javascript:;">
                                                                        <img alt="云表格" src="<?=$skin?>/images/960x60.png">
                                                                </a>
                                                        </div>
                                                        <!--文章内容 star-->
                                                        <div>
                                                                {content}
                                                        </div>
                                                        <!--文章内容 stop-->
                                                        <div class="loc_link">
                                                                <ul>
                                                                        <li>本文固定链接: <a href="<?=$domainname?>/view-{id}.html" rel="bookmark" title="{title}"><?=$domainname?>/view-{id}.html</a></li>
                                                                        <li>转载请注明: <a href="javascript:;" title="由爱运营发布" rel="author"><?=$domainname?></a> <time>{buildtime}  </time>于 <a href="javascript:;" title="访问网站运营">网站运营</a> 发表</li>
                                                                </ul>
                                                        </div>
                                                        <div style="margin-top>: 10px">
                                                                <!--分享代码-->
                                                        </div>
                                                        <div class="author_info">
                                                                <div class="au_top_bar">
                                                                        <div class="edit_date">最后编辑：<time>2016-03-03</time></div>
                                                                        <b>作者：<?=$domainname?></b>
                                                                </div>
                                                                <div class="avatar">
                                                                        <img alt='<?=$domainname?>' src='<?=$skin?>/images/favicon.ico' class='avatar avatar-96 photo' height='96' width='96' />
                                                                </div>
                                                                <div class="type_out">
                                                                        <span class="ttxx">在爱运营交流各自运营知识，让我们的运营能力在沟通中得到提升。官方微信账号：iyunyingorg。欢迎关注微信。</span>
                                                                        <div class="au_links">
                                                                                <a href="javascript:;" class="c1">
                                                                                        <i class="icon-home"></i>站内专栏</a> 
                                                                                <a href="javascript:;" class="c2" target="_blank" rel="external nofollow">
                                                                                        <i class="icon-globe"></i>站点</a> 
                                                                                <a href="javascript:;" class="c6" target="_blank" rel="external nofollow">
                                                                                        <i class="icon-linkedin-sign"></i>新浪微博
                                                                                </a>
                                                                        </div>
                                                                </div>
                                                                <div class="cls"></div>
                                                        </div>
                                                        >
                                                </article>

                                        </div>
                                         {/data_content}
                                        <!-- #post-## -->
                                        <div class="c-bot">
                                                <aside class="cb_bq">
                                                        <i class="icon-tag icon-large"></i>
                                                         <?php foreach ($this->sys_cms_content->getTagsByAid($data_content[0]['id']) as $key => $value) {?>
                                                                <a href="<?=$domainname?>/tags-<?=$value['tid']?>.html" rel="tag"><?=$value['tagname']?></a>
                                                         <?php }?>
                                                        
                                                </aside>
                                                <div class="cls"></div>
                                        </div>
                                        <br />
                                        <div id="nav-below" class="navigation">
                                                <div class="nav-previous">
                                                        <a href="javascript:;" rel="next"><span class="meta-nav"><i class="icon-arrow-left"></i></span>App推广：聊聊那些不花钱的推广渠道 
                                                        </a>
                                                </div>
                                                <div class="nav-next">
                                                        <a href="javascript:;" rel="prev">花了千万去推一个游戏产品带来几百万用户，最后却被留存率打脸？  <i class="icon-arrow-right"></i>
                                                        </a>
                                                </div>
                                        </div>
                                        <!-- #nav-below -->
                                        <div class="cls"></div>
                                        <div class="ad_2">
                                               

                                        </div>
                                        <div class="relatedposts">

                                                <h3 class="widget-title"><i class="icon-warning-sign"></i>您可能还会对这些运营文章感兴趣！</h3>
                                                <ul>
                                                         <?php foreach ($this->sys_cms_content->getNewList(4,0,'id desc') as $key => $value) {?>
                                                                <li><a href="<?=$domainname?>/view-<?=$value['id']?>.html" rel="bookmark" title="<?=$value['title']?>"><?=$value['title']?></a></li>

                                                        <?php }?>
                                                </ul>
                                                <div class="cls"></div>
                                        </div>
                                </div>
                                <!-- #content -->
                        </div>
                        <!-- #container -->
                        <script type="text/javascript">loading('55%', 1000)</script>
                        <aside id="primary" class="side" role="complementary">
                                <ul class="xoxo">
                                        <li id="text-5" class="widget-container widget_text">
                                                <div class="textwidget">
                                                       <a target="_blank" href="javascript:;">
                                                                <img alt="云表格" src="<?=$skin?>/images/300x300.png">
                                                        </a>
                                                </div>
                                        </li>
                                        <li id="text-3" class="widget-container widget_text">
                                                <h3 class="widget-title">推荐运营专题</h3>
                                                <div class="textwidget">
                                                       <?php foreach ($this->sys_cms_content->getNewList(10,0,'id desc') as $key => $value) { ?>
                                                            <p>
                                                                    <a href="<?=$domainname?>/view-<?=$value['id']?>.html" ><?=$value['title']?></a>
                                                            </p>
                                                        <?php }?>  
                                                </div>
                                        </li>
                                       
                                        <li id="recent-posts-2" class="widget-container widget_recent_entries">
                                                <h3 class="widget-title">最新运营文章</h3>
                                                <ul>
                                                      <?php foreach ($this->sys_cms_content->getNewList(10,10,'id desc') as $key => $value) { ?>
                                                                <li>
                                                                        <a href="<?=$domainname?>/view-<?=$value['id']?>.html"><?=$value['title']?></a>
                                                                </li>
                                                        <?php }?>
                                                </ul>
                                        </li>
                                        <li id="ds-top-threads-2" class="widget-container ds-widget-top-threads">
                                                <h3 class="widget-title">随机运营文章</h3>
                                                <ul class="ds-top-threads" data-num-items="25" data-range="monthly">
                                                        <?php foreach ($this->sys_cms_content->getWhereList('and isrecommend=2',10,0,' order by newsdate desc') as $key => $value) {?>
                                                                <li>
                                                                        <a href="<?=$domainname?>/view-<?=$value['id']?>.html"><?=$value['title']?></a>
                                                                </li>
                                                        <?php }?>   
                                                </ul>
                                        </li>
                                        <script>
                                                if (typeof DUOSHUO !== 'undefined')
                                                        DUOSHUO.TopThreads && DUOSHUO.TopThreads('.ds-top-threads');
                                        </script>
                                        <li id="tag_cloud-2" class="widget-container widget_tag_cloud">
                                                <h3 class="widget-title">热门运营词</h3>
                                                <div class="tagcloud">
                                                        <?php foreach ($this->sys_cms_content->getTagsList(60,0) as $key => $value) { $randnum = mt_rand(0,3000)?>

                                                        <a href='<?=$domainname?>/tags-<?=$value['id']?>.html' class='tag-link-<?=$randnum?>' title='<?=$value['name']?>' style='font-size: 14px;'><?=$value['name']?></a>
                                                        <?php }?>
                                                </div>
                                        </li>

                                </ul>
                        </aside>
                        <script type="text/javascript">loading('78%', 1000)</script>
                        <div class="cls"></div>
                </section>
                <div class="cls"></div>
                <!--main stop-->