                <!--footer star-->
                <footer id="footer" role="contentinfo">
                        <div id="colophon">

                                <div id="site-info">
                                        <a href="javascript:;" onclick="goRoll(0)" id="goTop">返回顶部</a> <a href="javascript:;">网站地图</a> &nbsp; <a href="javascript:;" rel="external nofollow">粤ICP备14101015号</a>

                                        丨

                                        ©Copyright © 2014-2016  iyunying.org All Rights Reserved. | Theme <span id='official'>frontopen2</span>
                                </div>
                        </div>
                </footer>
                <!--footer stop-->
        </div>

        <div id="float">
                <a id="float_gotop" class="floatbtn" href="javascript:void()" onclick="goRoll(0)" title="返回顶部"></a>
                <a class="linbak floatbtn" href="javascript:;" title="登陆&注册"></a>
                <a id="float_goend" class="floatbtn" href="javascript:void()" onclick="goend()" title="转到底部"></a>
        </div>
</body>
</html>
<script type="text/javascript">loading('100%', 1000)</script>