<!--main star-->
                <section class="conter marauto">
                        <script type="text/javascript">loading('33%', 1000)</script>
                        <div class="main">
                                <div class="focus">
                                        <div class="focus_img">
                                                <ul>
                                                <?php foreach ($this->sys_cms_content->getFirsttitleList(5) as $key => $value) {
                                                ?>
                                                <li><a href="<?=$domainname?>/view-<?=$value['id']?>.html">
                                                                <img src="<?=$value['headimage']?>" alt="<?=$value['title']?>" /></a><div class="type_text">
                                                                        <p class="title"><?=$value['title']?></p>
                                                                </div>
                                                </li>
                                                <?php }?>
                                                </ul>
                                        </div>
                                        <div class="bt_line"></div>
                                </div>
                                <script type="text/javascript">
                                        jQuery(window).resize(function () {
                                                FocusSize()
                                        })
                                        //焦点图
                                        jQuery(document).ready(function ($) {
                                                dn = 0;
                                                imgNum = $('.focus_img img').length;
                                                homeFocus(0)
                                                FocusSize()
                                                for (i = 0; i < imgNum; i++) {
                                                        $("<a href='javascript:;'></a>").appendTo(".bt_line");
                                                }

                                                $('.bt_line a').mouseover(function () {
                                                        var btIndex = $(this).index();
                                                        $('.bt_line a').eq(btIndex).addClass('current').siblings().removeClass();
                                                        homeFocus(btIndex)
                                                        dn = btIndex;
                                                })
                                                $('.bt_line a').eq(0).addClass('current');
                                                $('.focus_img li').eq(0).show();

                                                $('.focus').hover(function () {
                                                        clearTimeout(clocks);
                                                }, function () {
                                                        clocks = setInterval(clock, 5000)
                                                })
                                                clocks = setInterval(clock, 5000)
                                                function clock() {
                                                        if (dn >= imgNum - 1) { dn = 0 } else { dn++ };
                                                        homeFocus(dn)
                                                }
                                                function homeFocus(nub) {
                                                        $('.focus_img li').eq(nub).css('z-index', '3').siblings().css('z-index', '0');
                                                        $('.focus_img li').eq(nub).fadeIn(500).siblings().fadeOut(500);
                                                        $('.bt_line a').eq(nub).addClass('current').siblings().removeClass();
                                                        imgSrc = $('.focus_img li img').eq(nub).attr('data-focus-src');
                                                        $('.focus_img li img').eq(nub).attr('src', imgSrc);
                                                }
                                        })
                                        function FocusSize() {
                                                defHeight = 380;
                                                defWidth = 960;
                                                nowImgWidth = jQuery('.focus').width();
                                                biLi = defHeight / defWidth;
                                                FocusHeight = nowImgWidth * biLi;
                                                jQuery('.focus_img').height(FocusHeight);
                                                jQuery('.focus_img li').height(FocusHeight)
                                                jQuery('.focus_img img').height(FocusHeight)
                                        }
                                </script>
                                <div class="top_box">
                                        <?php foreach ($this->sys_cms_content->getNewList(3,0,'id desc') as $key => $value) { ?>
                                         <div class="top_post">
                                                <div class="title">置 顶</div>
                                                <article class="ulist">
                                                        <h2><a href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>" rel="bookmark"><i class="icon-eject icon-large"></i><?=$value['title']?></a>
                                                                <span class='title_new'>HOT</span>  <span><?=date('y-m-d',strtotime($value['buildtime']))?></span></h2>
                                                </article>
                                        </div>
                                        <?php }?>
                                </div>
                                <!--模块文章列表 star-->
                                <?php 
                                foreach ($this->sys_cms_content->getWhereList('and headimage<>"" ',20,0,' order by id desc') as $key => $value) {
                                ?>
                                 <article class="post_box">
                                        <div class="c-top" id="post-46981">
                                                <div class="datetime">
                                                        <?=date('y',strtotime($value['buildtime']))?><br />
                                                        <?=date('m-d',strtotime($value['buildtime']))?>
                                                </div>
                                                <header class="tit">
                                                        <h2 class="h1">
                                                                <a href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>" rel="bookmark"><?=$value['title']?></a>
                                                                <span class='title_new'>NEW</span>

                                                        </h2>
                                                        <aside class="iititle">
                                                                <span>
                                                                        <i class="icon-user icon-large"></i>
                                                                        <a href="<?=$domainname?>" title="<?=$sitename?>" rel="author"><?=$sitename?></a>

                                                                </span>
                                                                <span>
                                                                        <i class="icon-folder-open icon-large"></i>
                                                                        <a href="<?=$domainname?>/list-<?=$value['cid']?>.html" rel="category tag"><?=$value['catname']?></a>

                                                                </span>
                                                                <span>
                                                                        <i class="icon-eye-open icon-large"></i>围观<?=$value['onclick']?>次

                                                                </span>
                                                                <span>
                                                                        <i class="icon-comment-alt icon-large"></i>
                                                                        <a href="javascript:;" class="ds-thread-count">留下评论</a>
                                                                </span>

                                                        </aside>
                                                </header>
                                        </div>
                                        <div class="c-con">
                                                <a href="<?=$domainname?>/view-<?=$value['id']?>.html" class="disp_a" rel="bookmark" title="<?=$value['title']?>">
                                                        <img src="<?=$value['headimage']?>" alt="<?=$value['title']?>" /><?=mb_substr($value['description'],0,180)?> </a><a href="<?=$domainname?>/view-<?=$value['id']?>.html" class="more-link">Read More ></a><div class="cls"></div>
                                        </div>
                                        <div class="c-bot">
                                                <aside class="cb_bq">
                                                        <i class="icon-tag icon-large"></i>
                                            <?php foreach ($this->sys_cms_content->getTagsByAid($value['id']) as $key => $value) {?>
                                                 <a  href="<?=$domainname?>/tags-<?=$value['tid']?>.html" rel="tag" ><?=$value['tagname']?></a>
                                            <?php }?>
                                                </aside>
                                                <div class="cls"></div>
                                        </div>
                                </article>
                                <?php }?>
                                <!--模块文章列表 stop-->
                                <div class="cls"></div>
                                <!--分页 star-->
                                <div class="page_num">
                                        <a href='javascript:;' class='current'>1</a>
                                        <a href='javascript:;'>2</a>
                                        <a href='javascript:;'>3</a>
                                        <a href='javascript:;'>4</a>
                                        <a href='javascript:;'>5</a>
                                        <a href='javascript:;'>6</a>
                                        <a href='javascript:;'>7</a>
                                        <a href='javascript:;'>8</a>
                                        <a href='javascript:;'>9</a>
                                        <a href='javascript:;'>10</a>
                                        <a href="httpjavascript:;">下一页 &raquo;</a>
                                </div>
                                <!--分页 stop-->
                        </div>
                        <!-- #main -->
                        <script type="text/javascript">loading('55%', 1000)</script>
                        <!-- 右侧内容 star-->
                        <aside id="primary" class="side" role="complementary">
                                <ul class="xoxo">
                                        <li id="text-3" class="widget-container widget_text">
                                                <h3 class="widget-title">推荐运营专题</h3>
                                                <div class="textwidget">
                                                        <?php foreach ($this->sys_cms_content->getNewList(10,0,'id desc') as $key => $value) { ?>
                                                                <p>
                                                                        <a href="<?=$domainname?>/view-<?=$value['id']?>.html" ><?=$value['title']?></a>
                                                                </p>
                                                        <?php }?>
                                                       
                                                </div>
                                        </li>
                                        <li id="text-6" class="widget-container widget_text">
                                                <div class="textwidget">
                                                        <a target="_blank" href="javascript:;">
                                                                <img alt="云表格" src="<?=$skin?>/images/300x300.png">
                                                        </a>
                                                </div>
                                        </li>
                                        <li id="recent-posts-2" class="widget-container widget_recent_entries">
                                                <h3 class="widget-title">最新运营文章</h3>
                                                <ul>
                                                        <?php foreach ($this->sys_cms_content->getNewList(10,10,'id desc') as $key => $value) { ?>
                                                                <li>
                                                                        <a href="<?=$domainname?>/view-<?=$value['id']?>.html"><?=$value['title']?></a>
                                                                </li>
                                                        <?php }?>
                                                </ul>
                                        </li>
                                        <li id="ds-top-threads-2" class="widget-container ds-widget-top-threads">
                                                <h3 class="widget-title">随机运营文章</h3>
                                                <ul class="ds-top-threads" data-num-items="25" data-range="monthly">
                                                       <?php foreach ($this->sys_cms_content->getWhereList('and isrecommend=2',10,0,' order by newsdate desc') as $key => $value) {?>
                                                                <li>
                                                                        <a href="<?=$domainname?>/view-<?=$value['id']?>.html"><?=$value['title']?></a>
                                                                </li>
                                                        <?php }?>   
                                                </ul>
                                        </li>
                                        <script>
                                                if (typeof DUOSHUO !== 'undefined')
                                                        DUOSHUO.TopThreads && DUOSHUO.TopThreads('.ds-top-threads');
                                        </script>
                                       
                                        <li id="tag_cloud-2" class="widget-container widget_tag_cloud">
                                                <h3 class="widget-title">热门运营词</h3>
                                                <div class="tagcloud">
                                                        <?php foreach ($this->sys_cms_content->getTagsList(60,0) as $key => $value) { $randnum = mt_rand(0,3000)?>

                                                        <a href='<?=$domainname?>/tags-<?=$value['id']?>.html' class='tag-link-<?=$randnum?>' title='<?=$value['name']?>' style='font-size: 14px;'><?=$value['name']?></a>
                                                        <?php }?>
                                                </div>
                                        </li>
                                        <li id="linkcat-2596" class="widget-container widget_links">
                                                <h3 class="widget-title">友情链接</h3>
                                                <ul class='xoxo blogroll'>
                                                        <li><a href="javascript:;" title="91运营网" target="_blank">91运营网</a></li>
                                                        <li><a href="javascript:;" target="_blank">APP推广</a></li>
                                                        <li><a href="javascript:;" target="_blank">APP营销学院</a></li>
                                                        <li><a href="javascript:;" target="_blank">i运营</a></li>
                                                        <li><a href="javascript:;" target="_blank">Java培训</a></li>
                                                        <li><a href="javascript:;" target="_blank">PM28</a></li>
                                                        <li><a href="javascript:;" target="_blank">中国营销沙龙</a></li>
                                                        <li><a href="javascript:;" title="人人都是产品经理" target="_blank">人人都是产品经理</a></li>
                                                        <li><a href="javascript:;" target="_blank">优派网</a></li>
                                                        <li><a href="javascript:;" target="_blank">免费网站模板</a></li>
                                                        <li><a href="javascript:;">天羽站长网</a></li>
                                                        <li><a href="javascript:;" target="_blank">姑婆那些事儿</a></li>
                                                        <li><a href="javascript:;" target="_blank">极品飞鸽</a></li>
                                                        <li><a href="javascript:;" title="爱营销" target="_blank">爱营销</a></li>
                                                        <li><a href="javascript:;" target="_blank">瑜伽教程</a></li>
                                                        <li><a href="javascript:;" target="_blank">网络推广</a></li>
                                                        <li><a href="javascript:;" target="_blank">网络推广技巧</a></li>
                                                        <li><a href="javascript:;" target="_blank">运营之路</a></li>
                                                        <li><a href="javascript:;" target="_blank">运营喵</a></li>
                                                        <li><a href="javascript:;" target="_blank">运营论坛</a></li>
                                                        <li><a href="javascript:;" target="_blank">酷social</a></li>
                                                        <li><a href="javascript:;" title="阿让达博客" target="_blank">阿让达博客</a></li>
                                                </ul>
                                        </li>
                                        <li id="siteinfowidget-2" class="widget-container widget_links">
                                                <h3 class="widget-title">站点信息</h3>
                                                <ul class="xoxo siteInfo">
                                                        <li>文章总数：7995篇</li>
                                                        <li>分类总数：29个</li>
                                                        <li>标签总数：8673个</li>
                                                        <li>评论总数：1328条</li>
                                                        <li>页面总数：26个</li>
                                                        <li>网站已运行：702天</li>
                                                </ul>
                                        </li>
                                </ul>
                        </aside>
                        <!-- 右侧内容 stop-->
                        <script type="text/javascript">loading('78%', 1000)</script>
                        <div class="cls"></div>
                </section>
                  <div class="cls"></div>
                <!-- main stop- -->