                        

                                <div class="qianmo-aside-wrapper">
                                        <div class="qianmo-index-section copyright-qianmo-index-section">
                                                <ol class="breadcrumb">
                                                        <li><a href="<?=$domainname?>">反馈建议</a></li>
                                                        <li><a href="<?=$domainname?>">加入公社</a></li>
                                                        <li><a href="<?=$domainname?>">公社协议</a></li>
                                                        <li><a href="<?=$domainname?>">关于公社</a></li>
                                                </ol>
                                                <div class="copyright">
                                                        &copy; <?=$beian?>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        <script type="text/javascript">
                (function () {
                        function e(c) { for (var d = document.querySelectorAll("img.lazyload"), a, b = 0; b < d.length; ++b) a = d[b], a.src || a.setAttribute("src", "/skin/qianmo/images/lazyload.jpg"), c.a.push([a.getBoundingClientRect().top, a]); c.b() }
                        new function () { this.a = []; this.c = Date.now(); var c = this; this.b = function () { if (!(10 > Date.now() - this.c)) { for (var d = window.innerHeight + window.pageYOffset, a = 0; a < c.a.length; ++a) { var b = c.a[a]; null != b && d > b[0] - 200 && (b = b[1], b.setAttribute("src", b.getAttribute("data-src")), c.a[a] = null) } this.c = Date.now() } }; window.addEventListener("scroll", this.b); e(this) };
                })()
        </script>
</body>
</html>
