<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
        <title><?=$htitle?></title>
        <meta name="keywords" content="<?=$sitekeywords?>" />
        <meta name="description" content="<?=$sitedescription?>" />
        <link href="<?=$skin?>/css/common.min.css" rel="stylesheet" />
        <link href="<?=$skin?>/css/watch.css" rel="stylesheet" />
        <link href="<?=$skin?>/css/index.css" rel="stylesheet" />
        <script src="<?=$skin?>/js/jquery-1.11.3.min.js"></script>
</head>
<script type="text/javascript">
$(document).ready(function () {
    $('img').each(function(){
        var imgsrc = this.src;
        if(imgsrc.match("http://mmbiz.qpic.cn") || imgsrc.match("photo.store.qq.com") || imgsrc.match("hiphotos.baidu.com") || imgsrc.match("ph.126.net") || imgsrc.match("yujiame.com") || imgsrc.match("tuicool.com") || imgsrc.match("jirou.com") || imgsrc.match("qhimg.com")){
            if(imgsrc.match("/getimg.php")){

            }else{
                var newurl = "/getimg.php?url="+imgsrc;
                $(this).attr('src',newurl);
            }

        }

    });
});
</script>
<body>
        <div class="qianmo-topbar" id="qianmoTopbar">
                <div class="topbar-top">
                        <div class="center-container">
                                <div class="qianmo-topbar-logo">
                                        <a href="/">
                                                <img src="<?=$skin?>/images/qianmo-logo.png" alt="" width="156" />
                                        </a>
                                </div>
                                <div class="qianmo-search">
                                        <div class="form-group has-feedback qianmo-topbar-search">
                                                <input type="text" class="form-control" placeholder="请输入您想要的内容">
                                                <span class="fa fa-search form-control-feedback" aria-hidden="true"></span>
                                        </div>
                                </div>
                                <div class="top-bar-ctrl userActionArea"></div>
                        </div>
                </div>
                <div class="topbar-slide" id="qianmoSlidebarInfo">
                        <div class="center-container">
                                <a href="<?=$domainname?>" class="qm-nav-actice" title="" >首页</a>
                        <?php foreach ($this->sys_cms_category->classlistbypid(0,10,'sort asc') as $key => $value) {?>
                            <a  href="<?=$domainname?>/cat-<?=$value['id']?>.html" ><?=$value['name']?></a>
                        <?php }?> 
                        </div>
                </div>
        </div>
