<div class="qianmo-content">
        <div class="center-container qianmo-index-container">
                <div class="qianmo-index-article">
                        <div class="qianmo-index-article-top qianmo-flexarea">
                                <div id="banner" class="qianmo-slide">
                                        <div class="qianmo-slider-inner">
                                                <?php foreach ($this->sys_cms_content->getWhereList('and isrecommend=1',4,0,' order by id desc') as $key => $value) {?>  
                                                <a  href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>">
                                                         <img src="<?=$value['videoimg']?>" alt="<?=$value['title']?>"/>
                                                        <span><?=$value['title']?></span>
                                                </a>
                                                <?php }?>
                                        </div>
                                        <div class="qianmo-slider-indicator">
                                        </div>
                                </div>



                                <?php foreach ($this->sys_cms_content->getWhereList('and isrecommend=2',8,0,' order by id desc') as $key => $value) {?>  
                                <div class="column">
                                        <a  href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>">
                                                <img src="<?=$value['headimage']?>" alt="<?=$value['title']?>"/>
                                                <p><?=mb_substr($value['description'],0,30)?></p>
                                        </a>
                                </div>
                                <?php }?>
                        </div>
                        <div class="clearfix"></div>

                        <?php foreach ($this->sys_cms_category->classlistbypid(0,10,'sort asc') as $key => $cat) {?>
                        <div class="qianmo-index-section" data-id="<?=$cat['id']?>">
                                <div class="qianmo-index-section-header"><a href="<?=$domainname?>/cat-<?=$cat['id']?>.html" class="title"><?=$cat['name']?><span> / 更多</span></a></a><a href="#" class="pull-right refresh"><i class="fa fa-refresh"></i><span>点击刷新稿件动态</span></a></div>
                                <div class="qianmo-flexarea postContainer">
                                <?php 
                                foreach ($this->sys_cms_content->getWhereList('and class_id='.$cat['id'].' and headimage<>"" ',12,0,' order by id desc') as $key => $value) {
                                ?>
                                        <div class="column">
                                                <div class="thumbnail video-thumbnail">
                                                        <a class="video-thumbnail-con" target="_blank" href="<?=$domainname?>/view-<?=$value['id']?>.html" >
                                                                <img class="lazyload" data-src="<?=$value['headimage']?>" alt="<?=$value['title']?>"><div class="time" data-duration="175"></div>
                                                        </a>
                                                        <div class="caption">
                                                                <a target="_blank" href="<?=$domainname?>/view-<?=$value['id']?>.html" ><?=$value['title']?></a>
                                                                <p><?=mb_substr($value['description'],0,16)?></p>
                                                        </div>
                                                </div>
                                        </div>
                                <?php }?>
                                </div>
                        </div>
                        <div class="clearfix"></div>
                        <?php }?> 
                </div>



                        <div class="qianmo-index-aside">
                                <div class="qianmo-aside-banner">
                                        <a href="<?=$domainname?>">
                                                <img src="<?=$skin?>/images/app_sidebar.jpg" alt="" />
                                        </a>
                                </div>
                                <div class="qianmo-aside-wrapper">
                                        <div class="qianmo-aside-title">
                                                <h3>全站排行</h3>
                                        </div>

                        <?php 
                        $topnum = 0;
                        foreach ($this->sys_cms_content->getNewList(10,0,'id desc') as $key => $value) {
                        $topnum = $topnum + 1;
                        $topclass = $topnum > 3 ? 'top3' : ''; 
                        ?>
                                        <div class="qianmo-aside-info">
                                                <a  target="_blank" href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>" >
                                                        <img src="<?=$value['headimage']?>" alt="<?=$value['title']?>">
                                                </a>
                                                <div class="caption">
                                                        <a href="<?=$domainname?>/view-<?=$value['id']?>.html" ><?=$value['title']?></a>
                                                        <div class="caption-info">
                                                                <div class="icon-con"><i class="fa fa-user"></i><span><?=$value['catname']?></span></div>
                                                                <div class="number"><?=$topnum?></div>
                                                        </div>
                                                </div>
                                        </div>
                        <?php }?>

                                </div>

                        <?php foreach ($this->sys_cms_category->classlistbypid(0,10,'sort asc') as $key => $cat) {?>
                                <div class="qianmo-aside-wrapper aside-bottom">
                                        <div class="qianmo-aside-title">
                                                <h3><?=$cat['name']?></h3>
                                        </div>
                                        <?php 
                                        $topnum = 0;
                                        foreach ($this->sys_cms_content->getWhereList('and class_id='.$cat['id'].' and headimage<>"" ',10,0,' order by onclick desc') as $key => $value) {
                                        $topnum = $topnum + 1;
                                        $topclass = $topnum > 3 ? 'top3' : ''; 
                                        ?>
                                        <div class="qianmo-aside-info">
                                                <a  href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>" >
                                                        <img src="<?=$value['headimage']?>" alt="<?=$value['title']?>">
                                                </a>
                                                <div class="caption">
                                                        <a target="_blank" href="<?=$domainname?>/view-<?=$value['id']?>.html" ><?=$value['title']?></a>
                                                        <div class="caption-info">
                                                                <div class="icon-con"><i class="fa fa-user"></i><span><?=$value['catname']?></span></div>
                                                                <div class="number"><?=$topnum?></div>
                                                        </div>
                                                </div>
                                        </div>
                                        <?php }?>
                                </div>
                        <?php }?>













