        <!--main star-->
        <div class="layout siteMain">
            <div class="siteMainBody out">
                <div class="leftList in">
                    <div class="arlBk">
                       <?php foreach ($this->sys_cms_content->getNewList(15) as $key => $value) {?>                      
                        <div class="arlBkList">
                            <a href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>"><h2><?=$value['title']?></h2></a>
                            <div class="time out">
                                <i class="in"></i>
                                <span class="in"><?=$value['buildtime']?></span>
                            </div>
                            <div class="contxt">
                                <p><?=mb_substr($value['description'],0,90)?>...</p>
                            </div>
                            <a href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>" class="readAll">阅读全文</a>
                        </div>
                        <?php }?>
                        
                        
                    </div>
                </div>
                <div class="rightList in">
                    <div class="seniority">
                        <div class="title">
                            <h2>一周排行版</h2>
                        </div>
                        <div class="ctList">
                            <ul>
                            <?php foreach ($this->sys_cms_content->getNewList(10,15) as $key => $value) {?>
                              <li><a href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>"><?=$value['title']?></a></li>
                            <?php }?>
                            </ul>
                        </div>
                    </div>
                    <div class="m20"></div>
                    <div class="seniority">
                        <div class="title">
                            <h2>推荐公众号</h2>
                        </div>
                        <div class="ctPicList">
                            <ul>
                            {hotweixin}
                            <li class="out">
                                <a class="pic in" href="<?=$domainname?>/list-{id}.html" title="{catname}">
                                    <img src="{logourl}" alt="{catname}" />
                                </a>
                                <a class="txt in" href="<?=$domainname?>/list-{id}.html" title="{catname}">
                                    <h2>{catname}</h2>
                                    <span>微信号：</span><span>{weixinhao}</span>
                                </a>
                            </li>
                          {/hotweixin}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--main stop-->