<!--main star-->

        <div class="layout siteMain">
            <div class="siteMainBody out">
                <!--left star-->
                <div class="leftList in">
                    <div class="arlBk">
                        <div class="listLk">
                            <div class="breadCrumb">
                                <?=$mypostion?>
                            </div>
                            <div class="m10"></div>
                            <div class="txtList">
                                <ul>
                                 <?php foreach ($news as $key => $value) {?>
                                     <li class="out">
                                        <i class="in">·</i>
                                        <a class="in"href="<?=$domainname?>/view-<?=$value['id']?>.html"><?=$value['title']?></a>
                                        <span class="in"><?=date('Y-m-d',strtotime($value['buildtime']))?></span>
                                    </li>
                                 <?php }?>

                                   
                                </ul>
                            </div>
                        </div>
                        <div class="m20"></div>
                        <!-- page star-->
                        <div class="preNext">
                        <ul class="pnUl out">
                         <ul class="page-nav inline-block">
                            <?php  $this->pager->show();  ?> 
                         </ul>
                    </div>
                        <!-- page stop-->
                    </div>
                </div>
                <!--left stop-->
                <!--right star-->
                <div class="rightList in">
                    <div class="seniority">
                        <div class="title">
                            <h2>最新文章</h2>
                        </div>
                        <div class="ctList">
                            <ul>
                            {newest}
                                <li><a href="<?=$domainname?>/view-{id}.html" title="{title}">{title}</a></li>
                            {/newest}
                               

                            </ul>
                        </div>
                    </div>
                    <div class="m20"></div>
                   <div class="seniority">
                        <div class="title">
                            <h2>推荐公众号</h2>
                        </div>
                        <div class="ctPicList">
                            <ul>
                                {hotweixin}
                                 <li class="out">
                                    <a class="pic in" href="<?=$domainname?>/list-{id}.html" title="{catname}">
                                        <img src="{logourl}" alt="{catname}" />
                                    </a>
                                    <a class="txt in" href="<?=$domainname?>/list-{id}.html" title="{catname}">
                                        <h2>{catname}</h2>
                                        <span>微信号：</span><span>{weixinhao}</span>
                                    </a>
                                </li>
                                {/hotweixin}

                                
                            </ul>
                        </div>
                    </div>
                </div>
                <!--right stop-->
            </div>
        </div>
        <!--main stop-->
{infoweixin}
<input type="hidden" id="cat_id" name="cat_id" value="{id}" >
{/infoweixin}
<script type="text/javascript">
    $(document).ready(function(){
        var id  = $("#cat_id").val();
        $.ajax({
            type:'GET',
            url:'/index.php?c=cms_index&m=catClick&id='+id+''
        });

    });
</script>