@charset "utf-8";html{overflow-y:scroll;background:#fff;color:#222;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html *{outline:0;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:transparent;}
body{position:relative;overflow:hidden;background-color:#f4f4f4;}
article,aside,blockquote,body,button,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul{margin:0;padding:0;}
input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
abbr,acronym{border:0;font-variant:normal;}
del{text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var{font-weight:500;font-style:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-weight:500;font-size:100%;}
q:after,q:before{content:'';}
sub,sup{position:relative;vertical-align:baseline;font-size:75%;line-height:0;}
sup{top:-.5em;}
sub{bottom:-.25em;}
a:hover{text-decoration:none;}
a,ins{color:#222;text-decoration:none;}
*,:after,:before{box-sizing:border-box;margin:0;padding:0;}
.clearfix:after{clear:both;display:block;visibility:hidden;height:0;content:".";}
.mt25{margin-top:.333333rem;}
.header{width:100%;background-color:#fff;}
.header .item-1{position:relative;width:100%;height:1.066667rem;border-bottom:.013333rem solid #e7e7e7;text-align:left;}
.header .item-1 .logo{display:inline-block;overflow:hidden;padding-left:.466667rem;height:1.066667rem;max-width:2.666667rem;font-size:.666667rem;line-height:1.066667rem;}
.header .item-1 .logo a{display:block;width:2.666667rem;height:100%;background:url(../images/logo.png) no-repeat;background-size:contain;color:#da6b8e;}
.header .search{position:absolute;top:.133333rem;right:.533333rem;width:.666667rem;height:.666667rem;color:#666;text-align:center;font-size:.613333rem;line-height:.666667rem;}
.header .nav{width:100%;border-bottom:.013333rem solid #e7e7e7;text-align:center;}
.header .nav a{display:inline-block;padding-right:.4rem;padding-left:.4rem;height:1.066667rem;color:#444;font-size:.426667rem;line-height:1.066667rem;}
.header .nav a.active{height:1.066667rem;border-bottom:.093333rem solid #e0698c;}
.main .slide-box{margin-top:.013333rem;width:100%;height:4.666667rem;}
.slide-box .swiper-slide{display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;}
.slide-box .swiper-slide a{display:block;width:100%;height:4.666667rem;}
.slide-box .swiper-slide a img{display:block;width:100%;height:4.666667rem;}
.slide-box .swiper-pagination-bullet-active{background-color:#df678d;}
.section-1,.section-2{width:100%;background-color:#fff;}
.section-1 .hd,.section-2 .hd{padding-top:.4rem;padding-left:.333333rem;}
.section-1 .hd a,.section-2 .hd a{display:block;color:#444;font-size:.453333rem;}
.section-1 .hd a i{color:#edcc33;font-size:.453333rem;}
.section-2 .hd a i{color:#cc2e2c;}
.section-1 .bd,.section-2 .bd{padding-bottom:.333333rem;font-size:0;}
.section-1 .bd figure,.section-2 .bd figure{display:inline-block;margin-top:.333333rem;margin-left:.333333rem;width:4.533333rem;}
.section-1 .bd figure a,.section-2 .bd figure a{width:4.533333rem;}
.section-1 .bd figure a img,.section-2 .bd figure a img{display:block;width:4.533333rem;height:2.866667rem;-webkit-border-radius:.133333rem;-moz-border-radius:.133333rem;border-radius:.133333rem;}
.section-1 .bd figure a span,.section-2 .bd figure a span{display:block;height:1.173333rem;color:#444;font-size:.373333rem;line-height:.586667rem;}
.section-1 .bd figure .desc,.section-2 .bd figure .desc{position:relative;display:block;color:#999;font-size:.32rem;}
.section-1 .bd figure .desc i,.section-2 .bd figure .desc i{padding-right:.133333rem;color:#de698c;font-size:.32rem;}
.section-2 .bd figure .desc i{color:#999;}
.section-1 .bd figure .desc span,.section-2 .bd figure .desc span,.section-2 .bd figure .desc time{padding-right:.666667rem;}
.section-1 .bd figure .desc a,.section-2 .bd figure .desc a{position:absolute;top:0;right:.2rem;width:auto;color:#999;font-size:.32rem;}
.footer{margin-top:.333333rem;width:100%;height:1.066667rem;background-color:#df6f90;color:#fff;text-align:center;font-size:.346667rem;line-height:1.066667rem;}
.footer a{color:#fff;}
.more-navbg{position:fixed;top:0;left:0;z-index:1000;display:none;width:100%;height:100%;background:-webkit-linear-gradient(top,rgba(255,255,255,.95) 0,rgba(255,255,255,.95) 0,rgba(255,255,255,.95) 0,rgba(255,255,255,.95) 0);background:linear-gradient(to bottom,rgba(255,255,255,.95) 0,rgba(255,255,255,.95) 0,rgba(255,255,255,.95) 0,rgba(255,255,255,.95) 0);}
.more-hd{width:100%;height:1.25rem;background-color:#e5f0f3;color:#3b424c;text-align:center;font-size:.5rem;line-height:1.25rem;}
.more-close{position:absolute;top:0;right:.3rem;width:.781rem;height:1.25rem;color:#3b424c;text-align:center;}
.more-bd{padding:.156rem .234rem;}
.more-bd .desc{color:#f3867b;font-size:.38rem;line-height:.703rem;}
.more-bd-navL{margin:0 auto;width:9.531rem;}
.more-bd-navL a{float:left;display:block;margin:.5rem 0 0;margin-right:.391rem;width:2rem;height:1rem;-webkit-border-radius:.156rem;-moz-border-radius:.156rem;border-radius:.156rem;background-color:#5aaaf2;color:#fff;text-align:center;line-height:1rem;}
.more-bd-navL a:nth-child(4n){margin-right:0;}
.page-btn-box{margin-top:.333333rem;}
.page-btn-box a{display:block;margin:.333333rem 0;width:100%;height:.8rem;color:#df6f90;text-align:center;font-size:.453333rem;line-height:.8rem;}
.ar-warp{overflow:hidden;width:100%;background-color:#fff;}
.ar-title{padding-top:.333333rem;padding-right:.333333rem;padding-bottom:.2rem;padding-left:.333333rem;color:#000;font-size:.48rem;line-height:.666667rem;}
.ar-desc{padding:.133333rem .333333rem .333333rem;}
.ar-desc a,.ar-desc time{padding-right:.333333rem;color:#eca7bc;font-size:.32rem;}
.ar-content{padding:.333333rem;color:#444!important;font-size:.373333rem!important;line-height:.666667rem;}
.ar-content p{color:#444!important;font-size:.373333rem!important;line-height:.666667rem;}
.ar-content a,.ar-content span{color:#444!important;font-size:.373333rem!important;line-height:.666667rem;}
.ar-content img{display:block;margin:.266667rem 0;width:100%;}
.ar-page{text-align:center;}
.ar-page a{display:inline-block;margin-left:.2rem;padding-bottom:.4rem;min-width:.4rem;color:#e790aa;font-size:.4rem;line-height:.666667rem;}
