        <div class="martop20"></div>
        <!--main star-->
        <div class="layout siteMain out">
            <div class="weixinFwI">
                <div class="weixinFwIBody">
                    <div class="title">
                        <h2>公共号排行榜</h2>
                    </div>
                    <div class="seniorityList">
                        <ul class="out">
                        {allweixin}
                            <li class="in"><a class="in" href="<?=$domainname?>/list-{id}.html" title="{catname}">{catname}</a></li>
                        {/allweixin}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--main stop-->
