<section class="content-wrap content-page">
    <div class="container whitebg">
            <div class="row">
                    <div class="col-sm-8 col-md-offset-2">
                            <div class="breadcrumb-box">
                                    <ol class="breadcrumb">
                                            <?=$mypostion?>
                                    </ol>
                            </div>
                            <div class="article-detail">
                                {data_content}
                                    <div class="title">
                                            <h3>{title}</h3>
                                            <div class="subtitle clearfix">
                                                    <span class="src"><a href="<?=$domainname?>/list-{cid}.html">{catname}</a></span>
                                                    <span class="time">{buildtime}</span>
                                            </div>
                                    </div>
                                    <div class="article-content">
                        <link href="<?=$skin?>/css/video-js.css" rel="stylesheet">
                        <script src="<?=$skin?>/js/videojs-ie8.min.js"></script>
                        <script src="<?=$skin?>/js/video.js"></script>
                                            <?php if($data_content[0]['videourl']){ ?>
                                            <!-- 播放器 -->
                                            <p>
                                              <video id="my-video" class="video-js" controls preload="auto" width="655" height="370" poster="{videoimg}" >
                                                <source id="civideo" src="{content}" type='video/mp4'>
                                                    <input type="hidden" id="civideoid" value="{id}">
                                              </video>
                                              </p>

                                            <!-- 播放器 end -->
                                            <?php }else{ ?>
                                            <p>{content}</p>
                                            <?php } ?>
                                            
                                    </div>
                                    <div class="pagelet-detailbar">
                                            <ul class="tag-list list-inline">
                                                    <i class="lb">相关标签：</i>
                <?php foreach ($this->sys_cms_content->getTagsByAid($data_content[0]['id']) as $key => $value) {?>
                     <li><a target="_blank" href="<?=$domainname?>/tags-<?=$value['tid']?>.html" ><?=$value['tagname']?></a></li>
                <?php }?>
                                            </ul>
                                    </div>
                                {/data_content}
                                    <nav>
                                            <ul class="pager">
                                                    <li><?=$content_per?></li>
                                                    <li><?=$content_next?></li>
                                            </ul>
                                    </nav>
                            </div>
                    </div>
            </div>

            <script type="text/javascript">
                var vid = $("#civideoid").val();
                $.ajax({
                    url: '/index.php?c=cms_content&m=getVideoUrl',
                    data: {id: vid},
                    type: 'get',
                    dataType: 'json',
                    success:function(data){
                        $("#civideo").attr("src",data);

                        var player = videojs('my-video', { /* Options */ }, function() {
                          //console.log('Good to go!');

                         // this.play(); // if you don't trust autoplay for some reason

                          // How about an event listener?
                          this.on('ended', function() {
                            //console.log('awww...over so soon?');
                          });
                        });

                    }
                });
            </script>



            <div class="row">
                    <div class="col-sm-4 col-xs-12 other-r">
                            <h3>相关阅读</h3>
                            <ul class="list-unstyled">
                                <?php foreach ($this->sys_cms_content->getNewList(10,10,'id desc') as $key => $value) {?>
                                <li>
                                        <a target="_blank" href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>" target="_blank"><?=$value['title']?></a>
                                </li>
                                <?php }?>
                            </ul>
                    </div>
                    <div class="col-sm-4 col-xs-12 other-r">
                            <h3>热门精选</h3>
                            <ul class="list-unstyled">
                                <?php foreach ($this->sys_cms_content->getNewList(10,20,'id desc') as $key => $value) {?>
                                <li>
                                        <a target="_blank" href="<?=$domainname?>/view-<?=$value['id']?>.html" title="<?=$value['title']?>" target="_blank"><?=$value['title']?></a>
                                </li>
                                <?php }?>
                            </ul>
                    </div>
                    <div class="col-sm-4 col-xs-12 other-r">
                            <h3>最热内容</h3>
                            <ul class="list-unstyled">
                                {newest}
                                <li>
                                        <a target="_blank" href="<?=$domainname?>/view-{id}.html" title="{title}" target="_blank">{title}</a>
                                </li>
                                {/newest} 

                            </ul>
                    </div>
            </div>
    </div>
</section>